/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.Activity

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ActivitiesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Return the list of all Activities
     * Return the list of all Activities.
     * @param noDayBack Number of days back to search (optional)
     * @param startDate Start date (optional)
     * @param endDate End date (optional)
     * @param filter All or my activities (optional)
     * @param search Search by mail body, subject and sender/recipients (optional)
     * @param type Activity type (optional)
     * @param transactionId Transaction ID associated with the activities (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Activity>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restActivitiesGet(noDayBack: kotlin.Int? = null, startDate: kotlin.String? = null, endDate: kotlin.String? = null, filter: kotlin.String? = null, search: kotlin.String? = null, type: kotlin.String? = null, transactionId: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Activity>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        noDayBack?.apply { localVariableQuery["noDayBack"] = listOf("$noDayBack") }
        startDate?.apply { localVariableQuery["startDate"] = listOf("$startDate") }
        endDate?.apply { localVariableQuery["endDate"] = listOf("$endDate") }
        filter?.apply { localVariableQuery["filter"] = listOf("$filter") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        type?.apply { localVariableQuery["type"] = listOf("$type") }
        transactionId?.apply { localVariableQuery["transactionId"] = listOf("$transactionId") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/activities",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestActivitiesGetResponse>().map { value }
    }

    @Serializable(RestActivitiesGetResponse.Companion::class)
    private class RestActivitiesGetResponse(val value: List<Activity>) {
        companion object : KSerializer<RestActivitiesGetResponse> {
            private val serializer: KSerializer<List<Activity>> = serializer<List<Activity>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestActivitiesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestActivitiesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Return the list of Activities for this file
     * Return the list of Activities for this file.
     * @param fileId ID of the file
     * @param noDayBack Number of days back to search (optional)
     * @param startDate Start date (optional)
     * @param endDate End date (optional)
     * @param filter All or my activities (optional)
     * @param search Search by mail body, subject and sender/recipients (optional)
     * @param type Activity type (optional)
     * @param transactionId Transaction ID associated with the activities (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Activity>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesFileIdActivitiesGet(fileId: kotlin.String, noDayBack: kotlin.Int? = null, startDate: kotlin.String? = null, endDate: kotlin.String? = null, filter: kotlin.String? = null, search: kotlin.String? = null, type: kotlin.String? = null, transactionId: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Activity>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        noDayBack?.apply { localVariableQuery["noDayBack"] = listOf("$noDayBack") }
        startDate?.apply { localVariableQuery["startDate"] = listOf("$startDate") }
        endDate?.apply { localVariableQuery["endDate"] = listOf("$endDate") }
        filter?.apply { localVariableQuery["filter"] = listOf("$filter") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        type?.apply { localVariableQuery["type"] = listOf("$type") }
        transactionId?.apply { localVariableQuery["transactionId"] = listOf("$transactionId") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/{file_id}/activities".replace("{" + "file_id" + "}", "$fileId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestFilesFileIdActivitiesGetResponse>().map { value }
    }

    @Serializable(RestFilesFileIdActivitiesGetResponse.Companion::class)
    private class RestFilesFileIdActivitiesGetResponse(val value: List<Activity>) {
        companion object : KSerializer<RestFilesFileIdActivitiesGetResponse> {
            private val serializer: KSerializer<List<Activity>> = serializer<List<Activity>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestFilesFileIdActivitiesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestFilesFileIdActivitiesGetResponse(serializer.deserialize(decoder))
        }
    }

}
