/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.AdminRole
import org.openapitools.client.models.User

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AdminRolesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * List admin roles
     * Returns a list of admin roles supported by kiteworks. e.g.:                   Today we return Application and System
     * @param orderBy Sorting options (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<AdminRole>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminRolesGet(orderBy: kotlin.collections.List<kotlin.String>? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<AdminRole>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/adminRoles",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestAdminRolesGetResponse>().map { value }
    }

    @Serializable(RestAdminRolesGetResponse.Companion::class)
    private class RestAdminRolesGetResponse(val value: List<AdminRole>) {
        companion object : KSerializer<RestAdminRolesGetResponse> {
            private val serializer: KSerializer<List<AdminRole>> = serializer<List<AdminRole>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestAdminRolesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestAdminRolesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Return an admin role
     * Returns the details of a specified admin role. e.g.: Returns id and admin role name.
     * @param id ID of the adminrole to be retrieved
     * @return AdminRole
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminRolesIdGet(id: kotlin.Int): HttpResponse<AdminRole> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/adminRoles/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Return list of users with the specified admin role
     * Returns the list of admins who have the specified role. e.g.:                   Return me the user names and email addresses of all the Application admins.
     * @param id ID of the admin role to retrieve users for
     * @param email The user&#39;s email (optional)
     * @param emailColonContains The user&#39;s email. Search for result that contains specified characters in this parameter. (optional)
     * @param name The name of the user (optional)
     * @param nameColonContains The name of the user. Search for result that contains specified characters in this parameter. (optional)
     * @param metadata The metadata of the user (optional)
     * @param metadataContains The metadata of the user. Search for result that contains specified characters in this parameter. (optional)
     * @param deleted Whether the user has been deleted (optional)
     * @param active Whether the user is an actual kitework user (optional)
     * @param verified Whether the user is verified (optional)
     * @param suspended Whether the user is suspended (optional)
     * @param isRecipient Whether user is recipient (optional)
     * @param allowsCollaboration Whether user&#39;s profile allows collaboration access (optional)
     * @param created User creation date (optional)
     * @param createdColonGt User creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param createdColonGte User creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param createdColonLt User creation date. Search for result that has this parameter value less than specified. (optional)
     * @param createdColonLte User creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param locateId If specified, \&quot;offset\&quot; parameter will be ignored                                             and the page containing entity with this Id will be returned. (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<User>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminRolesIdUsersGet(id: kotlin.Int, email: kotlin.String? = null, emailColonContains: kotlin.String? = null, name: kotlin.String? = null, nameColonContains: kotlin.String? = null, metadata: kotlin.String? = null, metadataContains: kotlin.String? = null, deleted: kotlin.Boolean? = null, active: kotlin.Boolean? = null, verified: kotlin.Boolean? = null, suspended: kotlin.Boolean? = null, isRecipient: kotlin.Boolean? = null, allowsCollaboration: kotlin.Boolean? = null, created: kotlin.String? = null, createdColonGt: kotlin.String? = null, createdColonGte: kotlin.String? = null, createdColonLt: kotlin.String? = null, createdColonLte: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, locateId: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<User>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        email?.apply { localVariableQuery["email"] = listOf("$email") }
        emailColonContains?.apply { localVariableQuery["email:contains"] = listOf("$emailColonContains") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        metadata?.apply { localVariableQuery["metadata"] = listOf("$metadata") }
        metadataContains?.apply { localVariableQuery["metadataContains"] = listOf("$metadataContains") }
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        active?.apply { localVariableQuery["active"] = listOf("$active") }
        verified?.apply { localVariableQuery["verified"] = listOf("$verified") }
        suspended?.apply { localVariableQuery["suspended"] = listOf("$suspended") }
        isRecipient?.apply { localVariableQuery["isRecipient"] = listOf("$isRecipient") }
        allowsCollaboration?.apply { localVariableQuery["allowsCollaboration"] = listOf("$allowsCollaboration") }
        created?.apply { localVariableQuery["created"] = listOf("$created") }
        createdColonGt?.apply { localVariableQuery["created:gt"] = listOf("$createdColonGt") }
        createdColonGte?.apply { localVariableQuery["created:gte"] = listOf("$createdColonGte") }
        createdColonLt?.apply { localVariableQuery["created:lt"] = listOf("$createdColonLt") }
        createdColonLte?.apply { localVariableQuery["created:lte"] = listOf("$createdColonLte") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        locateId?.apply { localVariableQuery["locate_id"] = listOf("$locateId") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/adminRoles/{id}/users".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestAdminRolesIdUsersGetResponse>().map { value }
    }

    @Serializable(RestAdminRolesIdUsersGetResponse.Companion::class)
    private class RestAdminRolesIdUsersGetResponse(val value: List<User>) {
        companion object : KSerializer<RestAdminRolesIdUsersGetResponse> {
            private val serializer: KSerializer<List<User>> = serializer<List<User>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestAdminRolesIdUsersGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestAdminRolesIdUsersGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Delete a user as admin role
     * Delete a user as admin role.                   This method does not delete the user but only the role of admin for that user.
     * @param id ID of the admin role to remove from the specified user.
     * @param userId ID of the user as admin role to be deleted
     * @return void
     */
    open suspend fun restAdminRolesIdUsersUserIdDelete(id: kotlin.Int, userId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/adminRoles/{id}/users/{user_id}".replace("{" + "id" + "}", "$id").replace("{" + "user_id" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Promote a user as admin role
     * Promote a user to include an admin role. The user will become a system or application admin.
     * @param id ID of the Admin role
     * @param userId ID of user to promote admin role
     * @return void
     */
    open suspend fun restAdminRolesIdUsersUserIdPut(id: kotlin.Int, userId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/adminRoles/{id}/users/{user_id}".replace("{" + "id" + "}", "$id").replace("{" + "user_id" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
