/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.ActivityList
import org.openapitools.client.models.AdminRole
import org.openapitools.client.models.AvailableLdapGroup
import org.openapitools.client.models.Client
import org.openapitools.client.models.ClientPost
import org.openapitools.client.models.ClientPut
import org.openapitools.client.models.Device
import org.openapitools.client.models.DevicePost
import org.openapitools.client.models.DevicePut
import org.openapitools.client.models.Email
import org.openapitools.client.models.Hostname
import org.openapitools.client.models.HostnamePost
import org.openapitools.client.models.HostnamePut
import org.openapitools.client.models.LdapGroup
import org.openapitools.client.models.LdapGroupPost
import org.openapitools.client.models.LdapGroupPut
import org.openapitools.client.models.Location
import org.openapitools.client.models.LocationPost
import org.openapitools.client.models.Profile
import org.openapitools.client.models.ProfileMappingChangesPut
import org.openapitools.client.models.ProfileMappingOrder
import org.openapitools.client.models.ProfileMappingOrderPut
import org.openapitools.client.models.ProfileMappings
import org.openapitools.client.models.ProfileMappingsTest
import org.openapitools.client.models.RemoteWipePost
import org.openapitools.client.models.RequestFile
import org.openapitools.client.models.RestAdminUsersGet200Response
import org.openapitools.client.models.Settings
import org.openapitools.client.models.Source
import org.openapitools.client.models.SourcePost
import org.openapitools.client.models.SourcePut
import org.openapitools.client.models.User
import org.openapitools.client.models.UserDemoteOptionsPost
import org.openapitools.client.models.UserPost
import org.openapitools.client.models.UserPut
import org.openapitools.client.models.UsersEmailMigrationPost

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AdminApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get admin activities list
     * Get admin activities list
     * @param endDateTime End date time
     * @param startDateTime Start date time
     * @param objectIdsColonIn  (optional)
     * @param maxPages  (optional)
     * @param limit  (optional)
     * @param userId  (optional)
     * @param orderBy Order By (created, username, client, ip_address) (optional)
     * @param compact  (optional)
     * @param eventFiltersColonIn  (optional)
     * @param offset  (optional)
     * @return ActivityList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminActivitiesGet(endDateTime: kotlin.String, startDateTime: kotlin.String, objectIdsColonIn: kotlin.collections.List<kotlin.String>? = null, maxPages: kotlin.Int? = null, limit: kotlin.Int? = null, userId: kotlin.String? = null, orderBy: kotlin.String? = null, compact: kotlin.Boolean? = null, eventFiltersColonIn: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null): HttpResponse<ActivityList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        endDateTime?.apply { localVariableQuery["endDateTime"] = listOf("$endDateTime") }
        objectIdsColonIn?.apply { localVariableQuery["objectIds:in"] = toMultiValue(this, "csv") }
        startDateTime?.apply { localVariableQuery["startDateTime"] = listOf("$startDateTime") }
        maxPages?.apply { localVariableQuery["maxPages"] = listOf("$maxPages") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        userId?.apply { localVariableQuery["userId"] = listOf("$userId") }
        orderBy?.apply { localVariableQuery["orderBy"] = listOf("$orderBy") }
        compact?.apply { localVariableQuery["compact"] = listOf("$compact") }
        eventFiltersColonIn?.apply { localVariableQuery["eventFilters:in"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/activities",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns a list of available LDAP groups.
     * Returns a list of available LDAP groups.
     * @param filter Text to search for in cn, dn or description.
     * @param orderBy Sorting options (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<AvailableLdapGroup>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminAvailableLdapGroupsGet(filter: kotlin.String, orderBy: kotlin.collections.List<kotlin.String>? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<AvailableLdapGroup>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        filter?.apply { localVariableQuery["filter"] = listOf("$filter") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/availableLdapGroups",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestAdminAvailableLdapGroupsGetResponse>().map { value }
    }

    @Serializable(RestAdminAvailableLdapGroupsGetResponse.Companion::class)
    private class RestAdminAvailableLdapGroupsGetResponse(val value: List<AvailableLdapGroup>) {
        companion object : KSerializer<RestAdminAvailableLdapGroupsGetResponse> {
            private val serializer: KSerializer<List<AvailableLdapGroup>> = serializer<List<AvailableLdapGroup>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestAdminAvailableLdapGroupsGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestAdminAvailableLdapGroupsGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * List scopes of a client
     * Return a list of scopes for a specific client.     This returns the methods that this client is allowed to use     such as folders, files, members, comments, etc.
     * @param clientId ID of the client whose scopes to be retrieved
     * @return void
     */
    open suspend fun restAdminClientsClientIdScopesGet(clientId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/clients/{client_id}/scopes".replace("{" + "client_id" + "}", "$clientId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List clients
     * Return a list of clients
     * @param name Client name (optional)
     * @param nameColonContains Client name. Search for result that contains specified characters in this parameter. (optional)
     * @param descriptionColonContains Client description. Search for result that contains specified characters in this parameter. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Client>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminClientsGet(name: kotlin.String? = null, nameColonContains: kotlin.String? = null, descriptionColonContains: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Client>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        descriptionColonContains?.apply { localVariableQuery["description:contains"] = listOf("$descriptionColonContains") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/clients",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestAdminClientsGetResponse>().map { value }
    }

    @Serializable(RestAdminClientsGetResponse.Companion::class)
    private class RestAdminClientsGetResponse(val value: List<Client>) {
        companion object : KSerializer<RestAdminClientsGetResponse> {
            private val serializer: KSerializer<List<Client>> = serializer<List<Client>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestAdminClientsGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestAdminClientsGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Delete a client
     * Delete a client from the client list.
     * @param id ID of the client to be deleted
     * @return void
     */
    open suspend fun restAdminClientsIdDelete(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/admin/clients/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a client
     * Return the admin settings of a specified client.     e.g.: I want the admin settings for my iOS client; pin timeout, token lifetime, etc., 
     * @param id ID of the client to be retrieved
     * @return Client
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminClientsIdGet(id: kotlin.Int): HttpResponse<Client> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/clients/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update a client
     * Update the admin settings for the specified client
     * @param id ID of the client to be updated
     * @param body Details of the client
     * @return void
     */
    open suspend fun restAdminClientsIdPut(id: kotlin.Int, body: ClientPut): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/admin/clients/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Create a client
     * Create a new client that will be able to access the kiteworks system.     e.g.: A new mobile app that is customized for your company.
     * @param body Details of the client
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restAdminClientsPost(body: ClientPost, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/admin/clients",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Remote wipe the specified device
     * Set the remote wipe flag for the specified install_tag_id
     * @param body Details of device to wipe
     * @return void
     */
    open suspend fun restAdminDevicesActionsWipePost(body: RemoteWipePost): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/admin/devices/actions/wipe",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List devices
     * Return a list of devices. e.g.: Returns a list of devices, per user,     that have authenticated on this server.     The list includes the name of the device (iPad, iPhone, etc),     install tag id, client id, and remote wipe flag.
     * @param installTagId Unique identifier of install tag for this Device (optional)
     * @param installTagIdColonContains Unique identifier of install tag for this Device. Search for result that contains specified characters in this parameter. (optional)
     * @param userId Unique identifier of user for this Device (optional)
     * @param userIdColonIn Unique identifier of user for this Device. Search for results that contain any of specified values of this parameter. (optional)
     * @param clientId Unique identifier of client for this Device (optional)
     * @param clientIdColonContains Unique identifier of client for this Device. Search for result that contains specified characters in this parameter. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Device>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminDevicesGet(installTagId: kotlin.String? = null, installTagIdColonContains: kotlin.String? = null, userId: kotlin.String? = null, userIdColonIn: kotlin.String? = null, clientId: kotlin.String? = null, clientIdColonContains: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Device>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        installTagId?.apply { localVariableQuery["installTagId"] = listOf("$installTagId") }
        installTagIdColonContains?.apply { localVariableQuery["installTagId:contains"] = listOf("$installTagIdColonContains") }
        userId?.apply { localVariableQuery["userId"] = listOf("$userId") }
        userIdColonIn?.apply { localVariableQuery["userId:in"] = listOf("$userIdColonIn") }
        clientId?.apply { localVariableQuery["clientId"] = listOf("$clientId") }
        clientIdColonContains?.apply { localVariableQuery["clientId:contains"] = listOf("$clientIdColonContains") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/devices",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestAdminDevicesGetResponse>().map { value }
    }

    @Serializable(RestAdminDevicesGetResponse.Companion::class)
    private class RestAdminDevicesGetResponse(val value: List<Device>) {
        companion object : KSerializer<RestAdminDevicesGetResponse> {
            private val serializer: KSerializer<List<Device>> = serializer<List<Device>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestAdminDevicesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestAdminDevicesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Delete a device
     * Delete a device given the client id
     * @param id ID of the device to be deleted
     * @return void
     */
    open suspend fun restAdminDevicesIdDelete(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/admin/devices/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a device
     * Return the details of a specified device. Given the device id,     return the device name, install tag id, client id, and remote wipe flag.
     * @param id ID of the device to be retrieved
     * @return Device
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminDevicesIdGet(id: kotlin.Int): HttpResponse<Device> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/devices/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update a device
     * Update the details of a device. Can change the mobile key store and messaging registration token.
     * @param id ID of the device to be updated
     * @param body Details of the device
     * @return void
     */
    open suspend fun restAdminDevicesIdPut(id: kotlin.Int, body: DevicePut): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/admin/devices/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get the wipe status
     * Returns the remote wipe status of a specified device identified by install_tag_id
     * @param installTagId ID of the device to be retrieved
     * @return kotlin.Int
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminDevicesInstallTagIdWipeGet(installTagId: kotlin.String): HttpResponse<kotlin.Int> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/devices/{install_tag_id}/wipe".replace("{" + "install_tag_id" + "}", "$installTagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Add a device
     * Add a device. This method is used when a user logs in to kiteworks     to track the device they use.
     * @param body Details of the device
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restAdminDevicesPost(body: DevicePost, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/admin/devices",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Deletes list of hostnames
     * Deletes list of hostnames.
     * @param idColonIn Array of values which are going to be changed.
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restAdminHostnamesDelete(idColonIn: kotlin.String, partialSuccess: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/admin/hostnames",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List hostnames
     * Returns a list of hostnames
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return Hostname
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminHostnamesGet(with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<Hostname> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/hostnames",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Mark specified hostname as deleted.
     * Marks the specified hostname as deleted.
     * @param id ID of the hostname
     * @return void
     */
    open suspend fun restAdminHostnamesIdDelete(id: kotlin.Int): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/admin/hostnames/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns the details of hostname of the specified ID.
     * Returns the details of hostname of the specified ID.
     * @param id ID of the hostname to be retrieved
     * @return Hostname
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminHostnamesIdGet(id: kotlin.Int): HttpResponse<Hostname> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/hostnames/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Disable / enable alias hostname
     * Disable / enable the specified hostname.
     * @param id ID of the hostname to disable
     * @param body comment to activity
     * @return void
     */
    open suspend fun restAdminHostnamesIdPut(id: kotlin.Int, body: HostnamePut): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/admin/hostnames/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Create an alias hostname
     * Create an alias hostname.
     * @param body comment to activity
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restAdminHostnamesPost(body: HostnamePost, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/admin/hostnames",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Returns a list of LDAP groups.
     * Returns a list of LDAP groups that have been enabled through the kiteworks admin.
     * @param name LDAP group name (optional)
     * @param nameColonContains LDAP group name. Search for result that contains specified characters in this parameter. (optional)
     * @param email LDAP group Email (optional)
     * @param emailColonContains LDAP group Email. Search for result that contains specified characters in this parameter. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<LdapGroup>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminLdapGroupsGet(name: kotlin.String? = null, nameColonContains: kotlin.String? = null, email: kotlin.String? = null, emailColonContains: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<LdapGroup>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        email?.apply { localVariableQuery["email"] = listOf("$email") }
        emailColonContains?.apply { localVariableQuery["email:contains"] = listOf("$emailColonContains") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/ldapGroups",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestAdminLdapGroupsGetResponse>().map { value }
    }

    @Serializable(RestAdminLdapGroupsGetResponse.Companion::class)
    private class RestAdminLdapGroupsGetResponse(val value: List<LdapGroup>) {
        companion object : KSerializer<RestAdminLdapGroupsGetResponse> {
            private val serializer: KSerializer<List<LdapGroup>> = serializer<List<LdapGroup>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestAdminLdapGroupsGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestAdminLdapGroupsGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Deletes an LDAP group
     * Deletes an LDAP group
     * @param id ID of the LDAP group to delete
     * @return void
     */
    open suspend fun restAdminLdapGroupsIdDelete(id: kotlin.Int): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/admin/ldapGroups/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Gets an LDAP group
     * Returns the details of a specified LDAP group. This includes the settings from the admin.
     * @param id ID of the LDAP group to be retrieved
     * @return LdapGroup
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminLdapGroupsIdGet(id: kotlin.Int): HttpResponse<LdapGroup> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/ldapGroups/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Updates an LDAP group
     * Updates an LDAP group
     * @param id ID of the LDAP to update
     * @param body The LDAP group details
     * @return void
     */
    open suspend fun restAdminLdapGroupsIdPut(id: kotlin.Int, body: LdapGroupPut): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/admin/ldapGroups/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Create an LDAP group
     * Creates an LDAP group
     * @param body The LDAP group details
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restAdminLdapGroupsPost(body: LdapGroupPost, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/admin/ldapGroups",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List locations
     * Returns a list of available kiteworks locations.     Locations are logical collection of multiple kiteworks servers,     usually with a common geography or particular purpose.
     * @param mode Response mode (optional)
     * @return Location
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminLocationsGet(mode: kotlin.String? = null): HttpResponse<Location> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/locations",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete a location.
     * Delete the specified location.
     * @param id ID of the location to remove from
     * @return void
     */
    open suspend fun restAdminLocationsIdDelete(id: kotlin.Int): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/admin/locations/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Return location name.
     * Returns the name of a specified location.
     * @param id ID of the location to be retrieved
     * @return Location
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminLocationsIdGet(id: kotlin.Int): HttpResponse<Location> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/locations/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Create a location entry.
     * Creates a location entry by providing a name.
     * @param body The location details
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restAdminLocationsPost(body: LocationPost, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/admin/locations",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Withdraw all files from deleted/demoted users&#39; emails
     * Withdraw all files from deleted/demoted users&#39; emails
     * @param userId ID of the user to withdraw files
     * @param emailIdColonIn A list of email ids which will be processed (optional)
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restAdminMailActionsWithdrawFilesUsersUserIdDelete(userId: kotlin.String, emailIdColonIn: kotlin.String? = null, partialSuccess: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        emailIdColonIn?.apply { localVariableQuery["emailId:in"] = listOf("$emailIdColonIn") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/admin/mail/actions/withdrawFiles/users/{userId}".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List emails
     * Returns the list of all emails for this user.     This includes sent emails, received emails, draft emails, and request a file emails.
     * @param senderId Unique identifier of User who sent Email (optional)
     * @param senderIdColonIn Unique identifier of User who sent Email. Search for results that contain any of specified values of this parameter. (optional)
     * @param date Email creation date (optional)
     * @param dateColonGt Email creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param dateColonGte Email creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param dateColonLt Email creation date. Search for result that has this parameter value less than specified. (optional)
     * @param dateColonLte Email creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param modifiedDate Email modification date (optional)
     * @param modifiedDateColonGt Email modification date. Search for result that has this parameter value greater than specified. (optional)
     * @param modifiedDateColonGte Email modification date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param modifiedDateColonLt Email modification date. Search for result that has this parameter value less than specified. (optional)
     * @param modifiedDateColonLte Email modification date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param deleted Indicates that Email is deleted (optional)
     * @param emailPackageId Email Package unique identifier (optional)
     * @param emailPackageIdColonIn Email Package unique identifier. Search for results that contain any of specified values of this parameter. (optional)
     * @param templateId Email Template unique identifier (optional)
     * @param templateIdColonIn Email Template unique identifier. Search for results that contain any of specified values of this parameter. (optional)
     * @param status Email status (optional)
     * @param isPreview Whether the email is a preview email (optional)
     * @param isUserSent Whether the email was sent by some user (optional)
     * @param webFormId Email web form ID (optional)
     * @param webFormIdColonContains Email web form ID. Search for result that contains specified characters in this parameter. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @return kotlin.collections.List<Email>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminMailGet(senderId: kotlin.String? = null, senderIdColonIn: kotlin.String? = null, date: java.time.LocalDate? = null, dateColonGt: java.time.LocalDate? = null, dateColonGte: java.time.LocalDate? = null, dateColonLt: java.time.LocalDate? = null, dateColonLte: java.time.LocalDate? = null, modifiedDate: java.time.LocalDate? = null, modifiedDateColonGt: java.time.LocalDate? = null, modifiedDateColonGte: java.time.LocalDate? = null, modifiedDateColonLt: java.time.LocalDate? = null, modifiedDateColonLte: java.time.LocalDate? = null, deleted: kotlin.Boolean? = null, emailPackageId: kotlin.String? = null, emailPackageIdColonIn: kotlin.String? = null, templateId: kotlin.Int? = null, templateIdColonIn: kotlin.Int? = null, status: kotlin.collections.List<kotlin.String>? = null, isPreview: kotlin.Boolean? = null, isUserSent: kotlin.Boolean? = null, webFormId: kotlin.String? = null, webFormIdColonContains: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null): HttpResponse<kotlin.collections.List<Email>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        senderId?.apply { localVariableQuery["senderId"] = listOf("$senderId") }
        senderIdColonIn?.apply { localVariableQuery["senderId:in"] = listOf("$senderIdColonIn") }
        date?.apply { localVariableQuery["date"] = listOf("$date") }
        dateColonGt?.apply { localVariableQuery["date:gt"] = listOf("$dateColonGt") }
        dateColonGte?.apply { localVariableQuery["date:gte"] = listOf("$dateColonGte") }
        dateColonLt?.apply { localVariableQuery["date:lt"] = listOf("$dateColonLt") }
        dateColonLte?.apply { localVariableQuery["date:lte"] = listOf("$dateColonLte") }
        modifiedDate?.apply { localVariableQuery["modified_date"] = listOf("$modifiedDate") }
        modifiedDateColonGt?.apply { localVariableQuery["modified_date:gt"] = listOf("$modifiedDateColonGt") }
        modifiedDateColonGte?.apply { localVariableQuery["modified_date:gte"] = listOf("$modifiedDateColonGte") }
        modifiedDateColonLt?.apply { localVariableQuery["modified_date:lt"] = listOf("$modifiedDateColonLt") }
        modifiedDateColonLte?.apply { localVariableQuery["modified_date:lte"] = listOf("$modifiedDateColonLte") }
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        emailPackageId?.apply { localVariableQuery["emailPackageId"] = listOf("$emailPackageId") }
        emailPackageIdColonIn?.apply { localVariableQuery["emailPackageId:in"] = listOf("$emailPackageIdColonIn") }
        templateId?.apply { localVariableQuery["templateId"] = listOf("$templateId") }
        templateIdColonIn?.apply { localVariableQuery["templateId:in"] = listOf("$templateIdColonIn") }
        status?.apply { localVariableQuery["status"] = toMultiValue(this, "csv") }
        isPreview?.apply { localVariableQuery["isPreview"] = listOf("$isPreview") }
        isUserSent?.apply { localVariableQuery["isUserSent"] = listOf("$isUserSent") }
        webFormId?.apply { localVariableQuery["webFormId"] = listOf("$webFormId") }
        webFormIdColonContains?.apply { localVariableQuery["webFormId:contains"] = listOf("$webFormIdColonContains") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/mail",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestAdminMailGetResponse>().map { value }
    }

    @Serializable(RestAdminMailGetResponse.Companion::class)
    private class RestAdminMailGetResponse(val value: List<Email>) {
        companion object : KSerializer<RestAdminMailGetResponse> {
            private val serializer: KSerializer<List<Email>> = serializer<List<Email>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestAdminMailGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestAdminMailGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * List user types
     * Returns a list of user types supported by kiteworks. e.g.:     Today we return Standard and Restricted
     * @param name Profile name (optional)
     * @param nameColonContains Profile name. Search for result that contains specified characters in this parameter. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Profile>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminProfilesGet(name: kotlin.String? = null, nameColonContains: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Profile>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/profiles",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestAdminProfilesGetResponse>().map { value }
    }

    @Serializable(RestAdminProfilesGetResponse.Companion::class)
    private class RestAdminProfilesGetResponse(val value: List<Profile>) {
        companion object : KSerializer<RestAdminProfilesGetResponse> {
            private val serializer: KSerializer<List<Profile>> = serializer<List<Profile>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestAdminProfilesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestAdminProfilesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Return an user type
     * Returns the details of a specified user type. e.g.: Returns user type id and name.
     * @param id ID of the user type to be retrieved
     * @return kotlin.collections.List<Profile>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminProfilesIdGet(id: kotlin.Int): HttpResponse<kotlin.collections.List<Profile>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/profiles/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestAdminProfilesIdGetResponse>().map { value }
    }

    @Serializable(RestAdminProfilesIdGetResponse.Companion::class)
    private class RestAdminProfilesIdGetResponse(val value: List<Profile>) {
        companion object : KSerializer<RestAdminProfilesIdGetResponse> {
            private val serializer: KSerializer<List<Profile>> = serializer<List<Profile>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestAdminProfilesIdGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestAdminProfilesIdGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get profile mapping details
     * Get profile mapping details for user profile
     * @param id Id of the profile to get mapping details for
     * @return ProfileMappings
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminProfilesIdMappingsGet(id: kotlin.Int): HttpResponse<ProfileMappings> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/profiles/{id}/mappings".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update profile mapping details
     * Update profile mapping details for user profile
     * @param id Id of the profile to get mapping details for
     * @param body Profile mapping details
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restAdminProfilesIdMappingsPut(id: kotlin.Int, body: ProfileMappingChangesPut, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/admin/profiles/{id}/mappings".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Return list of users with the specified types
     * Returns the list of users who have the specified type.     e.g.: Return me the user names and email addresses of all the Restricted Users.
     * @param id ID of the user type to retrieve users for
     * @param email The user&#39;s email (optional)
     * @param emailColonContains The user&#39;s email. Search for result that contains specified characters in this parameter. (optional)
     * @param name The name of the user (optional)
     * @param nameColonContains The name of the user. Search for result that contains specified characters in this parameter. (optional)
     * @param metadata The metadata of the user (optional)
     * @param metadataContains The metadata of the user. Search for result that contains specified characters in this parameter. (optional)
     * @param deleted Whether the user has been deleted (optional)
     * @param active Whether the user is an actual kitework user (optional)
     * @param verified Whether the user is verified (optional)
     * @param suspended Whether the user is suspended (optional)
     * @param isRecipient Whether user is recipient (optional)
     * @param allowsCollaboration Whether user&#39;s profile allows collaboration access (optional)
     * @param created User creation date (optional)
     * @param createdColonGt User creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param createdColonGte User creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param createdColonLt User creation date. Search for result that has this parameter value less than specified. (optional)
     * @param createdColonLte User creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param locateId If specified, \&quot;offset\&quot; parameter will be ignored                                             and the page containing entity with this Id will be returned. (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<User>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminProfilesIdUsersGet(id: kotlin.Int, email: kotlin.String? = null, emailColonContains: kotlin.String? = null, name: kotlin.String? = null, nameColonContains: kotlin.String? = null, metadata: kotlin.String? = null, metadataContains: kotlin.String? = null, deleted: kotlin.Boolean? = null, active: kotlin.Boolean? = null, verified: kotlin.Boolean? = null, suspended: kotlin.Boolean? = null, isRecipient: kotlin.Boolean? = null, allowsCollaboration: kotlin.Boolean? = null, created: java.time.LocalDate? = null, createdColonGt: java.time.LocalDate? = null, createdColonGte: java.time.LocalDate? = null, createdColonLt: java.time.LocalDate? = null, createdColonLte: java.time.LocalDate? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, locateId: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<User>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        email?.apply { localVariableQuery["email"] = listOf("$email") }
        emailColonContains?.apply { localVariableQuery["email:contains"] = listOf("$emailColonContains") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        metadata?.apply { localVariableQuery["metadata"] = listOf("$metadata") }
        metadataContains?.apply { localVariableQuery["metadataContains"] = listOf("$metadataContains") }
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        active?.apply { localVariableQuery["active"] = listOf("$active") }
        verified?.apply { localVariableQuery["verified"] = listOf("$verified") }
        suspended?.apply { localVariableQuery["suspended"] = listOf("$suspended") }
        isRecipient?.apply { localVariableQuery["isRecipient"] = listOf("$isRecipient") }
        allowsCollaboration?.apply { localVariableQuery["allowsCollaboration"] = listOf("$allowsCollaboration") }
        created?.apply { localVariableQuery["created"] = listOf("$created") }
        createdColonGt?.apply { localVariableQuery["created:gt"] = listOf("$createdColonGt") }
        createdColonGte?.apply { localVariableQuery["created:gte"] = listOf("$createdColonGte") }
        createdColonLt?.apply { localVariableQuery["created:lt"] = listOf("$createdColonLt") }
        createdColonLte?.apply { localVariableQuery["created:lte"] = listOf("$createdColonLte") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        locateId?.apply { localVariableQuery["locate_id"] = listOf("$locateId") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/profiles/{id}/users".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestAdminProfilesIdUsersGetResponse>().map { value }
    }

    @Serializable(RestAdminProfilesIdUsersGetResponse.Companion::class)
    private class RestAdminProfilesIdUsersGetResponse(val value: List<User>) {
        companion object : KSerializer<RestAdminProfilesIdUsersGetResponse> {
            private val serializer: KSerializer<List<User>> = serializer<List<User>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestAdminProfilesIdUsersGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestAdminProfilesIdUsersGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Change user type
     * Change user type for specified user
     * @param id ID of the user type
     * @param idColonIn IDs of users, who are going to be assigned to the user type
     * @param mode Response mode (optional)
     * @param body The users details (optional)
     * @return void
     */
    open suspend fun restAdminProfilesIdUsersPut(id: kotlin.Int, idColonIn: kotlin.String, mode: kotlin.String? = null, body: UserDemoteOptionsPost? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/admin/profiles/{id}/users".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get profile mapping order
     * Get profile mapping order that determines application of filters on login
     * @return ProfileMappingOrder
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminProfilesMappingOrderGet(): HttpResponse<ProfileMappingOrder> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/profiles/mappingOrder",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update profile mapping order
     * Update profile mapping order that determines application of filters on login
     * @param body profile ordering
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restAdminProfilesMappingOrderPut(body: ProfileMappingOrderPut, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/admin/profiles/mappingOrder",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get profile mapping results for user
     * Get profile mapping results for user
     * @param user User to test mappings for
     * @return ProfileMappingsTest
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminProfilesMappingsGet(user: kotlin.String): HttpResponse<ProfileMappingsTest> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        user?.apply { localVariableQuery["user"] = listOf("$user") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/profiles/mappings",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete request files sent by the the specified user
     * Delete request files sent by the the specified user
     * @param userId The user ID of request file
     * @param requestFileIdColonIn Search for results that contain any of specified values of this parameter. (optional)
     * @param mode Response mode (optional)
     * @return RequestFile
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminRequestFileUsersUserIdDelete(userId: kotlin.String, requestFileIdColonIn: kotlin.Int? = null, mode: kotlin.String? = null): HttpResponse<RequestFile> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        requestFileIdColonIn?.apply { localVariableQuery["requestFileId:in"] = listOf("$requestFileIdColonIn") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/admin/requestFile/users/{userId}".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List all added sources
     * Returns a list of all available ECM sources.
     * @param includeKw Include KW (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Source>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminSourcesGet(includeKw: kotlin.Boolean? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Source>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        includeKw?.apply { localVariableQuery["include_kw"] = listOf("$includeKw") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/sources",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestAdminSourcesGetResponse>().map { value }
    }

    @Serializable(RestAdminSourcesGetResponse.Companion::class)
    private class RestAdminSourcesGetResponse(val value: List<Source>) {
        companion object : KSerializer<RestAdminSourcesGetResponse> {
            private val serializer: KSerializer<List<Source>> = serializer<List<Source>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestAdminSourcesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestAdminSourcesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Deletes specified assigned source
     * Deletes specified assigned source.
     * @param id ID of the assigned source to be deleted.
     * @return void
     */
    open suspend fun restAdminSourcesIdDelete(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/admin/sources/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns requested assigned ECM source
     * Returns requested assigned source.
     * @param id ID of the assigned source to be retrieved
     * @return Source
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminSourcesIdGet(id: kotlin.String): HttpResponse<Source> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/sources/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Updates details of the specified ECM source
     * Updates requested source.
     * @param id ID of the source to update
     * @param body source details
     * @return void
     */
    open suspend fun restAdminSourcesIdPut(id: kotlin.String, body: SourcePut): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/admin/sources/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Add assigned ECM source
     * Add assigned source.
     * @param body source details
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restAdminSourcesPost(body: SourcePost, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/admin/sources",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get a list of Users
     * Returns a list of Users in the system.     This call will only work for users with admin access.
     * @param email The user&#39;s email (optional)
     * @param emailColonContains The user&#39;s email. Search for result that contains specified characters in this parameter. (optional)
     * @param name The name of the user (optional)
     * @param nameColonContains The name of the user. Search for result that contains specified characters in this parameter. (optional)
     * @param metadata The metadata of the user (optional)
     * @param metadataContains The metadata of the user. Search for result that contains specified characters in this parameter. (optional)
     * @param deleted Whether the user has been deleted (optional)
     * @param active Whether the user is an actual kitework user (optional)
     * @param verified Whether the user is verified (optional)
     * @param suspended Whether the user is suspended (optional)
     * @param isRecipient Whether user is recipient (optional)
     * @param allowsCollaboration Whether user&#39;s profile allows collaboration access (optional)
     * @param created User creation date (optional)
     * @param createdColonGt User creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param createdColonGte User creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param createdColonLt User creation date. Search for result that has this parameter value less than specified. (optional)
     * @param createdColonLte User creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param locateId If specified, \&quot;offset\&quot; parameter will be ignored                                             and the page containing entity with this Id will be returned. (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return RestAdminUsersGet200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminUsersGet(email: kotlin.String? = null, emailColonContains: kotlin.String? = null, name: kotlin.String? = null, nameColonContains: kotlin.String? = null, metadata: kotlin.String? = null, metadataContains: kotlin.String? = null, deleted: kotlin.Boolean? = null, active: kotlin.Boolean? = null, verified: kotlin.Boolean? = null, suspended: kotlin.Boolean? = null, isRecipient: kotlin.Boolean? = null, allowsCollaboration: kotlin.Boolean? = null, created: java.time.LocalDate? = null, createdColonGt: java.time.LocalDate? = null, createdColonGte: java.time.LocalDate? = null, createdColonLt: java.time.LocalDate? = null, createdColonLte: java.time.LocalDate? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, locateId: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<RestAdminUsersGet200Response> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        email?.apply { localVariableQuery["email"] = listOf("$email") }
        emailColonContains?.apply { localVariableQuery["email:contains"] = listOf("$emailColonContains") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        metadata?.apply { localVariableQuery["metadata"] = listOf("$metadata") }
        metadataContains?.apply { localVariableQuery["metadataContains"] = listOf("$metadataContains") }
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        active?.apply { localVariableQuery["active"] = listOf("$active") }
        verified?.apply { localVariableQuery["verified"] = listOf("$verified") }
        suspended?.apply { localVariableQuery["suspended"] = listOf("$suspended") }
        isRecipient?.apply { localVariableQuery["isRecipient"] = listOf("$isRecipient") }
        allowsCollaboration?.apply { localVariableQuery["allowsCollaboration"] = listOf("$allowsCollaboration") }
        created?.apply { localVariableQuery["created"] = listOf("$created") }
        createdColonGt?.apply { localVariableQuery["created:gt"] = listOf("$createdColonGt") }
        createdColonGte?.apply { localVariableQuery["created:gte"] = listOf("$createdColonGte") }
        createdColonLt?.apply { localVariableQuery["created:lt"] = listOf("$createdColonLt") }
        createdColonLte?.apply { localVariableQuery["created:lte"] = listOf("$createdColonLte") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        locateId?.apply { localVariableQuery["locate_id"] = listOf("$locateId") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/users",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Return admin roles of the specified user id.
     * Returns the details of all adminroles (active and deleted users)     with the specified user id.
     * @param id ID of the user to retrieve admin role
     * @param orderBy Sorting options (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<AdminRole>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminUsersIdAdminRolesGet(id: kotlin.String, orderBy: kotlin.collections.List<kotlin.String>? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<AdminRole>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/users/{id}/adminRoles".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestAdminUsersIdAdminRolesGetResponse>().map { value }
    }

    @Serializable(RestAdminUsersIdAdminRolesGetResponse.Companion::class)
    private class RestAdminUsersIdAdminRolesGetResponse(val value: List<AdminRole>) {
        companion object : KSerializer<RestAdminUsersIdAdminRolesGetResponse> {
            private val serializer: KSerializer<List<AdminRole>> = serializer<List<AdminRole>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestAdminUsersIdAdminRolesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestAdminUsersIdAdminRolesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Deletes a User
     * Mark the specified user as deleted. This user will still be returned in the GET Users query.
     * @param id ID of the user to delete
     * @param retainToUser New owner id to re-assign data to (required if retainData or retainPermissionToSharedData is True) (optional)
     * @param remoteWipe Remote wipe data on desktop and mobile devices (optional)
     * @param deleteUnsharedData Delete all data owned by the user (required and must be True if retainData is False and vice versa) (optional)
     * @param retainData Retain users data (required and must be True if deleteUnsharedData is False and vice versa) (optional)
     * @param retainPermissionToSharedData Retain permissions to shared data (optional)
     * @param withdrawFileLinks Delete attached files in emails sent by deleted/demoted users (optional)
     * @param withdrawRequestFiles Delete request files emails sent by deleted/demoted users (optional)
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restAdminUsersIdDelete(id: kotlin.String, retainToUser: kotlin.String? = null, remoteWipe: kotlin.Boolean? = null, deleteUnsharedData: kotlin.Boolean? = null, retainData: kotlin.Boolean? = null, retainPermissionToSharedData: kotlin.Boolean? = null, withdrawFileLinks: kotlin.Boolean? = null, withdrawRequestFiles: kotlin.Boolean? = null, partialSuccess: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        retainToUser?.apply { localVariableQuery["retainToUser"] = listOf("$retainToUser") }
        remoteWipe?.apply { localVariableQuery["remoteWipe"] = listOf("$remoteWipe") }
        deleteUnsharedData?.apply { localVariableQuery["deleteUnsharedData"] = listOf("$deleteUnsharedData") }
        retainData?.apply { localVariableQuery["retainData"] = listOf("$retainData") }
        retainPermissionToSharedData?.apply { localVariableQuery["retainPermissionToSharedData"] = listOf("$retainPermissionToSharedData") }
        withdrawFileLinks?.apply { localVariableQuery["withdrawFileLinks"] = listOf("$withdrawFileLinks") }
        withdrawRequestFiles?.apply { localVariableQuery["withdrawRequestFiles"] = listOf("$withdrawRequestFiles") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/admin/users/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List devices for a user
     * Return a list of devices for a specific user
     * @param id ID of the user whose devices to be retrieved
     * @param installTagId Unique identifier of install tag for this Device (optional)
     * @param installTagIdColonContains Unique identifier of install tag for this Device. Search for result that contains specified characters in this parameter. (optional)
     * @param userId Unique identifier of user for this Device (optional)
     * @param userIdColonIn Unique identifier of user for this Device. Search for results that contain any of specified values of this parameter. (optional)
     * @param clientId Unique identifier of client for this Device (optional)
     * @param clientIdColonContains Unique identifier of client for this Device. Search for result that contains specified characters in this parameter. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Device>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminUsersIdDevicesGet(id: kotlin.String, installTagId: kotlin.String? = null, installTagIdColonContains: kotlin.String? = null, userId: kotlin.String? = null, userIdColonIn: kotlin.String? = null, clientId: kotlin.String? = null, clientIdColonContains: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Device>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        installTagId?.apply { localVariableQuery["installTagId"] = listOf("$installTagId") }
        installTagIdColonContains?.apply { localVariableQuery["installTagId:contains"] = listOf("$installTagIdColonContains") }
        userId?.apply { localVariableQuery["userId"] = listOf("$userId") }
        userIdColonIn?.apply { localVariableQuery["userId:in"] = listOf("$userIdColonIn") }
        clientId?.apply { localVariableQuery["clientId"] = listOf("$clientId") }
        clientIdColonContains?.apply { localVariableQuery["clientId:contains"] = listOf("$clientIdColonContains") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/users/{id}/devices".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestAdminUsersIdDevicesGetResponse>().map { value }
    }

    @Serializable(RestAdminUsersIdDevicesGetResponse.Companion::class)
    private class RestAdminUsersIdDevicesGetResponse(val value: List<Device>) {
        companion object : KSerializer<RestAdminUsersIdDevicesGetResponse> {
            private val serializer: KSerializer<List<Device>> = serializer<List<Device>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestAdminUsersIdDevicesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestAdminUsersIdDevicesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get User
     * Returns the details of the specified user (this includes email address and name)
     * @param id ID of the user to retrieve
     * @return User
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminUsersIdGet(id: kotlin.String): HttpResponse<User> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/users/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update User
     * Updates the details of a user.     e.g.: Change their name, set as deleted, set as active or inactive, etc.
     * @param id ID of the user to update
     * @param body The user details
     * @return void
     */
    open suspend fun restAdminUsersIdPut(id: kotlin.String, body: UserPut): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/admin/users/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get User Settings
     * Returns the user settings
     * @param id ID of the user to retrieve settings for
     * @return Settings
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminUsersIdSettingsGet(id: kotlin.String): HttpResponse<Settings> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/users/{id}/settings".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

[...]
