/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.Client
import org.openapitools.client.models.ClientPost
import org.openapitools.client.models.ClientPut

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ClientsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * List clients
     * Return a list of clients
     * @param name Client name (optional)
     * @param nameColonContains Client name. Search for result that contains specified characters in this parameter. (optional)
     * @param descriptionColonContains Client description. Search for result that contains specified characters in this parameter. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Client>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restClientsGet(name: kotlin.String? = null, nameColonContains: kotlin.String? = null, descriptionColonContains: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Client>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        descriptionColonContains?.apply { localVariableQuery["description:contains"] = listOf("$descriptionColonContains") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/clients",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestClientsGetResponse>().map { value }
    }

    @Serializable(RestClientsGetResponse.Companion::class)
    private class RestClientsGetResponse(val value: List<Client>) {
        companion object : KSerializer<RestClientsGetResponse> {
            private val serializer: KSerializer<List<Client>> = serializer<List<Client>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestClientsGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestClientsGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Delete a client
     * Delete a client from the client list.
     * @param id ID of the client to be deleted
     * @return void
     */
    open suspend fun restClientsIdDelete(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/clients/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a client
     * Return the admin settings of a specified client.                e.g.: I want the admin settings for my iOS client; pin timeout, token lifetime, etc., 
     * @param id ID of the client to be retrieved
     * @return Client
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restClientsIdGet(id: kotlin.String): HttpResponse<Client> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/clients/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update a client
     * Update the admin settings for the specified client
     * @param id ID of the client to be updated
     * @param body Details of the client
     * @return void
     */
    open suspend fun restClientsIdPut(id: kotlin.String, body: ClientPut): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/clients/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List scopes of a client
     * Return a list of scopes for a specific client.     This returns the methods that this client is allowed to use     such as folders, files, members, comments, etc.
     * @param id ID of the client whose scopes to be retrieved
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restClientsIdScopesGet(id: kotlin.String, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/clients/{id}/scopes".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get current client
     * Return the settings of the current client.                e.g.: I want the admin settings for my client; pin timeout, token lifetime, etc., 
     * @return Client
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restClientsMeGet(): HttpResponse<Client> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/clients/me",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Create a client
     * Create a new client that will be able to access the kiteworks system.                e.g.: A new mobile app that is customized for your company.
     * @param body Details of the client
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restClientsPost(body: ClientPost, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/clients",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
