/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.Comment
import org.openapitools.client.models.CommentPost
import org.openapitools.client.models.CommentPut
import org.openapitools.client.models.Permission

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class CommentsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Delete a Comment
     * Deletes the comment with the specified id.
     * @param id ID of the comment to delete
     * @return void
     */
    open suspend fun restCommentsIdDelete(id: kotlin.Int): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/comments/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Comment by ID
     * Returns the details of a comment based on ID. e.g.:                I want to know the file or folder this comment is attached to and the comment itself.
     * @param id ID of the comment to retrieve
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return Comment
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restCommentsIdGet(id: kotlin.Int, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<Comment> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/comments/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update Comment
     * Updates the text of a previously entered comment.
     * @param id ID of the comment to update
     * @param body The comment details
     * @return void
     */
    open suspend fun restCommentsIdPut(id: kotlin.Int, body: CommentPut): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/comments/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get Comments for a file
     * Returns all comments for a file
     * @param id File object ID of the comments to retrieve
     * @param parentId Parent Comment unique identifier (optional)
     * @param parentIdColonIn Parent Comment unique identifier. Search for results that contain any of specified values of this parameter. (optional)
     * @param userId Unique identifier of comment author (optional)
     * @param userIdColonIn Unique identifier of comment author. Search for results that contain any of specified values of this parameter. (optional)
     * @param created Comment creation date (optional)
     * @param createdColonGt Comment creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param createdColonGte Comment creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param createdColonLt Comment creation date. Search for result that has this parameter value less than specified. (optional)
     * @param createdColonLte Comment creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param modified Comment modification date (optional)
     * @param modifiedColonGt Comment modification date. Search for result that has this parameter value greater than specified. (optional)
     * @param modifiedColonGte Comment modification date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param modifiedColonLt Comment modification date. Search for result that has this parameter value less than specified. (optional)
     * @param modifiedColonLte Comment modification date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param contentsColonContains Comment content. Search for result that contains specified characters in this parameter. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Comment>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesIdCommentsGet(id: kotlin.String, parentId: kotlin.Int? = null, parentIdColonIn: kotlin.Int? = null, userId: kotlin.String? = null, userIdColonIn: kotlin.String? = null, created: kotlin.String? = null, createdColonGt: kotlin.String? = null, createdColonGte: kotlin.String? = null, createdColonLt: kotlin.String? = null, createdColonLte: kotlin.String? = null, modified: kotlin.String? = null, modifiedColonGt: kotlin.String? = null, modifiedColonGte: kotlin.String? = null, modifiedColonLt: kotlin.String? = null, modifiedColonLte: kotlin.String? = null, contentsColonContains: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Comment>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        parentId?.apply { localVariableQuery["parentId"] = listOf("$parentId") }
        parentIdColonIn?.apply { localVariableQuery["parentId:in"] = listOf("$parentIdColonIn") }
        userId?.apply { localVariableQuery["userId"] = listOf("$userId") }
        userIdColonIn?.apply { localVariableQuery["userId:in"] = listOf("$userIdColonIn") }
        created?.apply { localVariableQuery["created"] = listOf("$created") }
        createdColonGt?.apply { localVariableQuery["created:gt"] = listOf("$createdColonGt") }
        createdColonGte?.apply { localVariableQuery["created:gte"] = listOf("$createdColonGte") }
        createdColonLt?.apply { localVariableQuery["created:lt"] = listOf("$createdColonLt") }
        createdColonLte?.apply { localVariableQuery["created:lte"] = listOf("$createdColonLte") }
        modified?.apply { localVariableQuery["modified"] = listOf("$modified") }
        modifiedColonGt?.apply { localVariableQuery["modified:gt"] = listOf("$modifiedColonGt") }
        modifiedColonGte?.apply { localVariableQuery["modified:gte"] = listOf("$modifiedColonGte") }
        modifiedColonLt?.apply { localVariableQuery["modified:lt"] = listOf("$modifiedColonLt") }
        modifiedColonLte?.apply { localVariableQuery["modified:lte"] = listOf("$modifiedColonLte") }
        contentsColonContains?.apply { localVariableQuery["contents:contains"] = listOf("$contentsColonContains") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/{id}/comments".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestFilesIdCommentsGetResponse>().map { value }
    }

    @Serializable(RestFilesIdCommentsGetResponse.Companion::class)
    private class RestFilesIdCommentsGetResponse(val value: List<Comment>) {
        companion object : KSerializer<RestFilesIdCommentsGetResponse> {
            private val serializer: KSerializer<List<Comment>> = serializer<List<Comment>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestFilesIdCommentsGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestFilesIdCommentsGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Create a Comment on a file
     * Create a Comment on a file.
     * @param id Object ID of the file being commented on
     * @param body The comment details
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesIdCommentsPost(id: kotlin.String, body: CommentPost, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/files/{id}/comments".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Return the list of Comments for this folder
     * Returns all comments made on this folder.
     * @param id ID of the parent folder
     * @param parentId Parent Comment unique identifier (optional)
     * @param parentIdColonIn Parent Comment unique identifier. Search for results that contain any of specified values of this parameter. (optional)
     * @param userId Unique identifier of comment author (optional)
     * @param userIdColonIn Unique identifier of comment author. Search for results that contain any of specified values of this parameter. (optional)
     * @param created Comment creation date (optional)
     * @param createdColonGt Comment creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param createdColonGte Comment creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param createdColonLt Comment creation date. Search for result that has this parameter value less than specified. (optional)
     * @param createdColonLte Comment creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param modified Comment modification date (optional)
     * @param modifiedColonGt Comment modification date. Search for result that has this parameter value greater than specified. (optional)
     * @param modifiedColonGte Comment modification date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param modifiedColonLt Comment modification date. Search for result that has this parameter value less than specified. (optional)
     * @param modifiedColonLte Comment modification date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param contentsColonContains Comment content. Search for result that contains specified characters in this parameter. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Comment>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersIdCommentsGet(id: kotlin.String, parentId: kotlin.Int? = null, parentIdColonIn: kotlin.Int? = null, userId: kotlin.String? = null, userIdColonIn: kotlin.String? = null, created: kotlin.String? = null, createdColonGt: kotlin.String? = null, createdColonGte: kotlin.String? = null, createdColonLt: kotlin.String? = null, createdColonLte: kotlin.String? = null, modified: kotlin.String? = null, modifiedColonGt: kotlin.String? = null, modifiedColonGte: kotlin.String? = null, modifiedColonLt: kotlin.String? = null, modifiedColonLte: kotlin.String? = null, contentsColonContains: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Comment>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        parentId?.apply { localVariableQuery["parentId"] = listOf("$parentId") }
        parentIdColonIn?.apply { localVariableQuery["parentId:in"] = listOf("$parentIdColonIn") }
        userId?.apply { localVariableQuery["userId"] = listOf("$userId") }
        userIdColonIn?.apply { localVariableQuery["userId:in"] = listOf("$userIdColonIn") }
        created?.apply { localVariableQuery["created"] = listOf("$created") }
        createdColonGt?.apply { localVariableQuery["created:gt"] = listOf("$createdColonGt") }
        createdColonGte?.apply { localVariableQuery["created:gte"] = listOf("$createdColonGte") }
        createdColonLt?.apply { localVariableQuery["created:lt"] = listOf("$createdColonLt") }
        createdColonLte?.apply { localVariableQuery["created:lte"] = listOf("$createdColonLte") }
        modified?.apply { localVariableQuery["modified"] = listOf("$modified") }
        modifiedColonGt?.apply { localVariableQuery["modified:gt"] = listOf("$modifiedColonGt") }
        modifiedColonGte?.apply { localVariableQuery["modified:gte"] = listOf("$modifiedColonGte") }
        modifiedColonLt?.apply { localVariableQuery["modified:lt"] = listOf("$modifiedColonLt") }
        modifiedColonLte?.apply { localVariableQuery["modified:lte"] = listOf("$modifiedColonLte") }
        contentsColonContains?.apply { localVariableQuery["contents:contains"] = listOf("$contentsColonContains") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/folders/{id}/comments".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestFoldersIdCommentsGetResponse>().map { value }
    }

    @Serializable(RestFoldersIdCommentsGetResponse.Companion::class)
    private class RestFoldersIdCommentsGetResponse(val value: List<Comment>) {
        companion object : KSerializer<RestFoldersIdCommentsGetResponse> {
            private val serializer: KSerializer<List<Comment>> = serializer<List<Comment>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestFoldersIdCommentsGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestFoldersIdCommentsGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Return the list of permissions available on a comment
     * Return available permissions
     * @param commentId Id of the comment
     * @param id Unique action identifier (optional)
     * @param idColonIn Unique action identifier. Search for results that contain any of specified values of this parameter. (optional)
     * @param name Action name (optional)
     * @param nameColonContains Action name. Search for result that contains specified characters in this parameter. (optional)
     * @param allowed Determines if one has permissions to perform action (optional)
     * @param enabled Determines if given action is available considering current object state (locked, deleted, etc) (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Permission>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restPermissionsCommentCommentIdGet(commentId: kotlin.Int, id: kotlin.Int? = null, idColonIn: kotlin.Int? = null, name: kotlin.String? = null, nameColonContains: kotlin.String? = null, allowed: kotlin.Boolean? = null, enabled: kotlin.Boolean? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Permission>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        id?.apply { localVariableQuery["id"] = listOf("$id") }
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        allowed?.apply { localVariableQuery["allowed"] = listOf("$allowed") }
        enabled?.apply { localVariableQuery["enabled"] = listOf("$enabled") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/permissions/comment/{comment_id}".replace("{" + "comment_id" + "}", "$commentId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestPermissionsCommentCommentIdGetResponse>().map { value }
    }

    @Serializable(RestPermissionsCommentCommentIdGetResponse.Companion::class)
    private class RestPermissionsCommentCommentIdGetResponse(val value: List<Permission>) {
        companion object : KSerializer<RestPermissionsCommentCommentIdGetResponse> {
            private val serializer: KSerializer<List<Permission>> = serializer<List<Permission>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestPermissionsCommentCommentIdGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestPermissionsCommentCommentIdGetResponse(serializer.deserialize(decoder))
        }
    }

}
