/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.Device
import org.openapitools.client.models.DevicePost
import org.openapitools.client.models.DevicePut
import org.openapitools.client.models.Logout

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class DevicesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * List devices
     * Return a list of devices. e.g.: Returns a list of devices, per user,                   that have authenticated on this server.                   The list includes the name of the device (iPad, iPhone, etc),                   install tag id, client id, and remote wipe flag.
     * @param installTagId Unique identifier of install tag for this Device (optional)
     * @param installTagIdColonContains Unique identifier of install tag for this Device. Search for result that contains specified characters in this parameter. (optional)
     * @param userId Unique identifier of user for this Device (optional)
     * @param userIdColonIn Unique identifier of user for this Device. Search for results that contain any of specified values of this parameter. (optional)
     * @param clientId Unique identifier of client for this Device (optional)
     * @param clientIdColonContains Unique identifier of client for this Device. Search for result that contains specified characters in this parameter. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Device>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDevicesGet(installTagId: kotlin.String? = null, installTagIdColonContains: kotlin.String? = null, userId: kotlin.String? = null, userIdColonIn: kotlin.String? = null, clientId: kotlin.String? = null, clientIdColonContains: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Device>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        installTagId?.apply { localVariableQuery["installTagId"] = listOf("$installTagId") }
        installTagIdColonContains?.apply { localVariableQuery["installTagId:contains"] = listOf("$installTagIdColonContains") }
        userId?.apply { localVariableQuery["userId"] = listOf("$userId") }
        userIdColonIn?.apply { localVariableQuery["userId:in"] = listOf("$userIdColonIn") }
        clientId?.apply { localVariableQuery["clientId"] = listOf("$clientId") }
        clientIdColonContains?.apply { localVariableQuery["clientId:contains"] = listOf("$clientIdColonContains") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/devices",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestDevicesGetResponse>().map { value }
    }

    @Serializable(RestDevicesGetResponse.Companion::class)
    private class RestDevicesGetResponse(val value: List<Device>) {
        companion object : KSerializer<RestDevicesGetResponse> {
            private val serializer: KSerializer<List<Device>> = serializer<List<Device>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestDevicesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestDevicesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Delete a device
     * Delete a device given the client id
     * @param id ID of the device to be deleted
     * @return void
     */
    open suspend fun restDevicesIdDelete(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/devices/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a device
     * Return the details of a specified device. Given the device id,                   return the device name, install tag id, client id, and remote wipe flag.
     * @param id ID of the device to be retrieved
     * @return Device
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDevicesIdGet(id: kotlin.Int): HttpResponse<Device> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/devices/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update a device
     * Update the details of a device. Can change the mobile key store and messaging registration token.
     * @param id ID of the device to be updated
     * @param body Details of the device
     * @return void
     */
    open suspend fun restDevicesIdPut(id: kotlin.Int, body: DevicePut): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/devices/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get the wipe status
     * Returns the remote wipe status of a specified device identified by install_tag_id
     * @param installTagId Unique identifier of install tag for this device. Usually the serial number of device
     * @return kotlin.Int
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDevicesInstallTagIdWipeGet(installTagId: kotlin.String): HttpResponse<kotlin.Int> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/devices/{install_tag_id}/wipe".replace("{" + "install_tag_id" + "}", "$installTagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Logout current user
     * Logout current user
     * @return Logout
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDevicesMeActionsLogoutDelete(): HttpResponse<Logout> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/devices/me/actions/logout",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Tell the server the device had completed the requested wipe
     * Update the wipe flag to completed
     * @return void
     */
    open suspend fun restDevicesMeActionsWipePatch(): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/rest/devices/me/actions/wipe",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get current device info
     * Return the details of the current device.
     * @return Device
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDevicesMeGet(): HttpResponse<Device> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/devices/me",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update the currently signed-in device
     * Update the details of the current device. Can change the mobile key store and messaging registration token.
     * @param body Details of the device
     * @return void
     */
    open suspend fun restDevicesMePut(body: DevicePut): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/devices/me",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Add a device
     * Add a device.                    This method is used when a user logs in to kiteworks to track the device they use.
     * @param body Details of the device
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restDevicesPost(body: DevicePost, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/devices",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List devices for a user
     * Return a list of devices for a specific user
     * @param id ID of the user whose devices to be retrieved
     * @return kotlin.collections.List<Device>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restUsersIdDevicesGet(id: kotlin.String): HttpResponse<kotlin.collections.List<Device>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/users/{id}/devices".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestUsersIdDevicesGetResponse>().map { value }
    }

    @Serializable(RestUsersIdDevicesGetResponse.Companion::class)
    private class RestUsersIdDevicesGetResponse(val value: List<Device>) {
        companion object : KSerializer<RestUsersIdDevicesGetResponse> {
            private val serializer: KSerializer<List<Device>> = serializer<List<Device>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestUsersIdDevicesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestUsersIdDevicesGetResponse(serializer.deserialize(decoder))
        }
    }

}
