/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.ActivityAdmin
import org.openapitools.client.models.Attachment
import org.openapitools.client.models.Email
import org.openapitools.client.models.Export
import org.openapitools.client.models.ExportPost
import org.openapitools.client.models.Folder
import org.openapitools.client.models.Preview
import org.openapitools.client.models.Recipient
import org.openapitools.client.models.Version

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class DliApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Return the list of all exports for all users
     * Return the list of all exports for all users
     * @param userId Unique identifier of user (optional)
     * @param userIdColonIn Unique identifier of user. Search for results that contain any of specified values of this parameter. (optional)
     * @param status Status of the generated report (optional)
     * @param statusColonContains Status of the generated report. Search for result that contains specified characters in this parameter. (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Export>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDliExportsGet(userId: kotlin.String? = null, userIdColonIn: kotlin.String? = null, status: kotlin.String? = null, statusColonContains: kotlin.String? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Export>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        userId?.apply { localVariableQuery["user_id"] = listOf("$userId") }
        userIdColonIn?.apply { localVariableQuery["user_id:in"] = listOf("$userIdColonIn") }
        status?.apply { localVariableQuery["status"] = listOf("$status") }
        statusColonContains?.apply { localVariableQuery["status:contains"] = listOf("$statusColonContains") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/dli/exports",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestDliExportsGetResponse>().map { value }
    }

    @Serializable(RestDliExportsGetResponse.Companion::class)
    private class RestDliExportsGetResponse(val value: List<Export>) {
        companion object : KSerializer<RestDliExportsGetResponse> {
            private val serializer: KSerializer<List<Export>> = serializer<List<Export>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestDliExportsGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestDliExportsGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Download the generated export.
     * Download the generated export.
     * @param id ID of the export
     * @return kotlin.collections.List<Export>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDliExportsIdContentGet(id: kotlin.Int): HttpResponse<kotlin.collections.List<Export>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/dli/exports/{id}/content".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestDliExportsIdContentGetResponse>().map { value }
    }

    @Serializable(RestDliExportsIdContentGetResponse.Companion::class)
    private class RestDliExportsIdContentGetResponse(val value: List<Export>) {
        companion object : KSerializer<RestDliExportsIdContentGetResponse> {
            private val serializer: KSerializer<List<Export>> = serializer<List<Export>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestDliExportsIdContentGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestDliExportsIdContentGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Delete the specified export.
     * Delete the specified export.
     * @param id ID of the export
     * @return kotlin.collections.List<Export>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDliExportsIdDelete(id: kotlin.Int): HttpResponse<kotlin.collections.List<Export>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/dli/exports/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestDliExportsIdDeleteResponse>().map { value }
    }

    @Serializable(RestDliExportsIdDeleteResponse.Companion::class)
    private class RestDliExportsIdDeleteResponse(val value: List<Export>) {
        companion object : KSerializer<RestDliExportsIdDeleteResponse> {
            private val serializer: KSerializer<List<Export>> = serializer<List<Export>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestDliExportsIdDeleteResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestDliExportsIdDeleteResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Return information of an export such as status, download url, user ID, etc.
     * Return information of an export such as status, download url, user ID, etc.
     * @param id ID of the export
     * @return kotlin.collections.List<Export>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDliExportsIdGet(id: kotlin.Int): HttpResponse<kotlin.collections.List<Export>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/dli/exports/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestDliExportsIdGetResponse>().map { value }
    }

    @Serializable(RestDliExportsIdGetResponse.Companion::class)
    private class RestDliExportsIdGetResponse(val value: List<Export>) {
        companion object : KSerializer<RestDliExportsIdGetResponse> {
            private val serializer: KSerializer<List<Export>> = serializer<List<Export>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestDliExportsIdGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestDliExportsIdGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Start generating export for the specified user
     * Start generating export for the specified user
     * @param id ID of the user
     * @param body report types, start date, and end date
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Export>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDliExportsUsersIdPost(id: kotlin.String, body: ExportPost, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Export>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/dli/exports/users/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestDliExportsUsersIdPostResponse>().map { value }
    }


    @Serializable(RestDliExportsUsersIdPostResponse.Companion::class)
    private class RestDliExportsUsersIdPostResponse(val value: List<Export>) {
        companion object : KSerializer<RestDliExportsUsersIdPostResponse> {
            private val serializer: KSerializer<List<Export>> = serializer<List<Export>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestDliExportsUsersIdPostResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestDliExportsUsersIdPostResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Return the list of Activities for this file
     * Return the list of Activities for this file.
     * @param fileId ID of the file
     * @param userId User Id
     * @param noDayBack Number of days back to search (optional)
     * @param startDate Start date (optional)
     * @param endDate End date (optional)
     * @param filter All or my activities (optional)
     * @param search Search by mail body, subject and sender/recipients (optional)
     * @param type Activity type (optional)
     * @param transactionId Transaction ID associated with the activities (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<ActivityAdmin>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDliFilesFileIdUsersUserIdActivitiesGet(fileId: kotlin.String, userId: kotlin.String, noDayBack: kotlin.Int? = null, startDate: kotlin.String? = null, endDate: kotlin.String? = null, filter: kotlin.String? = null, search: kotlin.String? = null, type: kotlin.String? = null, transactionId: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<ActivityAdmin>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        noDayBack?.apply { localVariableQuery["noDayBack"] = listOf("$noDayBack") }
        startDate?.apply { localVariableQuery["startDate"] = listOf("$startDate") }
        endDate?.apply { localVariableQuery["endDate"] = listOf("$endDate") }
        filter?.apply { localVariableQuery["filter"] = listOf("$filter") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        type?.apply { localVariableQuery["type"] = listOf("$type") }
        transactionId?.apply { localVariableQuery["transactionId"] = listOf("$transactionId") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/dli/files/{fileId}/users/{userId}/activities".replace("{" + "fileId" + "}", "$fileId").replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestDliFilesFileIdUsersUserIdActivitiesGetResponse>().map { value }
    }

    @Serializable(RestDliFilesFileIdUsersUserIdActivitiesGetResponse.Companion::class)
    private class RestDliFilesFileIdUsersUserIdActivitiesGetResponse(val value: List<ActivityAdmin>) {
        companion object : KSerializer<RestDliFilesFileIdUsersUserIdActivitiesGetResponse> {
            private val serializer: KSerializer<List<ActivityAdmin>> = serializer<List<ActivityAdmin>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestDliFilesFileIdUsersUserIdActivitiesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestDliFilesFileIdUsersUserIdActivitiesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Read file content
     * Read content of file
     * @param id ID of the file
     * @param range Bytes range to retrieve. Example: bytes&#x3D;0-1024 (optional)
     * @return void
     */
    open suspend fun restDliFilesIdContentGet(id: kotlin.String, range: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        range?.apply { localVariableHeaders["Range"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/dli/files/{id}/content".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Retrieve information about the file specified.
     * Retrieve information about the file specified. This includes file name,                created date, modified date, file deleted, locked, fingerprint, and links to file,                folder, and owner.
     * @param id ID of the file
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return org.openapitools.client.infrastructure.OctetByteArray
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDliFilesIdGet(id: kotlin.String, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<org.openapitools.client.infrastructure.OctetByteArray> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/dli/files/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Gets the file path by its ID
     * Gets the file path by its ID
     * @param id ID of the file
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restDliFilesIdPathGet(id: kotlin.String, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/dli/files/{id}/path".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Retrieve information about the file preview.
     * Retrieve information about the file preview.
     * @param id ID of the file
     * @return Preview
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDliFilesIdPreviewGet(id: kotlin.String): HttpResponse<Preview> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/dli/files/{id}/preview".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List versions
     * Returns a list of versions for a given file
     * @param id Object id of file to retrieve versions for
     * @param created File Version creation date (optional)
     * @param createdColonGt File Version creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param createdColonGte File Version creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param createdColonLt File Version creation date. Search for result that has this parameter value less than specified. (optional)
     * @param createdColonLte File Version creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param locateId If specified, \&quot;offset\&quot; parameter will be ignored                                             and the page containing entity with this Id will be returned. (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Version>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDliFilesIdVersionsGet(id: kotlin.String, created: kotlin.Int? = null, createdColonGt: kotlin.Int? = null, createdColonGte: kotlin.Int? = null, createdColonLt: kotlin.Int? = null, createdColonLte: kotlin.Int? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, locateId: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Version>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        created?.apply { localVariableQuery["created"] = listOf("$created") }
        createdColonGt?.apply { localVariableQuery["created:gt"] = listOf("$createdColonGt") }
        createdColonGte?.apply { localVariableQuery["created:gte"] = listOf("$createdColonGte") }
        createdColonLt?.apply { localVariableQuery["created:lt"] = listOf("$createdColonLt") }
        createdColonLte?.apply { localVariableQuery["created:lte"] = listOf("$createdColonLte") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        locateId?.apply { localVariableQuery["locate_id"] = listOf("$locateId") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/dli/files/{id}/versions".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestDliFilesIdVersionsGetResponse>().map { value }
    }

    @Serializable(RestDliFilesIdVersionsGetResponse.Companion::class)
    private class RestDliFilesIdVersionsGetResponse(val value: List<Version>) {
        companion object : KSerializer<RestDliFilesIdVersionsGetResponse> {
            private val serializer: KSerializer<List<Version>> = serializer<List<Version>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestDliFilesIdVersionsGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestDliFilesIdVersionsGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Download specified version
     * Download specified version
     * @param id ID of the file
     * @param versionId version ID for which to retrieve content
     * @param range Bytes range to retrieve. Example: bytes&#x3D;0-1024 (optional)
     * @return void
     */
    open suspend fun restDliFilesIdVersionsVersionIdContentGet(id: kotlin.String, versionId: kotlin.String, range: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        range?.apply { localVariableHeaders["Range"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/dli/files/{id}/versions/{version_id}/content".replace("{" + "id" + "}", "$id").replace("{" + "version_id" + "}", "$versionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Allow DLI admin to get specified version
     * Returns the specified version of a file
     * @param id Object id of file to retrieve versions for
     * @param versionId version ID
     * @return Version
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDliFilesIdVersionsVersionIdGet(id: kotlin.String, versionId: kotlin.String): HttpResponse<Version> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/dli/files/{id}/versions/{version_id}".replace("{" + "id" + "}", "$id").replace("{" + "version_id" + "}", "$versionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Return the list of activities for this folder of the specified user
     * Return the list of activities for this folder of the specified user
     * @param folderId ID of the folder
     * @param userId User Id
     * @param noDayBack Number of days back to search (optional)
     * @param startDate Start date (optional)
     * @param endDate End date (optional)
     * @param filter All or my activities (optional)
     * @param search Search by mail body, subject and sender/recipients (optional)
     * @param type Activity type (optional)
     * @param transactionId Transaction ID associated with the activities (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<ActivityAdmin>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDliFoldersFolderIdUsersUserIdActivitiesGet(folderId: kotlin.String, userId: kotlin.String, noDayBack: kotlin.Int? = null, startDate: kotlin.String? = null, endDate: kotlin.String? = null, filter: kotlin.String? = null, search: kotlin.String? = null, type: kotlin.String? = null, transactionId: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<ActivityAdmin>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        noDayBack?.apply { localVariableQuery["noDayBack"] = listOf("$noDayBack") }
        startDate?.apply { localVariableQuery["startDate"] = listOf("$startDate") }
        endDate?.apply { localVariableQuery["endDate"] = listOf("$endDate") }
        filter?.apply { localVariableQuery["filter"] = listOf("$filter") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        type?.apply { localVariableQuery["type"] = listOf("$type") }
        transactionId?.apply { localVariableQuery["transactionId"] = listOf("$transactionId") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/dli/folders/{folderId}/users/{userId}/activities".replace("{" + "folderId" + "}", "$folderId").replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestDliFoldersFolderIdUsersUserIdActivitiesGetResponse>().map { value }
    }

    @Serializable(RestDliFoldersFolderIdUsersUserIdActivitiesGetResponse.Companion::class)
    private class RestDliFoldersFolderIdUsersUserIdActivitiesGetResponse(val value: List<ActivityAdmin>) {
        companion object : KSerializer<RestDliFoldersFolderIdUsersUserIdActivitiesGetResponse> {
            private val serializer: KSerializer<List<ActivityAdmin>> = serializer<List<ActivityAdmin>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestDliFoldersFolderIdUsersUserIdActivitiesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestDliFoldersFolderIdUsersUserIdActivitiesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Retrieve folder information.
     * Return folder information for the specified folder. e.g.:                   I want to know creation date, get a link to the folder,                   find out if the folder was deleted, etc.
     * @param id ID of the folder
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return Folder
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDliFoldersIdGet(id: kotlin.String, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<Folder> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/dli/folders/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List email attachments
     * Returns a list of attachments for a given mail.                        e.g.: I want to the id&#39;s of all the attachments for a mail I sent.
     * @param id Mail id to retrieve attachments for
     * @param ref The email reference code (Mandatory if the email can be accessed without authentication) (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param locateId If specified, \&quot;offset\&quot; parameter will be ignored                                             and the page containing entity with this Id will be returned. (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Attachment>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDliMailIdAttachmentsGet(id: kotlin.String, ref: kotlin.String? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, locateId: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Attachment>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ref?.apply { localVariableQuery["ref"] = listOf("$ref") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        locateId?.apply { localVariableQuery["locate_id"] = listOf("$locateId") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/dli/mail/{id}/attachments".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestDliMailIdAttachmentsGetResponse>().map { value }
    }

    @Serializable(RestDliMailIdAttachmentsGetResponse.Companion::class)
    private class RestDliMailIdAttachmentsGetResponse(val value: List<Attachment>) {
        companion object : KSerializer<RestDliMailIdAttachmentsGetResponse> {
            private val serializer: KSerializer<List<Attachment>> = serializer<List<Attachment>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestDliMailIdAttachmentsGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestDliMailIdAttachmentsGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * List Recipients
     * Returns a list of recipients for a given email
     * @param id ID of the email
     * @param type Type for Recipient. TO,CC,BCC (optional)
     * @param ref The email reference (Mandatory if the email can be accessed without authentication) (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param locateId If specified, \&quot;offset\&quot; parameter will be ignored                                             and the page containing entity with this Id will be returned. (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Recipient>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDliMailIdRecipientsGet(id: kotlin.String, type: kotlin.collections.List<kotlin.String>? = null, ref: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, locateId: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Recipient>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        type?.apply { localVariableQuery["type"] = toMultiValue(this, "csv") }
        ref?.apply { localVariableQuery["ref"] = listOf("$ref") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        locateId?.apply { localVariableQuery["locate_id"] = listOf("$locateId") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/dli/mail/{id}/recipients".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestDliMailIdRecipientsGetResponse>().map { value }
    }

    @Serializable(RestDliMailIdRecipientsGetResponse.Companion::class)
    private class RestDliMailIdRecipientsGetResponse(val value: List<Recipient>) {
        companion object : KSerializer<RestDliMailIdRecipientsGetResponse> {
            private val serializer: KSerializer<List<Recipient>> = serializer<List<Recipient>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestDliMailIdRecipientsGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestDliMailIdRecipientsGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Return the list of all activities of the specified user
     * Return the list of all activities of the specified user
     * @param id ID of the user
     * @param noDayBack Number of days back to search (optional)
     * @param startDate Start date (optional)
     * @param endDate End date (optional)
     * @param filter All or my activities (optional)
     * @param search Search by mail body, subject and sender/recipients (optional)
     * @param type Activity type (optional)
     * @param transactionId Transaction ID associated with the activities (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<ActivityAdmin>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDliUsersIdActivitiesGet(id: kotlin.String, noDayBack: kotlin.Int? = null, startDate: kotlin.String? = null, endDate: kotlin.String? = null, filter: kotlin.String? = null, search: kotlin.String? = null, type: kotlin.String? = null, transactionId: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<ActivityAdmin>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        noDayBack?.apply { localVariableQuery["noDayBack"] = listOf("$noDayBack") }
        startDate?.apply { localVariableQuery["startDate"] = listOf("$startDate") }
        endDate?.apply { localVariableQuery["endDate"] = listOf("$endDate") }
        filter?.apply { localVariableQuery["filter"] = listOf("$filter") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        type?.apply { localVariableQuery["type"] = listOf("$type") }
        transactionId?.apply { localVariableQuery["transactionId"] = listOf("$transactionId") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/dli/users/{id}/activities".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestDliUsersIdActivitiesGetResponse>().map { value }
    }

    @Serializable(RestDliUsersIdActivitiesGetResponse.Companion::class)
    private class RestDliUsersIdActivitiesGetResponse(val value: List<ActivityAdmin>) {
        companion object : KSerializer<RestDliUsersIdActivitiesGetResponse> {
            private val serializer: KSerializer<List<ActivityAdmin>> = serializer<List<ActivityAdmin>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestDliUsersIdActivitiesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestDliUsersIdActivitiesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Retrieve information about the mail specified be a user
     * Retrieve information about the mail specified by one user
     * @param id ID of the user
     * @param senderId Unique identifier of User who sent Email (optional)
     * @param senderIdColonIn Unique identifier of User who sent Email. Search for results that contain any of specified values of this parameter. (optional)
     * @param isRecipient Unique identifier of User who receive Email (optional)
     * @param read Whether the email is read or not by current user (optional)
     * @param date Email creation date (optional)
     * @param dateColonGt Email creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param dateColonGte Email creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param dateColonLt Email creation date. Search for result that has this parameter value less than specified. (optional)
     * @param dateColonLte Email creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param modifiedDate Email modification date (optional)
     * @param modifiedDateColonGt Email modification date. Search for result that has this parameter value greater than specified. (optional)
     * @param modifiedDateColonGte Email modification date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param modifiedDateColonLt Email modification date. Search for result that has this parameter value less than specified. (optional)
     * @param modifiedDateColonLte Email modification date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param deleted Indicates that Email is deleted (optional)
     * @param emailPackageId Email Package unique identifier (optional)
     * @param emailPackageIdColonIn Email Package unique identifier. Search for results that contain any of specified values of this parameter. (optional)
     * @param templateId Email Template unique identifier (optional)
     * @param templateIdColonIn Email Template unique identifier. Search for results that contain any of specified values of this parameter. (optional)
     * @param status Email status (optional)
     * @param isPreview Whether the email is a preview email (optional)
     * @param isUserSent Whether the email was sent by some user (optional)
     * @param bucket Email bucket (optional)
     * @param returnCustomWebForm Return all emails include those with the custom web form (optional)
     * @param customWebFormOnly Return only emails with the custom web form (optional)
     * @param webFormId Email web form ID (optional)
     * @param webFormIdColonContains Email web form ID. Search for result that contains specified characters in this parameter. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param locateId If specified, \&quot;offset\&quot; parameter will be ignored                                             and the page containing entity with this Id will be returned. (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Email>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restDliUsersIdMailGet(id: kotlin.String, senderId: kotlin.String? = null, senderIdColonIn: kotlin.String? = null, isRecipient: kotlin.Boolean? = null, read: kotlin.Boolean? = null, date: kotlin.String? = null, dateColonGt: kotlin.String? = null, dateColonGte: kotlin.String? = null, dateColonLt: kotlin.String? = null, dateColonLte: kotlin.String? = null, modifiedDate: kotlin.String? = null, modifiedDateColonGt: kotlin.String? = null, modifiedDateColonGte: kotlin.String? = null, modifiedDateColonLt: kotlin.String? = null, modifiedDateColonLte: kotlin.String? = null, deleted: kotlin.Boolean? = null, emailPackageId: kotlin.String? = null, emailPackageIdColonIn: kotlin.String? = null, templateId: kotlin.Int? = null, templateIdColonIn: kotlin.Int? = null, status: kotlin.collections.List<kotlin.String>? = null, isPreview: kotlin.Boolean? = null, isUserSent: kotlin.Boolean? = null, bucket: kotlin.String? = null, returnCustomWebForm: kotlin.Boolean? = null, customWebFormOnly: kotlin.Boolean? = null, webFormId: kotlin.String? = null, webFormIdColonContains: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, locateId: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Email>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        senderId?.apply { localVariableQuery["senderId"] = listOf("$senderId") }
        senderIdColonIn?.apply { localVariableQuery["senderId:in"] = listOf("$senderIdColonIn") }
        isRecipient?.apply { localVariableQuery["isRecipient"] = listOf("$isRecipient") }
        read?.apply { localVariableQuery["read"] = listOf("$read") }
        date?.apply { localVariableQuery["date"] = listOf("$date") }
        dateColonGt?.apply { localVariableQuery["date:gt"] = listOf("$dateColonGt") }
        dateColonGte?.apply { localVariableQuery["date:gte"] = listOf("$dateColonGte") }
        dateColonLt?.apply { localVariableQuery["date:lt"] = listOf("$dateColonLt") }
        dateColonLte?.apply { localVariableQuery["date:lte"] = listOf("$dateColonLte") }
        modifiedDate?.apply { localVariableQuery["modified_date"] = listOf("$modifiedDate") }
        modifiedDateColonGt?.apply { localVariableQuery["modified_date:gt"] = listOf("$modifiedDateColonGt") }
        modifiedDateColonGte?.apply { localVariableQuery["modified_date:gte"] = listOf("$modifiedDateColonGte") }
        modifiedDateColonLt?.apply { localVariableQuery["modified_date:lt"] = listOf("$modifiedDateColonLt") }
        modifiedDateColonLte?.apply { localVariableQuery["modified_date:lte"] = listOf("$modifiedDateColonLte") }
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        emailPackageId?.apply { localVariableQuery["emailPackageId"] = listOf("$emailPackageId") }
        emailPackageIdColonIn?.apply { localVariableQuery["emailPackageId:in"] = listOf("$emailPackageIdColonIn") }
        templateId?.apply { localVariableQuery["templateId"] = listOf("$templateId") }
        templateIdColonIn?.apply { localVariableQuery["templateId:in"] = listOf("$templateIdColonIn") }
        status?.apply { localVariableQuery["status"] = toMultiValue(this, "csv") }
        isPreview?.apply { localVariableQuery["isPreview"] = listOf("$isPreview") }
        isUserSent?.apply { localVariableQuery["isUserSent"] = listOf("$isUserSent") }
        bucket?.apply { localVariableQuery["bucket"] = listOf("$bucket") }
        returnCustomWebForm?.apply { localVariableQuery["returnCustomWebForm"] = listOf("$returnCustomWebForm") }
        customWebFormOnly?.apply { localVariableQuery["customWebFormOnly"] = listOf("$customWebFormOnly") }
        webFormId?.apply { localVariableQuery["webFormId"] = listOf("$webFormId") }
        webFormIdColonContains?.apply { localVariableQuery["webFormId:contains"] = listOf("$webFormIdColonContains") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        locateId?.apply { localVariableQuery["locate_id"] = listOf("$locateId") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/dli/users/{id}/mail".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestDliUsersIdMailGetResponse>().map { value }
    }

    @Serializable(RestDliUsersIdMailGetResponse.Companion::class)
    private class RestDliUsersIdMailGetResponse(val value: List<Email>) {
        companion object : KSerializer<RestDliUsersIdMailGetResponse> {
            private val serializer: KSerializer<List<Email>> = serializer<List<Email>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestDliUsersIdMailGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestDliUsersIdMailGetResponse(serializer.deserialize(decoder))
        }
    }

}
