/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.AdminFilePutRequest
import org.openapitools.client.models.AdminFileRescan
import org.openapitools.client.models.BulkOperationLockFile
import org.openapitools.client.models.Comment
import org.openapitools.client.models.CommentPost
import org.openapitools.client.models.Content
import org.openapitools.client.models.ContentPost
import org.openapitools.client.models.FileAddMembers
import org.openapitools.client.models.FileCopyMovePost
import org.openapitools.client.models.FileLockPostRequest
import org.openapitools.client.models.FileMembersPostRequest
import org.openapitools.client.models.FileNameRequestPost
import org.openapitools.client.models.FilePermissions
import org.openapitools.client.models.FilePreviewSupport
import org.openapitools.client.models.FileUpdateRequest
import org.openapitools.client.models.Files
import org.openapitools.client.models.KPTransferStatus
import org.openapitools.client.models.KitepointPreview
import org.openapitools.client.models.Member
import org.openapitools.client.models.MemberGroup
import org.openapitools.client.models.Members
import org.openapitools.client.models.Permission
import org.openapitools.client.models.Preview
import org.openapitools.client.models.RefreshToken
import org.openapitools.client.models.Task
import org.openapitools.client.models.TaskPost
import org.openapitools.client.models.Version

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class FilesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Preview content of file from EC sources
     * Preview content of file from EC sources
     * @param id The ID of the entity
     * @return void
     */
    open suspend fun previewFileIdGet(id: kotlin.Int): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/preview/file/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Submit file for rescan
     * Submit file for rescan
     * @param id The ID of the entity
     * @param mode  (optional)
     * @param with  (optional)
     * @param returnEntity  (optional)
     * @return AdminFileRescan
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminFilesIdActionsRescanPost(id: kotlin.Int, mode: kotlin.String? = null, with: kotlin.String? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<AdminFileRescan> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/admin/files/{id}/actions/rescan".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Bulk update files
     * Bulk update files
     * @param body 
     * @param mode  (optional)
     * @param with  (optional)
     * @param returnEntity  (optional)
     * @return Files
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminFilesPut(body: AdminFilePutRequest, mode: kotlin.String? = null, with: kotlin.String? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<Files> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/admin/files",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Download a file by link
     * Download a file by link
     * @param ref The ID of the download link
     * @return org.openapitools.client.infrastructure.OctetByteArray
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesActionsContentLinkRefGet(ref: kotlin.String): HttpResponse<org.openapitools.client.infrastructure.OctetByteArray> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/actions/content/link/{ref}".replace("{" + "ref" + "}", "$ref"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Copy multiple files to folder
     * Copy multiple files to folder
     * @param idColonIn Array of values which are going to be changed.
     * @param body File copy move parameters
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesActionsCopyPost(idColonIn: kotlin.String, body: FileCopyMovePost, partialSuccess: kotlin.Boolean? = null, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/files/actions/copy",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Bulk lock files
     * Bulk lock files
     * @param body 
     * @param partialSuccess  (optional)
     * @param with  (optional)
     * @param mode  (optional)
     * @param idColonIn  (optional)
     * @param returnEntity  (optional)
     * @return BulkOperationLockFile
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesActionsLockPatch(body: FileLockPostRequest, partialSuccess: kotlin.Boolean? = null, with: kotlin.String? = null, mode: kotlin.String? = null, idColonIn: kotlin.collections.List<kotlin.String>? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<BulkOperationLockFile> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        idColonIn?.apply { localVariableQuery["id:in"] = toMultiValue(this, "csv") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/rest/files/actions/lock",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete multiple files from user mobile sync list
     * Delete multiple files from user mobile sync list
     * @param idColonIn Array of values which are going to be changed.
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesActionsMobileSyncItemsDelete(idColonIn: kotlin.String, partialSuccess: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/files/actions/mobileSyncItems",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Add multiple files to mobile sync list
     * Add multiple files to mobile sync list This operation will not return location headers for each entity created, if the inserted records are         required, returnEntity should be set to true.
     * @param idColonIn Array of values which are going to be changed.
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesActionsMobileSyncItemsPost(idColonIn: kotlin.String, partialSuccess: kotlin.Boolean? = null, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/files/actions/mobileSyncItems",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Move multiple files to folder
     * Move multiple files to folder
     * @param idColonIn Array of values which are going to be changed.
     * @param body File copy move parameters
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesActionsMovePost(idColonIn: kotlin.String, body: FileCopyMovePost, partialSuccess: kotlin.Boolean? = null, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/files/actions/move",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Permanently delete list of files
     * Permanently delete list of files. These files will no longer be accessible.
     * @param idColonIn Array of values which are going to be changed.
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesActionsPermanentDelete(idColonIn: kotlin.String, partialSuccess: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/files/actions/permanent",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Un-Push collection of files
     * Un-Pushing files deletes these files from all folder members sync list.
     * @param idColonIn Array of values which are going to be changed.
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesActionsPushDelete(idColonIn: kotlin.String, partialSuccess: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/files/actions/push",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Push files list to mobile sync list
     * Set list of files as mobile sync item for all folder members. This operation will not return location headers for each entity created, if the inserted records are         required, returnEntity should be set to true.
     * @param idColonIn Array of values which are going to be changed.
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesActionsPushPost(idColonIn: kotlin.String, partialSuccess: kotlin.Boolean? = null, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/files/actions/push",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Recover files
     * Recovers bulk list of files.
     * @param idColonIn Array of values which are going to be changed.
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesActionsRecoverPatch(idColonIn: kotlin.String, partialSuccess: kotlin.Boolean? = null, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/rest/files/actions/recover",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Triggers on demand AV/DLP scan on multiple files.
     * Attempts to trigger an AV/DLP scan on requested files.
     * @param returnEntity Return information about newly created entity (optional)
     * @param idColonIn List of IDs of entities to scan. Search for results that contain any of specified values of this parameter. (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesActionsScanPost(returnEntity: kotlin.Boolean? = null, idColonIn: kotlin.String? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/files/actions/scan",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Bulk unlock files
     * Bulk unlock files
     * @param body 
     * @param partialSuccess  (optional)
     * @param with  (optional)
     * @param mode  (optional)
     * @param idColonIn  (optional)
     * @param returnEntity  (optional)
     * @return BulkOperationLockFile
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesActionsUnlockPatch(body: FileLockPostRequest, partialSuccess: kotlin.Boolean? = null, with: kotlin.String? = null, mode: kotlin.String? = null, idColonIn: kotlin.collections.List<kotlin.String>? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<BulkOperationLockFile> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        idColonIn?.apply { localVariableQuery["id:in"] = toMultiValue(this, "csv") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/rest/files/actions/unlock",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Download multiple files/folders as zip
     * Download multiple files/folders as zip
     * @param name The zip filename (optional)
     * @param fileIdColonIn List of file ID. Search for results that contain any of specified values of this parameter. (optional)
     * @param folderIdColonIn List of folder ID. Search for results that contain any of specified values of this parameter. (optional)
     * @param username User email of files&#39; requestor (optional)
     * @param extensions Filter by files with these extensions (optional)
     * @param utcOffset The user timezone offset in (seconds). UTC+08:00 &#x3D; 28800 (optional)
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesActionsZipGet(name: kotlin.String? = null, fileIdColonIn: kotlin.String? = null, folderIdColonIn: kotlin.String? = null, username: kotlin.String? = null, extensions: kotlin.String? = null, utcOffset: kotlin.Int? = null, partialSuccess: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        fileIdColonIn?.apply { localVariableQuery["fileId:in"] = listOf("$fileIdColonIn") }
        folderIdColonIn?.apply { localVariableQuery["folderId:in"] = listOf("$folderIdColonIn") }
        username?.apply { localVariableQuery["username"] = listOf("$username") }
        extensions?.apply { localVariableQuery["extensions"] = listOf("$extensions") }
        utcOffset?.apply { localVariableQuery["utcOffset"] = listOf("$utcOffset") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/actions/zip",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Check multiple files/folders AV/DLP status
     * Check multiple files/folders AV/DLP status
     * @param fileIdColonIn  (optional)
     * @param folderIdColonIn  (optional)
     * @param partialSuccess Controls whether to allow partial success (optional)
     * @param extensions Filter by files with these extensions (optional)
     * @return void
     */
    open suspend fun restFilesActionsZipStatusGet(fileIdColonIn: kotlin.collections.List<kotlin.String>? = null, folderIdColonIn: kotlin.collections.List<kotlin.String>? = null, partialSuccess: kotlin.Boolean? = null, extensions: kotlin.collections.List<kotlin.String>? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        fileIdColonIn?.apply { localVariableQuery["fileId:in"] = toMultiValue(this, "csv") }
        folderIdColonIn?.apply { localVariableQuery["folderId:in"] = toMultiValue(this, "csv") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        extensions?.apply { localVariableQuery["extensions"] = toMultiValue(this, "csv") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/actions/zipStatus",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Deletes list of files
     * Deletes list of files.
     * @param idColonIn Array of values which are going to be changed.
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesDelete(idColonIn: kotlin.String, partialSuccess: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/files",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Locks the file by its ID
     * Lock the given file from access.                   Other users will not be able to add a new version of this file                   until it is unlocked by the owner.
     * @param id ID of the file
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesIdActionsLockPatch(id: kotlin.String, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/rest/files/{id}/actions/lock".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Permanently delete a file
     * Permanently delete the specified file. This file will no longer be accessible.
     * @param id ID of the file
     * @return void
     */
    open suspend fun restFilesIdActionsPermanentDelete(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/files/{id}/actions/permanent".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Un-Push file
     * Un-Pushing file deletes this file from all folder members sync list.
     * @param id File id
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesIdActionsPushDelete(id: kotlin.String, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/files/{id}/actions/push".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Push file to mobile sync list
     * Set file as mobile sync item for all folder members.
     * @param id ID of the file
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesIdActionsPushPost(id: kotlin.String, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/files/{id}/actions/push".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Recovers deleted file.
     * Recover deleted file by its ID. This marks an already deleted file as not deleted.
     * @param id ID of the file
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesIdActionsRecoverPatch(id: kotlin.String, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/rest/files/{id}/actions/recover".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns file to EC source
     * Returns file to EC source
     * @param id Object ID of the file
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesIdActionsReturnPatch(id: kotlin.String, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/rest/files/{id}/actions/return".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Triggers on demand AV/DLP file scan.
     * Attempts to trigger an AV/DLP scan on requested file.
     * @param id ID of the file
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesIdActionsScanPost(id: kotlin.String, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/files/{id}/actions/scan".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Unlocks the file by its ID
     * Unlock the given file.                   This will allow other users in the folder to upload a new version of the file.
     * @param id ID of the file
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesIdActionsUnlockPatch(id: kotlin.String, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/rest/files/{id}/actions/unlock".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Comments for a file
     * Returns all comments for a file
     * @param id File object ID of the comments to retrieve
     * @param parentId Parent Comment unique identifier (optional)
     * @param parentIdColonIn Parent Comment unique identifier. Search for results that contain any of specified values of this parameter. (optional)
     * @param userId Unique identifier of comment author (optional)
     * @param userIdColonIn Unique identifier of comment author. Search for results that contain any of specified values of this parameter. (optional)
     * @param created Comment creation date (optional)
     * @param createdColonGt Comment creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param createdColonGte Comment creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param createdColonLt Comment creation date. Search for result that has this parameter value less than specified. (optional)
     * @param createdColonLte Comment creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param modified Comment modification date (optional)
     * @param modifiedColonGt Comment modification date. Search for result that has this parameter value greater than specified. (optional)
     * @param modifiedColonGte Comment modification date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param modifiedColonLt Comment modification date. Search for result that has this parameter value less than specified. (optional)
     * @param modifiedColonLte Comment modification date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param contentsColonContains Comment content. Search for result that contains specified characters in this parameter. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Comment>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesIdCommentsGet(id: kotlin.String, parentId: kotlin.Int? = null, parentIdColonIn: kotlin.Int? = null, userId: kotlin.String? = null, userIdColonIn: kotlin.String? = null, created: kotlin.String? = null, createdColonGt: kotlin.String? = null, createdColonGte: kotlin.String? = null, createdColonLt: kotlin.String? = null, createdColonLte: kotlin.String? = null, modified: kotlin.String? = null, modifiedColonGt: kotlin.String? = null, modifiedColonGte: kotlin.String? = null, modifiedColonLt: kotlin.String? = null, modifiedColonLte: kotlin.String? = null, contentsColonContains: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Comment>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        parentId?.apply { localVariableQuery["parentId"] = listOf("$parentId") }
        parentIdColonIn?.apply { localVariableQuery["parentId:in"] = listOf("$parentIdColonIn") }
        userId?.apply { localVariableQuery["userId"] = listOf("$userId") }
        userIdColonIn?.apply { localVariableQuery["userId:in"] = listOf("$userIdColonIn") }
        created?.apply { localVariableQuery["created"] = listOf("$created") }
        createdColonGt?.apply { localVariableQuery["created:gt"] = listOf("$createdColonGt") }
        createdColonGte?.apply { localVariableQuery["created:gte"] = listOf("$createdColonGte") }
        createdColonLt?.apply { localVariableQuery["created:lt"] = listOf("$createdColonLt") }
        createdColonLte?.apply { localVariableQuery["created:lte"] = listOf("$createdColonLte") }
        modified?.apply { localVariableQuery["modified"] = listOf("$modified") }
        modifiedColonGt?.apply { localVariableQuery["modified:gt"] = listOf("$modifiedColonGt") }
        modifiedColonGte?.apply { localVariableQuery["modified:gte"] = listOf("$modifiedColonGte") }
        modifiedColonLt?.apply { localVariableQuery["modified:lt"] = listOf("$modifiedColonLt") }
        modifiedColonLte?.apply { localVariableQuery["modified:lte"] = listOf("$modifiedColonLte") }
        contentsColonContains?.apply { localVariableQuery["contents:contains"] = listOf("$contentsColonContains") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/{id}/comments".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestFilesIdCommentsGetResponse>().map { value }
    }

    @Serializable(RestFilesIdCommentsGetResponse.Companion::class)
    private class RestFilesIdCommentsGetResponse(val value: List<Comment>) {
        companion object : KSerializer<RestFilesIdCommentsGetResponse> {
            private val serializer: KSerializer<List<Comment>> = serializer<List<Comment>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestFilesIdCommentsGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestFilesIdCommentsGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Create a Comment on a file
     * Create a Comment on a file.
     * @param id Object ID of the file being commented on
     * @param body The comment details
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesIdCommentsPost(id: kotlin.String, body: CommentPost, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/files/{id}/comments".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Download a file
     * Download a file
     * @param id The ID of the entity
     * @return org.openapitools.client.infrastructure.OctetByteArray
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesIdContentGet(id: kotlin.String): HttpResponse<org.openapitools.client.infrastructure.OctetByteArray> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/{id}/content".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Mark file for deletion.
     * Marks a file with the given ID as deleted. This file will be cleaned up                        after x days as set in the admin.
     * @param id ID of the file
     * @return void
     */
    open suspend fun restFilesIdDelete(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/files/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get access token for external file edit.
     * Retrieve refresh token for external file edit.
     * @param id ID of the file
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return RefreshToken
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesIdExternalEditGet(id: kotlin.String, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<RefreshToken> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/{id}/externalEdit".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Retrieve information about the file specified.
     * Retrieve information about the file specified.
     * @param id The ID of the entity
     * @param mode  (optional)
     * @param with  (optional)
     * @param returnEntity  (optional)
     * @return org.openapitools.client.infrastructure.OctetByteArray
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesIdGet(id: kotlin.String, mode: kotlin.String? = null, with: kotlin.String? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<org.openapitools.client.infrastructure.OctetByteArray> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete all members in file
     * Delete member from the file
     * @param id The ID of the entity
     * @return void
     */
    open suspend fun restFilesIdMembersDelete(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/files/{id}/members".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List of members in with access to the file
     * Returns a list of members in with access to the file
     * @param id The ID of the entity
     * @param orderBy  (optional)
     * @param groupIdColonIn  (optional)
     * @param with  (optional)
     * @param roleId  (optional)
     * @param limit  (optional)
     * @param mode  (optional)
     * @param userId  (optional)
     * @param userIdColonIn Member id list recommended request size &lt;&#x3D; 100 (optional)
     * @param roleIdColonIn  (optional)
     * @param type  (optional)
     * @param offset  (optional)
     * @param groupId  (optional)
     * @param returnEntity  (optional)
     * @return Members
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesIdMembersGet(id: kotlin.String, orderBy: kotlin.String? = null, groupIdColonIn: kotlin.collections.List<kotlin.String>? = null, with: kotlin.String? = null, roleId: kotlin.Int? = null, limit: kotlin.Int? = null, mode: kotlin.String? = null, userId: kotlin.String? = null, userIdColonIn: kotlin.collections.List<kotlin.String>? = null, roleIdColonIn: kotlin.collections.List<kotlin.String>? = null, type: kotlin.String? = null, offset: kotlin.Int? = null, groupId: kotlin.Int? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<Members> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        orderBy?.apply { localVariableQuery["orderBy"] = listOf("$orderBy") }
        groupIdColonIn?.apply { localVariableQuery["groupId:in"] = toMultiValue(this, "csv") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        roleId?.apply { localVariableQuery["roleId"] = listOf("$roleId") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        userId?.apply { localVariableQuery["userId"] = listOf("$userId") }
        userIdColonIn?.apply { localVariableQuery["userId:in"] = toMultiValue(this, "csv") }
        roleIdColonIn?.apply { localVariableQuery["roleId:in"] = toMultiValue(this, "csv") }
        type?.apply { localVariableQuery["type"] = listOf("$type") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        groupId?.apply { localVariableQuery["groupId"] = listOf("$groupId") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/{id}/members".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List members
     * Returns a list of group members in with access to the file
     * @param id ID of the file
     * @param groupId Unique identifier of group (optional)
     * @param groupIdColonIn Unique identifier of group. Search for results that contain any of specified values of this parameter. (optional)
     * @param roleId Unique identifier of role (optional)
     * @param roleIdColonIn Unique identifier of role. Search for results that contain any of specified values of this parameter. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<MemberGroup>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesIdMembersLdapGroupGet(id: kotlin.String, groupId: kotlin.Int? = null, groupIdColonIn: kotlin.Int? = null, roleId: kotlin.Int? = null, roleIdColonIn: kotlin.Int? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<MemberGroup>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        groupId?.apply { localVariableQuery["groupId"] = listOf("$groupId") }
        groupIdColonIn?.apply { localVariableQuery["groupId:in"] = listOf("$groupIdColonIn") }
        roleId?.apply { localVariableQuery["roleId"] = listOf("$roleId") }
        roleIdColonIn?.apply { localVariableQuery["roleId:in"] = listOf("$roleIdColonIn") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/{id}/members/ldapGroup".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestFilesIdMembersLdapGroupGetResponse>().map { value }
    }

    @Serializable(RestFilesIdMembersLdapGroupGetResponse.Companion::class)
    private class RestFilesIdMembersLdapGroupGetResponse(val value: List<MemberGroup>) {
        companion object : KSerializer<RestFilesIdMembersLdapGroupGetResponse> {
            private val serializer: KSerializer<List<MemberGroup>> = serializer<List<MemberGroup>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestFilesIdMembersLdapGroupGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestFilesIdMembersLdapGroupGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * display group member
     * Display the specified group member in the file
     * @param id ID of the file
     * @param ldapGroupId id of the member
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return Member
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesIdMembersLdapGroupLdapGroupIdGet(id: kotlin.String, ldapGroupId: kotlin.Int, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<Member> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/{id}/members/ldapGroup/{ldap_group_id}".replace("{" + "id" + "}", "$id").replace("{" + "ldap_group_id" + "}", "$ldapGroupId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Leave as the file member
     * Leave as the file member
     * @param id The ID of the entity
     * @return void
     */
    open suspend fun restFilesIdMembersMeDelete(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/files/{id}/members/me".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete member from the file
     * Delete member from the file
     * @param id The ID of the entity
     * @param memberUserId The member user ID
     * @return void
     */
    open suspend fun restFilesIdMembersMemberUserIdDelete(id: kotlin.String, memberUserId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/files/{id}/members/{member_user_id}".replace("{" + "id" + "}", "$id").replace("{" + "member_user_id" + "}", "$memberUserId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * display member
     * Display the specified member in the file
     * @param id ID of the file
     * @param memberUserId ID of the member
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return Member
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesIdMembersMemberUserIdGet(id: kotlin.String, memberUserId: kotlin.String, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<Member> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/{id}/members/{member_user_id}".replace("{" + "id" + "}", "$id").replace("{" + "member_user_id" + "}", "$memberUserId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update members in the file
     * Update members in the file
     * @param id The ID of the entity
     * @param memberUserId The member user ID
     * @return void
     */
    open suspend fun restFilesIdMembersMemberUserIdPut(id: kotlin.String, memberUserId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/files/{id}/members/{member_user_id}".replace("{" + "id" + "}", "$id").replace("{" + "member_user_id" + "}", "$memberUserId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Gets the file path by its ID
     * Gets the file path by its ID
     * @param id ID of the file
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesIdPathGet(id: kotlin.String, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/{id}/path".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * upload new version
     * uploads new file version
     * @param id ID of the file
     * @param body file content
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @param clientCreated Client created field for the file (optional)
     * @param clientModified Client modified field for the file (optional)
     * @return void
     */
    open suspend fun restFilesIdPost(id: kotlin.String, body: io.ktor.client.request.forms.InputProvider, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null, clientCreated: kotlin.String? = null, clientModified: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            formData {
                body?.apply { append("body", body) }
                clientCreated?.apply { append("clientCreated", clientCreated) }
                clientModified?.apply { append("clientModified", clientModified) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/files/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Retrieve information about the file preview.
     * Retrieve information about the file preview.
     * @param id The ID of the entity
     * @return void
     */
    open suspend fun restFilesIdPreviewGet(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/{id}/preview".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update the details of the file specified
     * 
     * @param id The ID of the entity
     * @param body 
     * @return void
     */
    open suspend fun restFilesIdPut(id: kotlin.String, body: FileUpdateRequest): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/files/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get Tasks for a file
     * Returns all tasks for a file
     * @param id File object ID of the task to retrieve
     * @param assigneeId Assigned User unique identifier (optional)
     * @param assigneeIdColonIn Assigned User unique identifier. Search for results that contain any of specified values of this parameter. (optional)
     * @param due Task due date (optional)
     * @param dueColonGt Task due date. Search for result that has this parameter value greater than specified. (optional)
     * @param dueColonGte Task due date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param dueColonLt Task due date. Search for result that has this parameter value less than specified. (optional)
     * @param dueColonLte Task due date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param parentId Parent Comment identifier (optional)
     * @param parentIdColonIn Parent Comment identifier. Search for results that contain any of specified values of this parameter. (optional)
     * @param userId Identifier of User who created a Task (optional)
     * @param userIdColonIn Identifier of User who created a Task. Search for results that contain any of specified values of this parameter. (optional)
     * @param created Task creation date (optional)
     * @param createdColonGt Task creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param createdColonGte Task creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param createdColonLt Task creation date. Search for result that has this parameter value less than specified. (optional)
     * @param createdColonLte Task creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param modified Task modification date (optional)
     * @param modifiedColonGt Task modification date. Search for result that has this parameter value greater than specified. (optional)
     * @param modifiedColonGte Task modification date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param modifiedColonLt Task modification date. Search for result that has this parameter value less than specified. (optional)
     * @param modifiedColonLte Task modification date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param contentsColonContains Task content. Search for result that contains specified characters in this parameter. (optional)
     * @param status Task status (optional)
     * @param deleted Whether the task has been deleted (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Task>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesIdTasksGet(id: kotlin.String, assigneeId: kotlin.String? = null, assigneeIdColonIn: kotlin.String? = null, due: kotlin.String? = null, dueColonGt: kotlin.String? = null, dueColonGte: kotlin.String? = null, dueColonLt: kotlin.String? = null, dueColonLte: kotlin.String? = null, parentId: kotlin.Int? = null, parentIdColonIn: kotlin.Int? = null, userId: kotlin.String? = null, userIdColonIn: kotlin.String? = null, created: kotlin.String? = null, createdColonGt: kotlin.String? = null, createdColonGte: kotlin.String? = null, createdColonLt: kotlin.String? = null, createdColonLte: kotlin.String? = null, modified: kotlin.String? = null, modifiedColonGt: kotlin.String? = null, modifiedColonGte: kotlin.String? = null, modifiedColonLt: kotlin.String? = null, modifiedColonLte: kotlin.String? = null, contentsColonContains: kotlin.String? = null, status: kotlin.collections.List<kotlin.String>? = null, deleted: kotlin.Boolean? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Task>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        assigneeId?.apply { localVariableQuery["assigneeId"] = listOf("$assigneeId") }
        assigneeIdColonIn?.apply { localVariableQuery["assigneeId:in"] = listOf("$assigneeIdColonIn") }
        due?.apply { localVariableQuery["due"] = listOf("$due") }
        dueColonGt?.apply { localVariableQuery["due:gt"] = listOf("$dueColonGt") }
        dueColonGte?.apply { localVariableQuery["due:gte"] = listOf("$dueColonGte") }
        dueColonLt?.apply { localVariableQuery["due:lt"] = listOf("$dueColonLt") }
        dueColonLte?.apply { localVariableQuery["due:lte"] = listOf("$dueColonLte") }
        parentId?.apply { localVariableQuery["parentId"] = listOf("$parentId") }
        parentIdColonIn?.apply { localVariableQuery["parentId:in"] = listOf("$parentIdColonIn") }
        userId?.apply { localVariableQuery["userId"] = listOf("$userId") }
        userIdColonIn?.apply { localVariableQuery["userId:in"] = listOf("$userIdColonIn") }
        created?.apply { localVariableQuery["created"] = listOf("$created") }
        createdColonGt?.apply { localVariableQuery["created:gt"] = listOf("$createdColonGt") }
        createdColonGte?.apply { localVariableQuery["created:gte"] = listOf("$createdColonGte") }
        createdColonLt?.apply { localVariableQuery["created:lt"] = listOf("$createdColonLt") }
        createdColonLte?.apply { localVariableQuery["created:lte"] = listOf("$createdColonLte") }
        modified?.apply { localVariableQuery["modified"] = listOf("$modified") }
        modifiedColonGt?.apply { localVariableQuery["modified:gt"] = listOf("$modifiedColonGt") }
        modifiedColonGte?.apply { localVariableQuery["modified:gte"] = listOf("$modifiedColonGte") }
        modifiedColonLt?.apply { localVariableQuery["modified:lt"] = listOf("$modifiedColonLt") }
        modifiedColonLte?.apply { localVariableQuery["modified:lte"] = listOf("$modifiedColonLte") }
        contentsColonContains?.apply { localVariableQuery["contents:contains"] = listOf("$contentsColonContains") }
        status?.apply { localVariableQuery["status"] = toMultiValue(this, "csv") }
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/{id}/tasks".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestFilesIdTasksGetResponse>().map { value }
    }

    @Serializable(RestFilesIdTasksGetResponse.Companion::class)
    private class RestFilesIdTasksGetResponse(val value: List<Task>) {
        companion object : KSerializer<RestFilesIdTasksGetResponse> {
            private val serializer: KSerializer<List<Task>> = serializer<List<Task>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestFilesIdTasksGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestFilesIdTasksGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Create a Task on a file
     * Creates a task on a file
     * @param id Object ID of the file task is created on
     * @param body The task details
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesIdTasksPost(id: kotlin.String, body: TaskPost, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/files/{id}/tasks".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List versions
     * Returns a list of versions for a given file
     * @param id Object id of file to retrieve versions for
     * @param created File Version creation date (optional)
     * @param createdColonGt File Version creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param createdColonGte File Version creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param createdColonLt File Version creation date. Search for result that has this parameter value less than specified. (optional)
     * @param createdColonLte File Version creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param locateId If specified, \&quot;offset\&quot; parameter will be ignored                                             and the page containing entity with this Id will be returned. (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Version>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesIdVersionsGet(id: kotlin.String, created: kotlin.Int? = null, createdColonGt: kotlin.Int? = null, createdColonGte: kotlin.Int? = null, createdColonLt: kotlin.Int? = null, createdColonLte: kotlin.Int? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, locateId: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Version>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        created?.apply { localVariableQuery["created"] = listOf("$created") }
        createdColonGt?.apply { localVariableQuery["created:gt"] = listOf("$createdColonGt") }
        createdColonGte?.apply { localVariableQuery["created:gte"] = listOf("$createdColonGte") }
        createdColonLt?.apply { localVariableQuery["created:lt"] = listOf("$createdColonLt") }
        createdColonLte?.apply { localVariableQuery["created:lte"] = listOf("$createdColonLte") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        locateId?.apply { localVariableQuery["locate_id"] = listOf("$locateId") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/{id}/versions".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestFilesIdVersionsGetResponse>().map { value }
    }

    @Serializable(RestFilesIdVersionsGetResponse.Companion::class)
    private class RestFilesIdVersionsGetResponse(val value: List<Version>) {
        companion object : KSerializer<RestFilesIdVersionsGetResponse> {
            private val serializer: KSerializer<List<Version>> = serializer<List<Version>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestFilesIdVersionsGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestFilesIdVersionsGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Uploads a new file version
     * Uploads a new file version
     * @param id ID of the file to replace
     * @param body file content
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesIdVersionsPost(id: kotlin.String, body: io.ktor.client.request.forms.InputProvider, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            formData {
                body?.apply { append("body", body) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/files/{id}/versions".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * promote specified file version
     * promote version
     * @param id Object id of file to promote version from
     * @param versionId version ID to promote to version 0
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesIdVersionsVersionIdActionsPromotePost(id: kotlin.String, versionId: kotlin.String, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/files/{id}/versions/{version_id}/actions/promote".replace("{" + "id" + "}", "$id").replace("{" + "version_id" + "}", "$versionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Triggers on demand AV/DLP file scan.
     * Attempts to trigger an AV/DLP scan on requested file version.
     * @param id Object ID of the file to scan
     * @param versionId Version ID of the file to scan
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFilesIdVersionsVersionIdActionsScanPost(id: kotlin.String, versionId: kotlin.String, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/files/{id}/versions/{version_id}/actions/scan".replace("{" + "id" + "}", "$id").replace("{" + "version_id" + "}", "$versionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * download specified version
     * download specified version
     * @param id ID of the file
     * @param versionId version ID for which to retrieve content
     * @param range Bytes range to retrieve. Example: bytes&#x3D;0-1024 (optional)
     * @return void
     */
    open suspend fun restFilesIdVersionsVersionIdContentGet(id: kotlin.String, versionId: kotlin.String, range: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        range?.apply { localVariableHeaders["Range"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/{id}/versions/{version_id}/content".replace("{" + "id" + "}", "$id").replace("{" + "version_id" + "}", "$versionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Deletes the specified file version
     * Delete version
     * @param id Object id of file to delete version from
     * @param versionId version ID to delete
     * @return void
     */
    open suspend fun restFilesIdVersionsVersionIdDelete(id: kotlin.String, versionId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/files/{id}/versions/{version_id}".replace("{" + "id" + "}", "$id").replace("{" + "version_id" + "}", "$versionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get specified version
     * Returns the specified version of a file
     * @param id Object id of file to retrieve versions for
     * @param versionId version ID
     * @return Version
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesIdVersionsVersionIdGet(id: kotlin.String, versionId: kotlin.String): HttpResponse<Version> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/{id}/versions/{version_id}".replace("{" + "id" + "}", "$id").replace("{" + "version_id" + "}", "$versionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Retrieve information about the file preview.
     * Retrieve information about the file preview.
     * @param id Object id of file to retrieve version preview for
     * @param versionId version ID
     * @return Preview
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesIdVersionsVersionIdPreviewGet(id: kotlin.String, versionId: kotlin.String): HttpResponse<Preview> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/{id}/versions/{version_id}/preview".replace("{" + "id" + "}", "$id").replace("{" + "version_id" + "}", "$versionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Add multiple members
     * Share files to multiple users
     * @param body 
     * @param partialSuccess  (optional)
     * @param downgradeNested  (optional)
     * @param with  (optional)
     * @param mode  (optional)
     * @param updateIfExists  (optional)
     * @param returnEntity  (optional)
     * @return FileAddMembers
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesMembersPost(body: FileMembersPostRequest, partialSuccess: kotlin.Boolean? = null, downgradeNested: kotlin.Boolean? = null, with: kotlin.String? = null, mode: kotlin.String? = null, updateIfExists: kotlin.Boolean? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<FileAddMembers> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        downgradeNested?.apply { localVariableQuery["downgradeNested"] = listOf("$downgradeNested") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        updateIfExists?.apply { localVariableQuery["updateIfExists"] = listOf("$updateIfExists") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/files/members",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Check mime type before send
     * Check mime type before send
     * @param idColonIn 
     * @return FilePreviewSupport
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesPreviewSupportGet(idColonIn: kotlin.collections.List<kotlin.String>): HttpResponse<FilePreviewSupport> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = toMultiValue(this, "csv") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/files/previewSupport",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Return user&#39;s all shared files and permissions
     * Return user&#39;s all shared files and permissions
     * @param orderType  (optional)
     * @param with  (optional)
     * @param limit  (optional)
     * @param mode  (optional)
     * @param orderBy  (optional)
     * @param offset  (optional)
     * @param returnEntity  (optional)
     * @return kotlin.collections.List<org.openapitools.client.infrastructure.OctetByteArray>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesSharedGet(orderType: kotlin.String? = null, with: kotlin.String? = null, limit: kotlin.Int? = null, mode: kotlin.String? = null, orderBy: kotlin.String? = null, offset: kotlin.Int? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<kotlin.collections.List<org.openapitools.client.infrastructure.OctetByteArray>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
[...]
