/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.ActivityList
import org.openapitools.client.models.AdminFolderPutRequest
import org.openapitools.client.models.Comment
import org.openapitools.client.models.DestinationFolderIdRequest
import org.openapitools.client.models.Folder
import org.openapitools.client.models.Folder1
import org.openapitools.client.models.FolderAddMembers
import org.openapitools.client.models.FolderChildrenFiles
import org.openapitools.client.models.FolderCreatePostRequest
import org.openapitools.client.models.FolderMemberPostRequest
import org.openapitools.client.models.FolderQuota
import org.openapitools.client.models.FolderUpdatePutRequest
import org.openapitools.client.models.Folders
import org.openapitools.client.models.Member
import org.openapitools.client.models.MemberGroup
import org.openapitools.client.models.MemberGroupPut
import org.openapitools.client.models.MemberPut
import org.openapitools.client.models.Members
import org.openapitools.client.models.Permission
import org.openapitools.client.models.SendMessagePost
import org.openapitools.client.models.Task

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class FoldersApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Bulk update folders
     * Bulk update folders
     * @param body 
     * @param mode  (optional)
     * @param with  (optional)
     * @param returnEntity  (optional)
     * @return Folders
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminFoldersPut(body: AdminFolderPutRequest, mode: kotlin.String? = null, with: kotlin.String? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<Folders> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/admin/folders",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Removes specified folders from favorites
     * Removes specified folders from favorites
     * @param idColonIn Array of values which are going to be changed.
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFoldersActionsFavoriteDelete(idColonIn: kotlin.String, partialSuccess: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/folders/actions/favorite",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Set multiple folders as favorite
     * Set multiple folders as favorite
     * @param idColonIn Array of values which are going to be changed.
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFoldersActionsFavoritePost(idColonIn: kotlin.String, partialSuccess: kotlin.Boolean? = null, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/folders/actions/favorite",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Permanently delete the specified folders.
     * Permanently delete the specified folders.                These folders will no longer be accessible by any means.
     * @param idColonIn Array of values which are going to be changed.
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFoldersActionsPermanentDelete(idColonIn: kotlin.String, partialSuccess: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/folders/actions/permanent",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Recover deleted folders.
     * Recover deleted folders and their children files and folders.
     * @param idColonIn Array of values which are going to be changed.
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFoldersActionsRecoverPatch(idColonIn: kotlin.String, partialSuccess: kotlin.Boolean? = null, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/rest/folders/actions/recover",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Triggers on demand AV/DLP scan on multiple folders.
     * Attempts to trigger an AV/DLP scan on requested folders.
     * @param returnEntity Return information about newly created entity (optional)
     * @param idColonIn List of IDs of entities to scan. Search for results that contain any of specified values of this parameter. (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFoldersActionsScanPost(returnEntity: kotlin.Boolean? = null, idColonIn: kotlin.String? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/folders/actions/scan",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Deletes list of folders
     * Deletes list of folders.
     * @param idColonIn Array of values which are going to be changed.
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFoldersDelete(idColonIn: kotlin.String, partialSuccess: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/folders",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Move the folder
     * Move the folder
     * @param id The ID of the entity
     * @param body 
     * @param mode  (optional)
     * @param with  (optional)
     * @param returnEntity  (optional)
     * @return Folder1
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersIdActionsMovePost(id: kotlin.String, body: DestinationFolderIdRequest, mode: kotlin.String? = null, with: kotlin.String? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<Folder1> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/folders/{id}/actions/move".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Permanently delete the specified folder.
     * Permanently delete the specified folder.                This folder will no longer be accessible by any means.
     * @param id ID of the folder
     * @return void
     */
    open suspend fun restFoldersIdActionsPermanentDelete(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/folders/{id}/actions/permanent".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Recover deleted folder.
     * Recover the specified folder. This un-marks the folder for deletion.
     * @param id ID of the folder
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return Folder
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersIdActionsRecoverPatch(id: kotlin.String, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Folder> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/rest/folders/{id}/actions/recover".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Triggers on demand AV/DLP folder scan.
     * Attempts to trigger an AV/DLP scan on requested folder.
     * @param id ID of the folder
     * @param returnEntity Return information about newly created entity (optional)
     * @param folderIdColonIn List of folder IDs of entities to scan. Search for results that contain any of specified values of this parameter. (optional)
     * @param fileIdColonIn List of file IDs of entities to scan. Search for results that contain any of specified values of this parameter. (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFoldersIdActionsScanPost(id: kotlin.String, returnEntity: kotlin.Boolean? = null, folderIdColonIn: kotlin.Int? = null, fileIdColonIn: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        folderIdColonIn?.apply { localVariableQuery["folderId:in"] = listOf("$folderIdColonIn") }
        fileIdColonIn?.apply { localVariableQuery["fileId:in"] = listOf("$fileIdColonIn") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/folders/{id}/actions/scan".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Create a send message email entry
     * Creates a send message email entry
     * @param id ID of the folder
     * @param body The email details
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFoldersIdActionsSendMessagePost(id: kotlin.String, body: SendMessagePost, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/folders/{id}/actions/sendMessage".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get activities list
     * Get activities list
     * @param id The ID of the entity
     * @param fileId File ID inside the folder (optional)
     * @param endTime End time in unix timestamp (optional)
     * @param endDate End date (optional)
     * @param filter All or my activities (optional)
     * @param startTime Start time in unix timestamp (optional)
     * @param with  (optional)
     * @param startDate Start date (optional)
     * @param noDayBack Number of days back to search (optional)
     * @param limit  (optional)
     * @param mode  (optional)
     * @param transactionId Transaction ID associated with the activities (optional)
     * @param orderBy Order By (optional)
     * @param search Search by mail body, subject and sender/recipients (optional)
     * @param nested Include nested folders (optional)
     * @param offset  (optional)
     * @param type Activity type (optional)
     * @param returnEntity  (optional)
     * @return org.openapitools.client.infrastructure.OctetByteArray
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersIdActivitiesActionsExportCSVGet(id: kotlin.String, fileId: kotlin.String? = null, endTime: kotlin.Int? = null, endDate: kotlin.String? = null, filter: kotlin.String? = null, startTime: kotlin.Int? = null, with: kotlin.String? = null, startDate: kotlin.String? = null, noDayBack: kotlin.Int? = null, limit: kotlin.Int? = null, mode: kotlin.String? = null, transactionId: kotlin.String? = null, orderBy: kotlin.String? = null, search: kotlin.String? = null, nested: kotlin.Boolean? = null, offset: kotlin.Int? = null, type: kotlin.String? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<org.openapitools.client.infrastructure.OctetByteArray> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        fileId?.apply { localVariableQuery["fileId"] = listOf("$fileId") }
        endTime?.apply { localVariableQuery["endTime"] = listOf("$endTime") }
        endDate?.apply { localVariableQuery["endDate"] = listOf("$endDate") }
        filter?.apply { localVariableQuery["filter"] = listOf("$filter") }
        startTime?.apply { localVariableQuery["startTime"] = listOf("$startTime") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        startDate?.apply { localVariableQuery["startDate"] = listOf("$startDate") }
        noDayBack?.apply { localVariableQuery["noDayBack"] = listOf("$noDayBack") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        transactionId?.apply { localVariableQuery["transactionId"] = listOf("$transactionId") }
        orderBy?.apply { localVariableQuery["orderBy"] = listOf("$orderBy") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        nested?.apply { localVariableQuery["nested"] = listOf("$nested") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        type?.apply { localVariableQuery["type"] = listOf("$type") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/folders/{id}/activities/actions/exportCSV".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get activities list
     * Get activities list
     * @param id The ID of the entity
     * @param fileId File ID inside the folder (optional)
     * @param endTime End time in unix timestamp (optional)
     * @param endDate End date (optional)
     * @param filter All or my activities (optional)
     * @param startTime Start time in unix timestamp (optional)
     * @param with  (optional)
     * @param startDate Start date (optional)
     * @param noDayBack Number of days back to search (optional)
     * @param limit  (optional)
     * @param mode  (optional)
     * @param transactionId Transaction ID associated with the activities (optional)
     * @param orderBy Order By (optional)
     * @param search Search by mail body, subject and sender/recipients (optional)
     * @param nested Include nested folders (optional)
     * @param offset  (optional)
     * @param type Activity type (optional)
     * @param returnEntity  (optional)
     * @return ActivityList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersIdActivitiesGet(id: kotlin.String, fileId: kotlin.String? = null, endTime: kotlin.Int? = null, endDate: kotlin.String? = null, filter: kotlin.String? = null, startTime: kotlin.Int? = null, with: kotlin.String? = null, startDate: kotlin.String? = null, noDayBack: kotlin.Int? = null, limit: kotlin.Int? = null, mode: kotlin.String? = null, transactionId: kotlin.String? = null, orderBy: kotlin.String? = null, search: kotlin.String? = null, nested: kotlin.Boolean? = null, offset: kotlin.Int? = null, type: kotlin.String? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<ActivityList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        fileId?.apply { localVariableQuery["fileId"] = listOf("$fileId") }
        endTime?.apply { localVariableQuery["endTime"] = listOf("$endTime") }
        endDate?.apply { localVariableQuery["endDate"] = listOf("$endDate") }
        filter?.apply { localVariableQuery["filter"] = listOf("$filter") }
        startTime?.apply { localVariableQuery["startTime"] = listOf("$startTime") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        startDate?.apply { localVariableQuery["startDate"] = listOf("$startDate") }
        noDayBack?.apply { localVariableQuery["noDayBack"] = listOf("$noDayBack") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        transactionId?.apply { localVariableQuery["transactionId"] = listOf("$transactionId") }
        orderBy?.apply { localVariableQuery["orderBy"] = listOf("$orderBy") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        nested?.apply { localVariableQuery["nested"] = listOf("$nested") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        type?.apply { localVariableQuery["type"] = listOf("$type") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/folders/{id}/activities".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Return the list of folder children. Folders fetched at first, then files.
     * Return the list of folder children. Folders fetched at first, then files.
     * @param id The ID of the entity
     * @param fileId  (optional)
     * @param deleted Don&#39;t show deleted, true - show only deleted, none - show both (optional)
     * @param extensions Comma delimited whitelist of extensions to filter files by (optional)
     * @param with  (optional)
     * @param limit  (optional)
     * @param mode  (optional)
     * @param regex Regex pattern to filter files by (optional)
     * @param orderBy Sorting options. Accepts id, name, modified, created, size. Sample format is id:asc (optional)
     * @param offset  (optional)
     * @param returnEntity  (optional)
     * @return kotlin.collections.List<Folder>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersIdChildrenGet(id: kotlin.String, fileId: kotlin.String? = null, deleted: kotlin.Boolean? = null, extensions: kotlin.String? = null, with: kotlin.String? = null, limit: kotlin.Int? = null, mode: kotlin.String? = null, regex: kotlin.String? = null, orderBy: kotlin.String? = null, offset: kotlin.Int? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<kotlin.collections.List<Folder>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        fileId?.apply { localVariableQuery["fileId"] = listOf("$fileId") }
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        extensions?.apply { localVariableQuery["extensions"] = listOf("$extensions") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        regex?.apply { localVariableQuery["regex"] = listOf("$regex") }
        orderBy?.apply { localVariableQuery["orderBy"] = listOf("$orderBy") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/folders/{id}/children".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestFoldersIdChildrenGetResponse>().map { value }
    }

    @Serializable(RestFoldersIdChildrenGetResponse.Companion::class)
    private class RestFoldersIdChildrenGetResponse(val value: List<Folder>) {
        companion object : KSerializer<RestFoldersIdChildrenGetResponse> {
            private val serializer: KSerializer<List<Folder>> = serializer<List<Folder>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestFoldersIdChildrenGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestFoldersIdChildrenGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Return the list of Comments for this folder
     * Returns all comments made on this folder.
     * @param id ID of the parent folder
     * @param parentId Parent Comment unique identifier (optional)
     * @param parentIdColonIn Parent Comment unique identifier. Search for results that contain any of specified values of this parameter. (optional)
     * @param userId Unique identifier of comment author (optional)
     * @param userIdColonIn Unique identifier of comment author. Search for results that contain any of specified values of this parameter. (optional)
     * @param created Comment creation date (optional)
     * @param createdColonGt Comment creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param createdColonGte Comment creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param createdColonLt Comment creation date. Search for result that has this parameter value less than specified. (optional)
     * @param createdColonLte Comment creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param modified Comment modification date (optional)
     * @param modifiedColonGt Comment modification date. Search for result that has this parameter value greater than specified. (optional)
     * @param modifiedColonGte Comment modification date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param modifiedColonLt Comment modification date. Search for result that has this parameter value less than specified. (optional)
     * @param modifiedColonLte Comment modification date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param contentsColonContains Comment content. Search for result that contains specified characters in this parameter. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Comment>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersIdCommentsGet(id: kotlin.String, parentId: kotlin.Int? = null, parentIdColonIn: kotlin.Int? = null, userId: kotlin.String? = null, userIdColonIn: kotlin.String? = null, created: kotlin.String? = null, createdColonGt: kotlin.String? = null, createdColonGte: kotlin.String? = null, createdColonLt: kotlin.String? = null, createdColonLte: kotlin.String? = null, modified: kotlin.String? = null, modifiedColonGt: kotlin.String? = null, modifiedColonGte: kotlin.String? = null, modifiedColonLt: kotlin.String? = null, modifiedColonLte: kotlin.String? = null, contentsColonContains: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Comment>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        parentId?.apply { localVariableQuery["parentId"] = listOf("$parentId") }
        parentIdColonIn?.apply { localVariableQuery["parentId:in"] = listOf("$parentIdColonIn") }
        userId?.apply { localVariableQuery["userId"] = listOf("$userId") }
        userIdColonIn?.apply { localVariableQuery["userId:in"] = listOf("$userIdColonIn") }
        created?.apply { localVariableQuery["created"] = listOf("$created") }
        createdColonGt?.apply { localVariableQuery["created:gt"] = listOf("$createdColonGt") }
        createdColonGte?.apply { localVariableQuery["created:gte"] = listOf("$createdColonGte") }
        createdColonLt?.apply { localVariableQuery["created:lt"] = listOf("$createdColonLt") }
        createdColonLte?.apply { localVariableQuery["created:lte"] = listOf("$createdColonLte") }
        modified?.apply { localVariableQuery["modified"] = listOf("$modified") }
        modifiedColonGt?.apply { localVariableQuery["modified:gt"] = listOf("$modifiedColonGt") }
        modifiedColonGte?.apply { localVariableQuery["modified:gte"] = listOf("$modifiedColonGte") }
        modifiedColonLt?.apply { localVariableQuery["modified:lt"] = listOf("$modifiedColonLt") }
        modifiedColonLte?.apply { localVariableQuery["modified:lte"] = listOf("$modifiedColonLte") }
        contentsColonContains?.apply { localVariableQuery["contents:contains"] = listOf("$contentsColonContains") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/folders/{id}/comments".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestFoldersIdCommentsGetResponse>().map { value }
    }

    @Serializable(RestFoldersIdCommentsGetResponse.Companion::class)
    private class RestFoldersIdCommentsGetResponse(val value: List<Comment>) {
        companion object : KSerializer<RestFoldersIdCommentsGetResponse> {
            private val serializer: KSerializer<List<Comment>> = serializer<List<Comment>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestFoldersIdCommentsGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestFoldersIdCommentsGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Folder for deletion
     * Marks the specified folder for deletion. The folder is still accessible as a deleted folder until it expires and is deleted permanently.
     * @param id The ID of the entity
     * @return void
     */
    open suspend fun restFoldersIdDelete(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/folders/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List children folders of specified parent
     * Return the list of folders in the specified folder including its metadata.
     * @param id ID of the parent folder
     * @param name Folder name (optional)
     * @param nameColonContains Folder name. Search for result that contains specified characters in this parameter. (optional)
     * @param userId Unique identifier of Object creator (optional)
     * @param userIdColonIn Unique identifier of Object creator. Search for results that contain any of specified values of this parameter. (optional)
     * @param created Object creation date (optional)
     * @param createdColonGt Object creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param createdColonGte Object creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param createdColonLt Object creation date. Search for result that has this parameter value less than specified. (optional)
     * @param createdColonLte Object creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param modified Object modification date (optional)
     * @param modifiedColonGt Object modification date. Search for result that has this parameter value greater than specified. (optional)
     * @param modifiedColonGte Object modification date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param modifiedColonLt Object modification date. Search for result that has this parameter value less than specified. (optional)
     * @param modifiedColonLte Object modification date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param deleted Indicates that object is deleted (optional)
     * @param expire Expiration date (optional)
     * @param expireColonGt Expiration date. Search for result that has this parameter value greater than specified. (optional)
     * @param expireColonGte Expiration date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param expireColonLt Expiration date. Search for result that has this parameter value less than specified. (optional)
     * @param expireColonLte Expiration date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param fileLifetime Folder lifetime (optional)
     * @param fileLifetimeColonGt Folder lifetime. Search for result that has this parameter value greater than specified. (optional)
     * @param fileLifetimeColonGte Folder lifetime. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param fileLifetimeColonLt Folder lifetime. Search for result that has this parameter value less than specified. (optional)
     * @param fileLifetimeColonLte Folder lifetime. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param secure Folder secure flag (optional)
     * @param descriptionColonContains Folder description. Search for result that contains specified characters in this parameter. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param locateId If specified, \&quot;offset\&quot; parameter will be ignored                                             and the page containing entity with this Id will be returned. (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Folder>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersIdFoldersGet(id: kotlin.String, name: kotlin.String? = null, nameColonContains: kotlin.String? = null, userId: kotlin.String? = null, userIdColonIn: kotlin.String? = null, created: kotlin.String? = null, createdColonGt: kotlin.String? = null, createdColonGte: kotlin.String? = null, createdColonLt: kotlin.String? = null, createdColonLte: kotlin.String? = null, modified: kotlin.String? = null, modifiedColonGt: kotlin.String? = null, modifiedColonGte: kotlin.String? = null, modifiedColonLt: kotlin.String? = null, modifiedColonLte: kotlin.String? = null, deleted: kotlin.Boolean? = null, expire: kotlin.Int? = null, expireColonGt: kotlin.Int? = null, expireColonGte: kotlin.Int? = null, expireColonLt: kotlin.Int? = null, expireColonLte: kotlin.Int? = null, fileLifetime: kotlin.Int? = null, fileLifetimeColonGt: kotlin.Int? = null, fileLifetimeColonGte: kotlin.Int? = null, fileLifetimeColonLt: kotlin.Int? = null, fileLifetimeColonLte: kotlin.Int? = null, secure: kotlin.Boolean? = null, descriptionColonContains: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, locateId: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Folder>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        userId?.apply { localVariableQuery["userId"] = listOf("$userId") }
        userIdColonIn?.apply { localVariableQuery["userId:in"] = listOf("$userIdColonIn") }
        created?.apply { localVariableQuery["created"] = listOf("$created") }
        createdColonGt?.apply { localVariableQuery["created:gt"] = listOf("$createdColonGt") }
        createdColonGte?.apply { localVariableQuery["created:gte"] = listOf("$createdColonGte") }
        createdColonLt?.apply { localVariableQuery["created:lt"] = listOf("$createdColonLt") }
        createdColonLte?.apply { localVariableQuery["created:lte"] = listOf("$createdColonLte") }
        modified?.apply { localVariableQuery["modified"] = listOf("$modified") }
        modifiedColonGt?.apply { localVariableQuery["modified:gt"] = listOf("$modifiedColonGt") }
        modifiedColonGte?.apply { localVariableQuery["modified:gte"] = listOf("$modifiedColonGte") }
        modifiedColonLt?.apply { localVariableQuery["modified:lt"] = listOf("$modifiedColonLt") }
        modifiedColonLte?.apply { localVariableQuery["modified:lte"] = listOf("$modifiedColonLte") }
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        expire?.apply { localVariableQuery["expire"] = listOf("$expire") }
        expireColonGt?.apply { localVariableQuery["expire:gt"] = listOf("$expireColonGt") }
        expireColonGte?.apply { localVariableQuery["expire:gte"] = listOf("$expireColonGte") }
        expireColonLt?.apply { localVariableQuery["expire:lt"] = listOf("$expireColonLt") }
        expireColonLte?.apply { localVariableQuery["expire:lte"] = listOf("$expireColonLte") }
        fileLifetime?.apply { localVariableQuery["fileLifetime"] = listOf("$fileLifetime") }
        fileLifetimeColonGt?.apply { localVariableQuery["fileLifetime:gt"] = listOf("$fileLifetimeColonGt") }
        fileLifetimeColonGte?.apply { localVariableQuery["fileLifetime:gte"] = listOf("$fileLifetimeColonGte") }
        fileLifetimeColonLt?.apply { localVariableQuery["fileLifetime:lt"] = listOf("$fileLifetimeColonLt") }
        fileLifetimeColonLte?.apply { localVariableQuery["fileLifetime:lte"] = listOf("$fileLifetimeColonLte") }
        secure?.apply { localVariableQuery["secure"] = listOf("$secure") }
        descriptionColonContains?.apply { localVariableQuery["description:contains"] = listOf("$descriptionColonContains") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        locateId?.apply { localVariableQuery["locate_id"] = listOf("$locateId") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/folders/{id}/folders".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestFoldersIdFoldersGetResponse>().map { value }
    }

    @Serializable(RestFoldersIdFoldersGetResponse.Companion::class)
    private class RestFoldersIdFoldersGetResponse(val value: List<Folder>) {
        companion object : KSerializer<RestFoldersIdFoldersGetResponse> {
            private val serializer: KSerializer<List<Folder>> = serializer<List<Folder>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestFoldersIdFoldersGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestFoldersIdFoldersGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Create a new folder
     * Create a new folder under the specified parent_id
     * @param id The ID of the entity
     * @param body 
     * @param mode  (optional)
     * @param with  (optional)
     * @param returnEntity  (optional)
     * @return Folder1
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersIdFoldersPost(id: kotlin.String, body: FolderCreatePostRequest, mode: kotlin.String? = null, with: kotlin.String? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<Folder1> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/folders/{id}/folders".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get the folder
     * Get the folder
     * @param id The ID of the entity
     * @param mode  (optional)
     * @param with  (optional)
     * @param returnEntity  (optional)
     * @return Folder1
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersIdGet(id: kotlin.String, mode: kotlin.String? = null, with: kotlin.String? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<Folder1> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/folders/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List folder members
     * Returns a list of members in the folder.
     * @param id The ID of the entity
     * @param orderBy  (optional)
     * @param groupIdColonIn  (optional)
     * @param with  (optional)
     * @param roleId  (optional)
     * @param limit  (optional)
     * @param mode  (optional)
     * @param userId  (optional)
     * @param userIdColonIn Member id list recommended request size &lt;&#x3D; 100 (optional)
     * @param roleIdColonIn  (optional)
     * @param type  (optional)
     * @param offset  (optional)
     * @param groupId  (optional)
     * @param returnEntity  (optional)
     * @return Members
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersIdMembersGet(id: kotlin.String, orderBy: kotlin.String? = null, groupIdColonIn: kotlin.collections.List<kotlin.String>? = null, with: kotlin.String? = null, roleId: kotlin.Int? = null, limit: kotlin.Int? = null, mode: kotlin.String? = null, userId: kotlin.String? = null, userIdColonIn: kotlin.collections.List<kotlin.String>? = null, roleIdColonIn: kotlin.collections.List<kotlin.String>? = null, type: kotlin.String? = null, offset: kotlin.Int? = null, groupId: kotlin.Int? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<Members> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        orderBy?.apply { localVariableQuery["orderBy"] = listOf("$orderBy") }
        groupIdColonIn?.apply { localVariableQuery["groupId:in"] = toMultiValue(this, "csv") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        roleId?.apply { localVariableQuery["roleId"] = listOf("$roleId") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        userId?.apply { localVariableQuery["userId"] = listOf("$userId") }
        userIdColonIn?.apply { localVariableQuery["userId:in"] = toMultiValue(this, "csv") }
        roleIdColonIn?.apply { localVariableQuery["roleId:in"] = toMultiValue(this, "csv") }
        type?.apply { localVariableQuery["type"] = listOf("$type") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        groupId?.apply { localVariableQuery["groupId"] = listOf("$groupId") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/folders/{id}/members".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List LDAP group members
     * Returns a list of LDAP group members in the folder.                        This returns LDAP name, email, and privileges.
     * @param id ID of the folder
     * @param groupId Unique identifier of group (optional)
     * @param groupIdColonIn Unique identifier of group. Search for results that contain any of specified values of this parameter. (optional)
     * @param roleId Unique identifier of role (optional)
     * @param roleIdColonIn Unique identifier of role. Search for results that contain any of specified values of this parameter. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<MemberGroup>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersIdMembersLdapGroupGet(id: kotlin.String, groupId: kotlin.Int? = null, groupIdColonIn: kotlin.Int? = null, roleId: kotlin.Int? = null, roleIdColonIn: kotlin.Int? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<MemberGroup>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        groupId?.apply { localVariableQuery["groupId"] = listOf("$groupId") }
        groupIdColonIn?.apply { localVariableQuery["groupId:in"] = listOf("$groupIdColonIn") }
        roleId?.apply { localVariableQuery["roleId"] = listOf("$roleId") }
        roleIdColonIn?.apply { localVariableQuery["roleId:in"] = listOf("$roleIdColonIn") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/folders/{id}/members/ldapGroup".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestFoldersIdMembersLdapGroupGetResponse>().map { value }
    }

    @Serializable(RestFoldersIdMembersLdapGroupGetResponse.Companion::class)
    private class RestFoldersIdMembersLdapGroupGetResponse(val value: List<MemberGroup>) {
        companion object : KSerializer<RestFoldersIdMembersLdapGroupGetResponse> {
            private val serializer: KSerializer<List<MemberGroup>> = serializer<List<MemberGroup>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestFoldersIdMembersLdapGroupGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestFoldersIdMembersLdapGroupGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Deletes group member
     * Deletes group member in the folder
     * @param id The ID of the entity
     * @param ldapGroupId The ldap group ID
     * @param downgradeNested  (optional)
     * @return void
     */
    open suspend fun restFoldersIdMembersLdapGroupLdapGroupIdDelete(id: kotlin.String, ldapGroupId: kotlin.Int, downgradeNested: kotlin.Boolean? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        downgradeNested?.apply { localVariableQuery["downgradeNested"] = listOf("$downgradeNested") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/folders/{id}/members/ldapGroup/{ldap_group_id}".replace("{" + "id" + "}", "$id").replace("{" + "ldap_group_id" + "}", "$ldapGroupId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Display group member
     * Display the specified group member in the folder
     * @param id ID of the folder
     * @param ldapGroupId id of the group member
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return Member
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersIdMembersLdapGroupLdapGroupIdGet(id: kotlin.String, ldapGroupId: kotlin.Int, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<Member> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/folders/{id}/members/ldapGroup/{ldap_group_id}".replace("{" + "id" + "}", "$id").replace("{" + "ldap_group_id" + "}", "$ldapGroupId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * update group members
     * updates group members in the folder
     * @param id ID of the folder
     * @param ldapGroupId id of the group member
     * @param body members and roles details
     * @param returnEntity Return information about newly created entity (optional)
     * @param downgradeNested Downgrade member role for nested folders (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFoldersIdMembersLdapGroupLdapGroupIdPut(id: kotlin.String, ldapGroupId: kotlin.Int, body: MemberGroupPut, returnEntity: kotlin.Boolean? = null, downgradeNested: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        downgradeNested?.apply { localVariableQuery["downgradeNested"] = listOf("$downgradeNested") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/folders/{id}/members/ldapGroup/{ldap_group_id}".replace("{" + "id" + "}", "$id").replace("{" + "ldap_group_id" + "}", "$ldapGroupId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Remove ownself from the folder
     * Remove ownself from the folder
     * @param id The ID of the entity
     * @param downgradeNested  (optional)
     * @return void
     */
    open suspend fun restFoldersIdMembersMeDelete(id: kotlin.String, downgradeNested: kotlin.Boolean? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        downgradeNested?.apply { localVariableQuery["downgradeNested"] = listOf("$downgradeNested") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/folders/{id}/members/me".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Deletes member
     * Deletes member in the folder
     * @param id The ID of the entity
     * @param memberUserId The member user ID
     * @param downgradeNested  (optional)
     * @return void
     */
    open suspend fun restFoldersIdMembersMemberUserIdDelete(id: kotlin.String, memberUserId: kotlin.String, downgradeNested: kotlin.Boolean? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        downgradeNested?.apply { localVariableQuery["downgradeNested"] = listOf("$downgradeNested") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/folders/{id}/members/{member_user_id}".replace("{" + "id" + "}", "$id").replace("{" + "member_user_id" + "}", "$memberUserId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Display member
     * Display the specified member in the folder
     * @param id ID of the folder
     * @param memberUserId ID of the member
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return Member
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersIdMembersMemberUserIdGet(id: kotlin.String, memberUserId: kotlin.String, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<Member> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/folders/{id}/members/{member_user_id}".replace("{" + "id" + "}", "$id").replace("{" + "member_user_id" + "}", "$memberUserId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * update members
     * updates members in the folder
     * @param id ID of the folder
     * @param memberUserId ID of the member
     * @param body members and roles details
     * @param returnEntity Return information about newly created entity (optional)
     * @param downgradeNested Downgrade member role for nested folders (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFoldersIdMembersMemberUserIdPut(id: kotlin.String, memberUserId: kotlin.String, body: MemberPut, returnEntity: kotlin.Boolean? = null, downgradeNested: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        downgradeNested?.apply { localVariableQuery["downgradeNested"] = listOf("$downgradeNested") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/folders/{id}/members/{member_user_id}".replace("{" + "id" + "}", "$id").replace("{" + "member_user_id" + "}", "$memberUserId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Add multiple members
     * Add multiple members to the folder
     * @param id The ID of the entity
     * @param body 
     * @param partialSuccess  (optional)
     * @param downgradeNested  (optional)
     * @param with  (optional)
     * @param mode  (optional)
     * @param updateIfExists  (optional)
     * @param returnEntity  (optional)
     * @return FolderAddMembers
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersIdMembersPost(id: kotlin.String, body: FolderMemberPostRequest, partialSuccess: kotlin.Boolean? = null, downgradeNested: kotlin.Boolean? = null, with: kotlin.String? = null, mode: kotlin.String? = null, updateIfExists: kotlin.Boolean? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<FolderAddMembers> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        downgradeNested?.apply { localVariableQuery["downgradeNested"] = listOf("$downgradeNested") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        updateIfExists?.apply { localVariableQuery["updateIfExists"] = listOf("$updateIfExists") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/folders/{id}/members".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Update a folder
     * Update folder
     * @param id The ID of the entity
     * @param body 
     * @param mode  (optional)
     * @param with  (optional)
     * @param returnEntity  (optional)
     * @return Folder1
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersIdPut(id: kotlin.String, body: FolderUpdatePutRequest, mode: kotlin.String? = null, with: kotlin.String? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<Folder1> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/folders/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get the folder quota
     * Get the folder quota
     * @param id The ID of the entity
     * @param fileId  (optional)
     * @return FolderQuota
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersIdQuotaGet(id: kotlin.String, fileId: kotlin.String? = null): HttpResponse<FolderQuota> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        fileId?.apply { localVariableQuery["fileId"] = listOf("$fileId") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/folders/{id}/quota".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Tasks for a folder
     * Returns all tasks for a folder
     * @param id Folder object ID of the task to retrieve
     * @param assigneeId Assigned User unique identifier (optional)
     * @param assigneeIdColonIn Assigned User unique identifier. Search for results that contain any of specified values of this parameter. (optional)
     * @param due Task due date (optional)
     * @param dueColonGt Task due date. Search for result that has this parameter value greater than specified. (optional)
     * @param dueColonGte Task due date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param dueColonLt Task due date. Search for result that has this parameter value less than specified. (optional)
     * @param dueColonLte Task due date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param parentId Parent Comment identifier (optional)
     * @param parentIdColonIn Parent Comment identifier. Search for results that contain any of specified values of this parameter. (optional)
     * @param userId Identifier of User who created a Task (optional)
     * @param userIdColonIn Identifier of User who created a Task. Search for results that contain any of specified values of this parameter. (optional)
     * @param created Task creation date (optional)
     * @param createdColonGt Task creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param createdColonGte Task creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param createdColonLt Task creation date. Search for result that has this parameter value less than specified. (optional)
     * @param createdColonLte Task creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param modified Task modification date (optional)
     * @param modifiedColonGt Task modification date. Search for result that has this parameter value greater than specified. (optional)
     * @param modifiedColonGte Task modification date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param modifiedColonLt Task modification date. Search for result that has this parameter value less than specified. (optional)
     * @param modifiedColonLte Task modification date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param contentsColonContains Task content. Search for result that contains specified characters in this parameter. (optional)
     * @param status Task status (optional)
     * @param deleted Whether the task has been deleted (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Task>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersIdTasksGet(id: kotlin.String, assigneeId: kotlin.String? = null, assigneeIdColonIn: kotlin.String? = null, due: kotlin.String? = null, dueColonGt: kotlin.String? = null, dueColonGte: kotlin.String? = null, dueColonLt: kotlin.String? = null, dueColonLte: kotlin.String? = null, parentId: kotlin.Int? = null, parentIdColonIn: kotlin.Int? = null, userId: kotlin.String? = null, userIdColonIn: kotlin.String? = null, created: kotlin.String? = null, createdColonGt: kotlin.String? = null, createdColonGte: kotlin.String? = null, createdColonLt: kotlin.String? = null, createdColonLte: kotlin.String? = null, modified: kotlin.String? = null, modifiedColonGt: kotlin.String? = null, modifiedColonGte: kotlin.String? = null, modifiedColonLt: kotlin.String? = null, modifiedColonLte: kotlin.String? = null, contentsColonContains: kotlin.String? = null, status: kotlin.collections.List<kotlin.String>? = null, deleted: kotlin.Boolean? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Task>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        assigneeId?.apply { localVariableQuery["assigneeId"] = listOf("$assigneeId") }
        assigneeIdColonIn?.apply { localVariableQuery["assigneeId:in"] = listOf("$assigneeIdColonIn") }
        due?.apply { localVariableQuery["due"] = listOf("$due") }
        dueColonGt?.apply { localVariableQuery["due:gt"] = listOf("$dueColonGt") }
        dueColonGte?.apply { localVariableQuery["due:gte"] = listOf("$dueColonGte") }
        dueColonLt?.apply { localVariableQuery["due:lt"] = listOf("$dueColonLt") }
        dueColonLte?.apply { localVariableQuery["due:lte"] = listOf("$dueColonLte") }
        parentId?.apply { localVariableQuery["parentId"] = listOf("$parentId") }
        parentIdColonIn?.apply { localVariableQuery["parentId:in"] = listOf("$parentIdColonIn") }
        userId?.apply { localVariableQuery["userId"] = listOf("$userId") }
        userIdColonIn?.apply { localVariableQuery["userId:in"] = listOf("$userIdColonIn") }
        created?.apply { localVariableQuery["created"] = listOf("$created") }
        createdColonGt?.apply { localVariableQuery["created:gt"] = listOf("$createdColonGt") }
        createdColonGte?.apply { localVariableQuery["created:gte"] = listOf("$createdColonGte") }
        createdColonLt?.apply { localVariableQuery["created:lt"] = listOf("$createdColonLt") }
        createdColonLte?.apply { localVariableQuery["created:lte"] = listOf("$createdColonLte") }
        modified?.apply { localVariableQuery["modified"] = listOf("$modified") }
        modifiedColonGt?.apply { localVariableQuery["modified:gt"] = listOf("$modifiedColonGt") }
        modifiedColonGte?.apply { localVariableQuery["modified:gte"] = listOf("$modifiedColonGte") }
        modifiedColonLt?.apply { localVariableQuery["modified:lt"] = listOf("$modifiedColonLt") }
        modifiedColonLte?.apply { localVariableQuery["modified:lte"] = listOf("$modifiedColonLte") }
        contentsColonContains?.apply { localVariableQuery["contents:contains"] = listOf("$contentsColonContains") }
        status?.apply { localVariableQuery["status"] = toMultiValue(this, "csv") }
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/folders/{id}/tasks".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestFoldersIdTasksGetResponse>().map { value }
    }

    @Serializable(RestFoldersIdTasksGetResponse.Companion::class)
    private class RestFoldersIdTasksGetResponse(val value: List<Task>) {
        companion object : KSerializer<RestFoldersIdTasksGetResponse> {
            private val serializer: KSerializer<List<Task>> = serializer<List<Task>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestFoldersIdTasksGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestFoldersIdTasksGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Gets the folder path by its ID
     * Gets the folder path by its ID
     * @param id ID of the folder
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFoldersIdTreeGet(id: kotlin.String, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/folders/{id}/tree".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns the list of files in the specified folder.
     * Returns the list of files in the specified folder.
     * @param parent The ID of the parent folder
     * @param modifiedColonGte Object modified date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param created Object creation date (optional)
     * @param mode  (optional)
     * @param modifiedColonLte Object modified date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param expireColonGt Expiration date. Search for result that has this parameter value greater than specified. (optional)
     * @param modifiedColonGt Object modified date. Search for result that has this parameter value greater than specified. (optional)
     * @param expireColonLt Expiration date. Search for result that has this parameter value less than specified. (optional)
     * @param expireColonLte Expiration date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param expireColonGte Expiration date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param createdColonLt Email creation date. Search for result that has this parameter value less than specified. (optional)
     * @param nameColonContains Object name. Search for result that contains specified characters in this parameter. (optional)
     * @param expire Object modified date (optional)
     * @param userId Unique identifier of Object creator (optional)
     * @param userIdColonIn Unique identifier of Object creator recommended request size &lt;&#x3D; 100 (optional)
     * @param modifiedColonLt Object modified date. Search for result that has this parameter value less than specified. (optional)
     * @param orderBy Sorting options. Accepts id, name, modified, created, size. Sample format is id:asc (optional)
     * @param createdColonGt Object creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param returnEntity  (optional)
     * @param createdColonLte Email creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param with  (optional)
     * @param limit  (optional)
     * @param isPushed Whether the file is pushed (optional)
     * @param deleted Don&#39;t show deleted, true - show only deleted, none - show both (optional)
     * @param name Object name (optional)
     * @param createdColonGte Object creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param modified Object modified date (optional)
     * @param offset  (optional)
     * @return FolderChildrenFiles
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersParentFilesGet(parent: kotlin.String, modifiedColonGte: kotlin.String? = null, created: kotlin.String? = null, mode: kotlin.String? = null, modifiedColonLte: kotlin.String? = null, expireColonGt: kotlin.String? = null, modifiedColonGt: kotlin.String? = null, expireColonLt: kotlin.String? = null, expireColonLte: kotlin.String? = null, expireColonGte: kotlin.String? = null, createdColonLt: kotlin.String? = null, nameColonContains: kotlin.String? = null, expire: kotlin.String? = null, userId: kotlin.String? = null, userIdColonIn: kotlin.collections.List<kotlin.String>? = null, modifiedColonLt: kotlin.String? = null, orderBy: kotlin.String? = null, createdColonGt: kotlin.String? = null, returnEntity: kotlin.Boolean? = null, createdColonLte: kotlin.String? = null, with: kotlin.String? = null, limit: kotlin.Int? = null, isPushed: kotlin.Boolean? = null, deleted: kotlin.Boolean? = null, name: kotlin.String? = null, createdColonGte: kotlin.String? = null, modified: kotlin.String? = null, offset: kotlin.Int? = null): HttpResponse<FolderChildrenFiles> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        modifiedColonGte?.apply { localVariableQuery["modified:gte"] = listOf("$modifiedColonGte") }
        created?.apply { localVariableQuery["created"] = listOf("$created") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        modifiedColonLte?.apply { localVariableQuery["modified:lte"] = listOf("$modifiedColonLte") }
        expireColonGt?.apply { localVariableQuery["expire:gt"] = listOf("$expireColonGt") }
        modifiedColonGt?.apply { localVariableQuery["modified:gt"] = listOf("$modifiedColonGt") }
        expireColonLt?.apply { localVariableQuery["expire:lt"] = listOf("$expireColonLt") }
        expireColonLte?.apply { localVariableQuery["expire:lte"] = listOf("$expireColonLte") }
        expireColonGte?.apply { localVariableQuery["expire:gte"] = listOf("$expireColonGte") }
        createdColonLt?.apply { localVariableQuery["created:lt"] = listOf("$createdColonLt") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        expire?.apply { localVariableQuery["expire"] = listOf("$expire") }
        userId?.apply { localVariableQuery["userId"] = listOf("$userId") }
        userIdColonIn?.apply { localVariableQuery["userId:in"] = toMultiValue(this, "csv") }
        modifiedColonLt?.apply { localVariableQuery["modified:lt"] = listOf("$modifiedColonLt") }
        orderBy?.apply { localVariableQuery["orderBy"] = listOf("$orderBy") }
        createdColonGt?.apply { localVariableQuery["created:gt"] = listOf("$createdColonGt") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        createdColonLte?.apply { localVariableQuery["created:lte"] = listOf("$createdColonLte") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        isPushed?.apply { localVariableQuery["isPushed"] = listOf("$isPushed") }
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        createdColonGte?.apply { localVariableQuery["created:gte"] = listOf("$createdColonGte") }
        modified?.apply { localVariableQuery["modified"] = listOf("$modified") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/folders/{parent}/files".replace("{" + "parent" + "}", "$parent"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List top level shared folders
     * Return the list of top level shared folders.
     * @param name Folder name (optional)
     * @param nameColonContains Folder name. Search for result that contains specified characters in this parameter. (optional)
     * @param userId Unique identifier of Object creator (optional)
     * @param userIdColonIn Unique identifier of Object creator. Search for results that contain any of specified values of this parameter. (optional)
     * @param created Object creation date (optional)
     * @param createdColonGt Object creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param createdColonGte Object creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param createdColonLt Object creation date. Search for result that has this parameter value less than specified. (optional)
     * @param createdColonLte Object creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param modified Object modification date (optional)
     * @param modifiedColonGt Object modification date. Search for result that has this parameter value greater than specified. (optional)
     * @param modifiedColonGte Object modification date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param modifiedColonLt Object modification date. Search for result that has this parameter value less than specified. (optional)
     * @param modifiedColonLte Object modification date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param deleted Indicates that object is deleted (optional)
     * @param expire Expiration date (optional)
     * @param expireColonGt Expiration date. Search for result that has this parameter value greater than specified. (optional)
     * @param expireColonGte Expiration date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param expireColonLt Expiration date. Search for result that has this parameter value less than specified. (optional)
     * @param expireColonLte Expiration date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param fileLifetime Folder lifetime (optional)
     * @param fileLifetimeColonGt Folder lifetime. Search for result that has this parameter value greater than specified. (optional)
     * @param fileLifetimeColonGte Folder lifetime. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param fileLifetimeColonLt Folder lifetime. Search for result that has this parameter value less than specified. (optional)
     * @param fileLifetimeColonLte Folder lifetime. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param secure Folder secure flag (optional)
     * @param descriptionColonContains Folder description. Search for result that contains specified characters in this parameter. (optional)
     * @param sharedByMe true - return only folders shared by me;                               false - return only folders shared with me;                               empty - return both (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Folder>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersSharedGet(name: kotlin.String? = null, nameColonContains: kotlin.String? = null, userId: kotlin.String? = null, userIdColonIn: kotlin.String? = null, created: kotlin.String? = null, createdColonGt: kotlin.String? = null, createdColonGte: kotlin.String? = null, createdColonLt: kotlin.String? = null, createdColonLte: kotlin.String? = null, modified: kotlin.String? = null, modifiedColonGt: kotlin.String? = null, modifiedColonGte: kotlin.String? = null, modifiedColonLt: kotlin.String? = null, modifiedColonLte: kotlin.String? = null, deleted: kotlin.Boolean? = null, expire: kotlin.Int? = null, expireColonGt: kotlin.Int? = null, expireColonGte: kotlin.Int? = null, expireColonLt: kotlin.Int? = null, expireColonLte: kotlin.Int? = null, fileLifetime: kotlin.Int? = null, fileLifetimeColonGt: kotlin.Int? = null, fileLifetimeColonGte: kotlin.Int? = null, fileLifetimeColonLt: kotlin.Int? = null, fileLifetimeColonLte: kotlin.Int? = null, secure: kotlin.Boolean? = null, descriptionColonContains: kotlin.String? = null, sharedByMe: kotlin.Boolean? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Folder>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        userId?.apply { localVariableQuery["userId"] = listOf("$userId") }
        userIdColonIn?.apply { localVariableQuery["userId:in"] = listOf("$userIdColonIn") }
        created?.apply { localVariableQuery["created"] = listOf("$created") }
        createdColonGt?.apply { localVariableQuery["created:gt"] = listOf("$createdColonGt") }
        createdColonGte?.apply { localVariableQuery["created:gte"] = listOf("$createdColonGte") }
        createdColonLt?.apply { localVariableQuery["created:lt"] = listOf("$createdColonLt") }
        createdColonLte?.apply { localVariableQuery["created:lte"] = listOf("$createdColonLte") }
        modified?.apply { localVariableQuery["modified"] = listOf("$modified") }
        modifiedColonGt?.apply { localVariableQuery["modified:gt"] = listOf("$modifiedColonGt") }
        modifiedColonGte?.apply { localVariableQuery["modified:gte"] = listOf("$modifiedColonGte") }
        modifiedColonLt?.apply { localVariableQuery["modified:lt"] = listOf("$modifiedColonLt") }
        modifiedColonLte?.apply { localVariableQuery["modified:lte"] = listOf("$modifiedColonLte") }
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        expire?.apply { localVariableQuery["expire"] = listOf("$expire") }
        expireColonGt?.apply { localVariableQuery["expire:gt"] = listOf("$expireColonGt") }
        expireColonGte?.apply { localVariableQuery["expire:gte"] = listOf("$expireColonGte") }
        expireColonLt?.apply { localVariableQuery["expire:lt"] = listOf("$expireColonLt") }
        expireColonLte?.apply { localVariableQuery["expire:lte"] = listOf("$expireColonLte") }
        fileLifetime?.apply { localVariableQuery["fileLifetime"] = listOf("$fileLifetime") }
        fileLifetimeColonGt?.apply { localVariableQuery["fileLifetime:gt"] = listOf("$fileLifetimeColonGt") }
        fileLifetimeColonGte?.apply { localVariableQuery["fileLifetime:gte"] = listOf("$fileLifetimeColonGte") }
        fileLifetimeColonLt?.apply { localVariableQuery["fileLifetime:lt"] = listOf("$fileLifetimeColonLt") }
        fileLifetimeColonLte?.apply { localVariableQuery["fileLifetime:lte"] = listOf("$fileLifetimeColonLte") }
        secure?.apply { localVariableQuery["secure"] = listOf("$secure") }
        descriptionColonContains?.apply { localVariableQuery["description:contains"] = listOf("$descriptionColonContains") }
        sharedByMe?.apply { localVariableQuery["sharedByMe"] = listOf("$sharedByMe") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/folders/shared",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestFoldersSharedGetResponse>().map { value }
    }

    @Serializable(RestFoldersSharedGetResponse.Companion::class)
    private class RestFoldersSharedGetResponse(val value: List<Folder>) {
        companion object : KSerializer<RestFoldersSharedGetResponse> {
            private val serializer: KSerializer<List<Folder>> = serializer<List<Folder>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestFoldersSharedGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestFoldersSharedGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Return the list of top level and shared folders.
     * Return the list of top level and shared folders.
     * @param deleted don&#39;t show deleted, true - show only deleted, none - show both (optional)
     * @param with  (optional)
     * @param limit limit (optional)
     * @param mode  (optional)
     * @param orderBy Sorting options. Accepts id, name, modified, created, size. Sample format is id:asc (optional)
     * @param offset offset (optional)
     * @param returnEntity  (optional)
     * @return Folders
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersTopGet(deleted: kotlin.Boolean? = null, with: kotlin.String? = null, limit: kotlin.Int? = null, mode: kotlin.String? = null, orderBy: kotlin.String? = null, offset: kotlin.Int? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<Folders> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        orderBy?.apply { localVariableQuery["orderBy"] = listOf("$orderBy") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/folders/top",
            query = localVariableQuery,
[...]
