/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.Hostname
import org.openapitools.client.models.HostnamePost
import org.openapitools.client.models.HostnamePut

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class HostnamesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Deletes list of hostnames
     * Deletes list of hostnames.
     * @param idColonIn Array of values which are going to be changed.
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restHostnamesDelete(idColonIn: kotlin.String, partialSuccess: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/hostnames",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List hostnames
     * Returns a list of hostnames
     * @param aliasName Alias name (optional)
     * @param aliasNameColonContains Alias name. Search for result that contains specified characters in this parameter. (optional)
     * @param tenantId Tenant ID (optional)
     * @param tenantIdColonGt Tenant ID. Search for result that has this parameter value greater than specified. (optional)
     * @param tenantIdColonGte Tenant ID. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param tenantIdColonLt Tenant ID. Search for result that has this parameter value less than specified. (optional)
     * @param tenantIdColonLte Tenant ID. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param deleted Alias name deleted (optional)
     * @param disabled Alias name disabled (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Hostname>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restHostnamesGet(aliasName: kotlin.String? = null, aliasNameColonContains: kotlin.String? = null, tenantId: kotlin.Int? = null, tenantIdColonGt: kotlin.Int? = null, tenantIdColonGte: kotlin.Int? = null, tenantIdColonLt: kotlin.Int? = null, tenantIdColonLte: kotlin.Int? = null, deleted: kotlin.Boolean? = null, disabled: kotlin.Boolean? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Hostname>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        aliasName?.apply { localVariableQuery["alias_name"] = listOf("$aliasName") }
        aliasNameColonContains?.apply { localVariableQuery["alias_name:contains"] = listOf("$aliasNameColonContains") }
        tenantId?.apply { localVariableQuery["tenant_id"] = listOf("$tenantId") }
        tenantIdColonGt?.apply { localVariableQuery["tenant_id:gt"] = listOf("$tenantIdColonGt") }
        tenantIdColonGte?.apply { localVariableQuery["tenant_id:gte"] = listOf("$tenantIdColonGte") }
        tenantIdColonLt?.apply { localVariableQuery["tenant_id:lt"] = listOf("$tenantIdColonLt") }
        tenantIdColonLte?.apply { localVariableQuery["tenant_id:lte"] = listOf("$tenantIdColonLte") }
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        disabled?.apply { localVariableQuery["disabled"] = listOf("$disabled") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/hostnames",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestHostnamesGetResponse>().map { value }
    }

    @Serializable(RestHostnamesGetResponse.Companion::class)
    private class RestHostnamesGetResponse(val value: List<Hostname>) {
        companion object : KSerializer<RestHostnamesGetResponse> {
            private val serializer: KSerializer<List<Hostname>> = serializer<List<Hostname>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestHostnamesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestHostnamesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Mark specified hostname as deleted.
     * Marks the specified hostname as deleted.
     * @param id ID of the hostname
     * @return void
     */
    open suspend fun restHostnamesIdDelete(id: kotlin.Int): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/hostnames/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get hostname info from the hostname ID
     * Returns the details of the specified hostname.
     * @param id ID of the hostname to be retrieved
     * @return Hostname
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restHostnamesIdGet(id: kotlin.Int): HttpResponse<Hostname> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/hostnames/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Disable alias hostname
     * Disable the specified hostname.
     * @param id ID of the hostname to disable
     * @param body comment to activity
     * @return void
     */
    open suspend fun restHostnamesIdPut(id: kotlin.Int, body: HostnamePut): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/hostnames/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Create an alias hostname
     * Create an alias hostname.
     * @param body comment to activity
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return Hostname
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restHostnamesPost(body: HostnamePost, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Hostname> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/hostnames",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
