/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.Language

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class LanguagesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * List languages
     * Returns a list of available languages.
     * @param name Language name (optional)
     * @param nameColonContains Language name. Search for result that contains specified characters in this parameter. (optional)
     * @param symbol Language symbol (optional)
     * @param orderBy Sorting options (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Language>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restLanguagesGet(name: kotlin.String? = null, nameColonContains: kotlin.String? = null, symbol: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Language>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        symbol?.apply { localVariableQuery["symbol"] = listOf("$symbol") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/languages",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestLanguagesGetResponse>().map { value }
    }

    @Serializable(RestLanguagesGetResponse.Companion::class)
    private class RestLanguagesGetResponse(val value: List<Language>) {
        companion object : KSerializer<RestLanguagesGetResponse> {
            private val serializer: KSerializer<List<Language>> = serializer<List<Language>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestLanguagesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestLanguagesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get a language
     * Returns the details of a specified language including language symbol, name, and link.
     * @param id ID of the language to be retrieved
     * @return Language
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restLanguagesIdGet(id: kotlin.Int): HttpResponse<Language> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/languages/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
