/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.BaseSendMailPostRequest
import org.openapitools.client.models.BulkOperationInteger
import org.openapitools.client.models.DestinationFolderIdRequest
import org.openapitools.client.models.DistributionList
import org.openapitools.client.models.Mail
import org.openapitools.client.models.MailAttachments
import org.openapitools.client.models.MailCounters
import org.openapitools.client.models.Mails
import org.openapitools.client.models.Package
import org.openapitools.client.models.Preview
import org.openapitools.client.models.Recipient
import org.openapitools.client.models.SendMailSettingPutRequest
import org.openapitools.client.models.SendMessagePost

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class MailApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Create a send message email entry
     * Creates a send message email entry
     * @param id ID of the folder
     * @param body The email details
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFoldersIdActionsSendMessagePost(id: kotlin.String, body: SendMessagePost, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/folders/{id}/actions/sendMessage".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Returns number of emails in each bucket
     * Returns number of emails in each bucket
     * @param returnCustomWebForm Return all emails include those with the custom web form. (optional)
     * @return MailCounters
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restMailActionsCountersGet(returnCustomWebForm: kotlin.Boolean? = null): HttpResponse<MailCounters> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnCustomWebForm?.apply { localVariableQuery["returnCustomWebForm"] = listOf("$returnCustomWebForm") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/mail/actions/counters",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Permanently deletes list of emails
     * Permanently deletes list of emails
     * @param emailIdColonIn A list of email ids which will be processed
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @return void
     */
    open suspend fun restMailActionsDeletePermanentPatch(emailIdColonIn: kotlin.collections.List<kotlin.String>, partialSuccess: kotlin.Boolean? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        emailIdColonIn?.apply { localVariableQuery["emailId:in"] = toMultiValue(this, "csv") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/rest/mail/actions/deletePermanent",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns list of emails inside distribution list
     * Returns list of emails inside distribution list
     * @param email Email address to check/expand
     * @param expand Whether to return distribution list members emails (optional)
     * @param emailId If specified, DL members list will contain members who actually received this email (optional)
     * @return DistributionList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restMailActionsDistributionListGet(email: kotlin.String, expand: kotlin.Boolean? = null, emailId: kotlin.String? = null): HttpResponse<DistributionList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        email?.apply { localVariableQuery["email"] = listOf("$email") }
        expand?.apply { localVariableQuery["expand"] = listOf("$expand") }
        emailId?.apply { localVariableQuery["emailId"] = listOf("$emailId") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/mail/actions/distributionList",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Mark the mail read status to true on the given email ids
     * Mark the mail read status to true on the given email ids
     * @param emailIdColonIn A list of email ids which will be processed
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @return void
     */
    open suspend fun restMailActionsReadPatch(emailIdColonIn: kotlin.collections.List<kotlin.String>, partialSuccess: kotlin.Boolean? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        emailIdColonIn?.apply { localVariableQuery["emailId:in"] = toMultiValue(this, "csv") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/rest/mail/actions/read",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Moves the list of emails back to original bucket from trash
     * Moves the list of emails back to original bucket from trash
     * @param emailIdColonIn A list of email ids which will be processed
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @return void
     */
    open suspend fun restMailActionsRecoverPatch(emailIdColonIn: kotlin.collections.List<kotlin.String>, partialSuccess: kotlin.Boolean? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        emailIdColonIn?.apply { localVariableQuery["emailId:in"] = toMultiValue(this, "csv") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/rest/mail/actions/recover",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Create a mail
     * Create a mail
     * @param body 
     * @param mode  (optional)
     * @param with  (optional)
     * @param returnEntity  (optional)
     * @return Mail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restMailActionsSendFileExternalPost(body: BaseSendMailPostRequest, mode: kotlin.String? = null, with: kotlin.String? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<Mail> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/mail/actions/sendFileExternal",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Create a mail
     * Create a mail
     * @param body 
     * @param mode  (optional)
     * @param with  (optional)
     * @param returnEntity  (optional)
     * @return Mail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restMailActionsSendFilePost(body: BaseSendMailPostRequest, mode: kotlin.String? = null, with: kotlin.String? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<Mail> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/mail/actions/sendFile",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Moves the list of emails to trash for current user
     * Moves the list of emails to trash for current user
     * @param emailIdColonIn A list of email ids which will be processed
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @return void
     */
    open suspend fun restMailActionsTrashPatch(emailIdColonIn: kotlin.collections.List<kotlin.String>, partialSuccess: kotlin.Boolean? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        emailIdColonIn?.apply { localVariableQuery["emailId:in"] = toMultiValue(this, "csv") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/rest/mail/actions/trash",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Mark the mail read status to false on the given email ids
     * Mark the mail read status to false on the given email ids
     * @param emailIdColonIn A list of email ids which will be processed
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @return void
     */
    open suspend fun restMailActionsUnreadPatch(emailIdColonIn: kotlin.collections.List<kotlin.String>, partialSuccess: kotlin.Boolean? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        emailIdColonIn?.apply { localVariableQuery["emailId:in"] = toMultiValue(this, "csv") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/rest/mail/actions/unread",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Withdraw all files from deleted/demoted users&#39; emails
     * Withdraw all files from deleted/demoted users&#39; emails
     * @param userId ID of the user to withdraw files
     * @param emailIdColonIn A list of email ids which will be processed (optional)
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restMailActionsWithdrawFilesUsersUserIdDelete(userId: kotlin.String, emailIdColonIn: kotlin.String? = null, partialSuccess: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        emailIdColonIn?.apply { localVariableQuery["emailId:in"] = listOf("$emailIdColonIn") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/mail/actions/withdrawFiles/users/{userId}".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete attachment(s)
     * Delete email attachment(s) from sent &amp; draft mail
     * @param idColonIn 
     * @return void
     */
    open suspend fun restMailAttachmentsDelete(idColonIn: kotlin.collections.List<kotlin.String>): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = toMultiValue(this, "csv") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/mail/attachments",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get email attachments
     * Get email attachments from sent &amp; draft mail
     * @param orderBy  (optional)
     * @param limit  (optional)
     * @param offset  (optional)
     * @param bucket  (optional)
     * @return MailAttachments
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restMailAttachmentsGet(orderBy: kotlin.String? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null, bucket: kotlin.String? = null): HttpResponse<MailAttachments> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        orderBy?.apply { localVariableQuery["orderBy"] = listOf("$orderBy") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        bucket?.apply { localVariableQuery["bucket"] = listOf("$bucket") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/mail/attachments",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete a list of email drafts
     * Allows a sender to delete a list of email drafts (Support up to 100 emails)
     * @param emailIdColonIn A list of email ids which will be processed
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @return void
     */
    open suspend fun restMailDelete(emailIdColonIn: kotlin.collections.List<kotlin.String>, partialSuccess: kotlin.Boolean? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        emailIdColonIn?.apply { localVariableQuery["emailId:in"] = toMultiValue(this, "csv") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/mail",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Download multiple attachments as zip
     * Download multiple attachments as zip
     * @param emailId Mail id to download attachments as zip
     * @param attachmentIdColonIn Search for results that contain any of specified values of this parameter.
     * @param name The zip filename (optional)
     * @param ref The email reference (Mandatory if the email can be accessed without authentication) (optional)
     * @param username User email of file&#39;s requestor (optional)
     * @param utcOffset The user timezone offset in (seconds). UTC+08:00 &#x3D; 28800 (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restMailEmailIdAttachmentsActionsZipGet(emailId: kotlin.String, attachmentIdColonIn: kotlin.String, name: kotlin.String? = null, ref: kotlin.String? = null, username: kotlin.String? = null, utcOffset: kotlin.Int? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        attachmentIdColonIn?.apply { localVariableQuery["attachmentId:in"] = listOf("$attachmentIdColonIn") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        ref?.apply { localVariableQuery["ref"] = listOf("$ref") }
        username?.apply { localVariableQuery["username"] = listOf("$username") }
        utcOffset?.apply { localVariableQuery["utcOffset"] = listOf("$utcOffset") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/mail/{emailId}/attachments/actions/zip".replace("{" + "emailId" + "}", "$emailId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get multiple attachments AV/DLP status
     * Get multiple attachments AV/DLP status
     * @param emailId The mail id
     * @param attachmentIdColonIn Search for results that contain any of specified values of this parameter.
     * @param ref The email reference (Mandatory if the email can be accessed without authentication) (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restMailEmailIdAttachmentsActionsZipStatusGet(emailId: kotlin.String, attachmentIdColonIn: kotlin.String, ref: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        attachmentIdColonIn?.apply { localVariableQuery["attachmentId:in"] = listOf("$attachmentIdColonIn") }
        ref?.apply { localVariableQuery["ref"] = listOf("$ref") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/mail/{emailId}/attachments/actions/zipStatus".replace("{" + "emailId" + "}", "$emailId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Return attachment content
     * Returns the content of the specified attachment.                        e.g: return the file in this email attachment.
     * @param emailId Mail id to retrieve attachment content for
     * @param id Attachment id (frozen object id)
     * @param range Bytes range to retrieve. Example: bytes&#x3D;0-1024 (optional)
     * @param ref The email reference code (Mandatory if the email can be accessed without authentication) (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restMailEmailIdAttachmentsIdContentGet(emailId: kotlin.String, id: kotlin.String, range: kotlin.String? = null, ref: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ref?.apply { localVariableQuery["ref"] = listOf("$ref") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()
        range?.apply { localVariableHeaders["Range"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/mail/{emailId}/attachments/{id}/content".replace("{" + "emailId" + "}", "$emailId").replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Retrieve information about the file preview of given email.
     * Retrieve information about the file preview of given email.
     * @param emailId Mail id to retrieve attachments for
     * @param id Attachment id (frozen object id)
     * @param ref The email reference code (Mandatory if the email can be accessed without authentication) (optional)
     * @param mode Response mode (optional)
     * @return Preview
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restMailEmailIdAttachmentsIdPreviewGet(emailId: kotlin.String, id: kotlin.String, ref: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<Preview> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ref?.apply { localVariableQuery["ref"] = listOf("$ref") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/mail/{emailId}/attachments/{id}/preview".replace("{" + "emailId" + "}", "$emailId").replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a report about downloaded attachments as a CSV file
     * Get a report about downloaded attachments as a CSV file
     * @param emailId The mail id
     * @return void
     */
    open suspend fun restMailEmailIdAttachmentsReportCsvGet(emailId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/mail/{emailId}/attachments/reportCsv".replace("{" + "emailId" + "}", "$emailId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a report about downloaded attachments
     * Get a report about downloaded attachments
     * @param emailId The mail id
     * @return void
     */
    open suspend fun restMailEmailIdAttachmentsReportGet(emailId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/mail/{emailId}/attachments/report".replace("{" + "emailId" + "}", "$emailId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List emails
     * Returns the list of all emails for this user.  This includes sent emails, received emails,draft emails, and request a file emails. 
     * @param isRecipient Unique identifier of User who receive Email (optional)
     * @param modifiedDateColonLte Email modified date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param mode  (optional)
     * @param sharedMailboxId Shared Mailbox unique identifier. Search for result belongs to the Shared Mailbox. (optional)
     * @param trackingOnly Return only emails with tracking access (optional)
     * @param senderId Unique identifier of User who sent Email (optional)
     * @param read Whether the email is read or not by current user (optional)
     * @param isPreview Whether the email is a preview email (optional)
     * @param returnCustomWebForm Return all emails include those with the custom web form (optional)
     * @param dateColonGte Email creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param isUserSent Whether the email was sent by some user (optional)
     * @param modifiedDateColonGt Email modified date. Search for result that has this parameter value greater than specified. (optional)
     * @param templateId Email Template unique identifier (optional)
     * @param orderBy Sorting options (optional)
     * @param returnEntity  (optional)
     * @param modifiedDateColonLt Email modified date. Search for result that has this parameter value less than specified. (optional)
     * @param status Email status (optional)
     * @param emailPackageIdColonIn Email Package unique identifier. Search for results that contain any of specified values of this parameter. (optional)
     * @param date Email creation date (optional)
     * @param with  (optional)
     * @param limit  (optional)
     * @param emailPackageId Email Package unique identifier (optional)
     * @param modifiedDate Email modified date (optional)
     * @param webFormId Email web form ID (optional)
     * @param dateColonGt Email creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param modifiedDateColonGte Email modified date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param senderIdColonIn Unique identifier of User who sent Email Search for results that contain any of specified values of this parameter.recommended request size &lt;&#x3D; 100 (optional)
     * @param deleted Indicates that Email is deleted (optional)
     * @param dateColonLte Email creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param customWebFormOnly Return only emails with the custom web form (optional)
     * @param templateIdColonIn Email Template unique identifier. Search for results that contain any of specified values of this parameter. (optional)
     * @param dateColonLt Email creation date. Search for result that has this parameter value less than specified. (optional)
     * @param bucket Email bucket (optional)
     * @param offset  (optional)
     * @return Mails
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restMailGet(isRecipient: kotlin.Boolean? = null, modifiedDateColonLte: kotlin.String? = null, mode: kotlin.String? = null, sharedMailboxId: kotlin.String? = null, trackingOnly: kotlin.Boolean? = null, senderId: kotlin.String? = null, read: kotlin.Boolean? = null, isPreview: kotlin.Boolean? = null, returnCustomWebForm: kotlin.Boolean? = null, dateColonGte: kotlin.String? = null, isUserSent: kotlin.Boolean? = null, modifiedDateColonGt: kotlin.String? = null, templateId: kotlin.Int? = null, orderBy: kotlin.String? = null, returnEntity: kotlin.Boolean? = null, modifiedDateColonLt: kotlin.String? = null, status: kotlin.String? = null, emailPackageIdColonIn: kotlin.collections.List<kotlin.String>? = null, date: kotlin.String? = null, with: kotlin.String? = null, limit: kotlin.Int? = null, emailPackageId: kotlin.String? = null, modifiedDate: kotlin.String? = null, webFormId: kotlin.String? = null, dateColonGt: kotlin.String? = null, modifiedDateColonGte: kotlin.String? = null, senderIdColonIn: kotlin.collections.List<kotlin.String>? = null, deleted: kotlin.Boolean? = null, dateColonLte: kotlin.String? = null, customWebFormOnly: kotlin.Boolean? = null, templateIdColonIn: kotlin.collections.List<kotlin.Int>? = null, dateColonLt: kotlin.String? = null, bucket: kotlin.String? = null, offset: kotlin.Int? = null): HttpResponse<Mails> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        isRecipient?.apply { localVariableQuery["isRecipient"] = listOf("$isRecipient") }
        modifiedDateColonLte?.apply { localVariableQuery["modified_date:lte"] = listOf("$modifiedDateColonLte") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        sharedMailboxId?.apply { localVariableQuery["sharedMailboxId"] = listOf("$sharedMailboxId") }
        trackingOnly?.apply { localVariableQuery["trackingOnly"] = listOf("$trackingOnly") }
        senderId?.apply { localVariableQuery["senderId"] = listOf("$senderId") }
        read?.apply { localVariableQuery["read"] = listOf("$read") }
        isPreview?.apply { localVariableQuery["isPreview"] = listOf("$isPreview") }
        returnCustomWebForm?.apply { localVariableQuery["returnCustomWebForm"] = listOf("$returnCustomWebForm") }
        dateColonGte?.apply { localVariableQuery["date:gte"] = listOf("$dateColonGte") }
        isUserSent?.apply { localVariableQuery["isUserSent"] = listOf("$isUserSent") }
        modifiedDateColonGt?.apply { localVariableQuery["modified_date:gt"] = listOf("$modifiedDateColonGt") }
        templateId?.apply { localVariableQuery["templateId"] = listOf("$templateId") }
        orderBy?.apply { localVariableQuery["orderBy"] = listOf("$orderBy") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        modifiedDateColonLt?.apply { localVariableQuery["modified_date:lt"] = listOf("$modifiedDateColonLt") }
        status?.apply { localVariableQuery["status"] = listOf("$status") }
        emailPackageIdColonIn?.apply { localVariableQuery["emailPackageId:in"] = toMultiValue(this, "csv") }
        date?.apply { localVariableQuery["date"] = listOf("$date") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        emailPackageId?.apply { localVariableQuery["emailPackageId"] = listOf("$emailPackageId") }
        modifiedDate?.apply { localVariableQuery["modified_date"] = listOf("$modifiedDate") }
        webFormId?.apply { localVariableQuery["webFormId"] = listOf("$webFormId") }
        dateColonGt?.apply { localVariableQuery["date:gt"] = listOf("$dateColonGt") }
        modifiedDateColonGte?.apply { localVariableQuery["modified_date:gte"] = listOf("$modifiedDateColonGte") }
        senderIdColonIn?.apply { localVariableQuery["senderId:in"] = toMultiValue(this, "csv") }
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        dateColonLte?.apply { localVariableQuery["date:lte"] = listOf("$dateColonLte") }
        customWebFormOnly?.apply { localVariableQuery["customWebFormOnly"] = listOf("$customWebFormOnly") }
        templateIdColonIn?.apply { localVariableQuery["templateId:in"] = toMultiValue(this, "csv") }
        dateColonLt?.apply { localVariableQuery["date:lt"] = listOf("$dateColonLt") }
        bucket?.apply { localVariableQuery["bucket"] = listOf("$bucket") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/mail",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Copy attachments from mail to folder
     * Copy attachments from mail to folder
     * @param id The ID of the entity
     * @param idColonIn 
     * @param body 
     * @param mode  (optional)
     * @param with  (optional)
     * @param returnEntity  (optional)
     * @return org.openapitools.client.infrastructure.OctetByteArray
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restMailIdActionsCopyPost(id: kotlin.String, idColonIn: kotlin.collections.List<kotlin.String>, body: DestinationFolderIdRequest, mode: kotlin.String? = null, with: kotlin.String? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<org.openapitools.client.infrastructure.OctetByteArray> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        idColonIn?.apply { localVariableQuery["id:in"] = toMultiValue(this, "csv") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/mail/{id}/actions/copy".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Update a mail
     * Update a mail
     * @param id The ID of the entity
     * @param body 
     * @param mode  (optional)
     * @param with  (optional)
     * @param returnEntity  (optional)
     * @return Mail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restMailIdActionsSendFileExternalPut(id: kotlin.String, body: BaseSendMailPostRequest, mode: kotlin.String? = null, with: kotlin.String? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<Mail> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/mail/{id}/actions/sendFileExternal".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Update a mail
     * Update a mail
     * @param id The ID of the entity
     * @param body 
     * @param mode  (optional)
     * @param with  (optional)
     * @param returnEntity  (optional)
     * @return Mail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restMailIdActionsSendFilePut(id: kotlin.String, body: BaseSendMailPostRequest, mode: kotlin.String? = null, with: kotlin.String? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<Mail> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/mail/{id}/actions/sendFile".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Send tracking report for email
     * Send tracking report for email
     * @param id The ID of the entity
     * @return void
     */
    open suspend fun restMailIdActionsSendTrackingReportPost(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/mail/{id}/actions/sendTrackingReport".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Withdraw attachments from mail
     * Withdraw attachments from mail
     * @param id The ID of the entity
     * @param idColonIn 
     * @return void
     */
    open suspend fun restMailIdActionsWithdrawFilesPost(id: kotlin.String, idColonIn: kotlin.collections.List<kotlin.String>): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = toMultiValue(this, "csv") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/mail/{id}/actions/withdrawFiles".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns a list of attachments for a given mail.
     * Returns a list of attachments for a given mail.
     * @param id The ID of the entity
     * @param attachmentId The Attachment ID
     * @param ref The email reference (Mandatory if the email can be accessed without authentication) (optional)
     * @return void
     */
    open suspend fun restMailIdAttachmentsAttachmentIdGet(id: kotlin.String, attachmentId: kotlin.String, ref: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ref?.apply { localVariableQuery["ref"] = listOf("$ref") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/mail/{id}/attachments/{attachment_id}".replace("{" + "id" + "}", "$id").replace("{" + "attachment_id" + "}", "$attachmentId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns a list of attachments for a given mail.
     * Returns a list of attachments for a given mail.
     * @param id The ID of the entity
     * @param ref The email reference (Mandatory if the email can be accessed without authentication) (optional)
     * @param limit  (optional)
     * @param offset  (optional)
     * @return void
     */
    open suspend fun restMailIdAttachmentsGet(id: kotlin.String, ref: kotlin.String? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ref?.apply { localVariableQuery["ref"] = listOf("$ref") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/mail/{id}/attachments".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete an email draft
     * Allows a sender to delete a draft of email
     * @param id The ID of the entity
     * @return void
     */
    open suspend fun restMailIdDelete(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/mail/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get an email entry
     * Returns the details of a specified email which includes sender id, date, package id, etc.
     * @param id The ID of the entity
     * @param mode  (optional)
     * @param with  (optional)
     * @param ref The email reference (Mandatory if the email can be accessed without authentication) (optional)
     * @param returnEntity  (optional)
     * @return Mail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restMailIdGet(id: kotlin.String, mode: kotlin.String? = null, with: kotlin.String? = null, ref: kotlin.String? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<Mail> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        ref?.apply { localVariableQuery["ref"] = listOf("$ref") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/mail/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List email packages
     * Returns a list of packages for an email
     * @param id ID of the email
     * @param ref The email reference code (Mandatory if the email can be accessed without authentication) (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param mode Response mode (optional)
     * @return Package
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restMailIdPackagesGet(id: kotlin.String, ref: kotlin.String? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, mode: kotlin.String? = null): HttpResponse<Package> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        ref?.apply { localVariableQuery["ref"] = listOf("$ref") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/mail/{id}/packages".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List recipients
     * Returns a list of recipients for a given email
     * @param id email id to retrieve recipients for
     * @param type Type for Recipient. TO,CC,BCC (optional)
     * @param ref The email reference (Mandatory if the email can be accessed without authentication) (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param locateId If specified, \&quot;offset\&quot; parameter will be ignored                                             and the page containing entity with this Id will be returned. (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Recipient>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restMailIdRecipientsGet(id: kotlin.String, type: kotlin.collections.List<kotlin.String>? = null, ref: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, locateId: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Recipient>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        type?.apply { localVariableQuery["type"] = toMultiValue(this, "csv") }
        ref?.apply { localVariableQuery["ref"] = listOf("$ref") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        locateId?.apply { localVariableQuery["locate_id"] = listOf("$locateId") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/mail/{id}/recipients".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestMailIdRecipientsGetResponse>().map { value }
    }

    @Serializable(RestMailIdRecipientsGetResponse.Companion::class)
    private class RestMailIdRecipientsGetResponse(val value: List<Recipient>) {
        companion object : KSerializer<RestMailIdRecipientsGetResponse> {
            private val serializer: KSerializer<List<Recipient>> = serializer<List<Recipient>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestMailIdRecipientsGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestMailIdRecipientsGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get the status of a mail job based on attachment and content scan status.
     * Get the status of a mail job based on attachment and content scan status.
     * @param id The ID of the entity
     * @return void
     */
    open suspend fun restMailIdScanStatusGet(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/mail/{id}/scanStatus".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Allow sender to update the mail setting of an email.
     * Allow sender to update the mail setting of an email.
     * @param id The ID of the entity
     * @param body 
     * @return void
     */
    open suspend fun restMailIdSettingsPut(id: kotlin.String, body: SendMailSettingPutRequest): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/mail/{id}/settings".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Unsubscribe user from tracking
     * Unsubscribe user from tracking
     * @param id The ID of the entity
     * @return void
     */
    open suspend fun restMailIdTrackingsMeDelete(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/mail/{id}/trackings/me".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Create a mail
     * Create a mail
     * @param body 
     * @param mode  (optional)
     * @param with  (optional)
     * @param returnEntity  (optional)
     * @return Mail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restPublicMailActionsSendFilePost(body: BaseSendMailPostRequest, mode: kotlin.String? = null, with: kotlin.String? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<Mail> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/public/mail/actions/sendFile",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Update a mail
     * Update a mail
     * @param id The ID of the entity
     * @param body 
     * @param mode  (optional)
     * @param with  (optional)
     * @param returnEntity  (optional)
     * @return Mail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restPublicMailIdActionsSendFilePut(id: kotlin.String, body: BaseSendMailPostRequest, mode: kotlin.String? = null, with: kotlin.String? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<Mail> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/public/mail/{id}/actions/sendFile".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
