/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.UserNotification
import org.openapitools.client.models.UserNotificationPost

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class NotificationsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Set/Update notifications
     * Set/Update notifications
     * @param id ID of the folder
     * @param body Notification options
     * @param includeNested Set notification for nested folders as well (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restFoldersIdActionsSetNotificationsPut(id: kotlin.String, body: UserNotificationPost, includeNested: kotlin.Boolean? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        includeNested?.apply { localVariableQuery["includeNested"] = listOf("$includeNested") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/folders/{id}/actions/setNotifications".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List notifications
     * Returns list of notifications
     * @param userId ID of user who will send email notifications to end users (optional)
     * @param userIdColonIn ID of user who will send email notifications to end users. Search for results that contain any of specified values of this parameter. (optional)
     * @param objectId Id of folder included in Notification (optional)
     * @param objectIdColonIn Id of folder included in Notification. Search for results that contain any of specified values of this parameter. (optional)
     * @param fileAdded Whether the notification is about the file added (optional)
     * @param commentAdded Whether the notification is about the comment added (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<UserNotification>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restNotificationsGet(userId: kotlin.String? = null, userIdColonIn: kotlin.String? = null, objectId: kotlin.String? = null, objectIdColonIn: kotlin.String? = null, fileAdded: kotlin.Boolean? = null, commentAdded: kotlin.Boolean? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<UserNotification>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        userId?.apply { localVariableQuery["userId"] = listOf("$userId") }
        userIdColonIn?.apply { localVariableQuery["userId:in"] = listOf("$userIdColonIn") }
        objectId?.apply { localVariableQuery["objectId"] = listOf("$objectId") }
        objectIdColonIn?.apply { localVariableQuery["objectId:in"] = listOf("$objectIdColonIn") }
        fileAdded?.apply { localVariableQuery["fileAdded"] = listOf("$fileAdded") }
        commentAdded?.apply { localVariableQuery["commentAdded"] = listOf("$commentAdded") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/notifications",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestNotificationsGetResponse>().map { value }
    }

    @Serializable(RestNotificationsGetResponse.Companion::class)
    private class RestNotificationsGetResponse(val value: List<UserNotification>) {
        companion object : KSerializer<RestNotificationsGetResponse> {
            private val serializer: KSerializer<List<UserNotification>> = serializer<List<UserNotification>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestNotificationsGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestNotificationsGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Remove notification options
     * Remove notification option
     * @param objectId Object ID of the folder to remove notification options
     * @return void
     */
    open suspend fun restNotificationsObjectIdDelete(objectId: kotlin.Int): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/notifications/{object_id}".replace("{" + "object_id" + "}", "$objectId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
