/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.FilePermissions
import org.openapitools.client.models.Permission

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class PermissionsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Return the list of permissions available on a comment
     * Return available permissions
     * @param commentId Id of the comment
     * @param id Unique action identifier (optional)
     * @param idColonIn Unique action identifier. Search for results that contain any of specified values of this parameter. (optional)
     * @param name Action name (optional)
     * @param nameColonContains Action name. Search for result that contains specified characters in this parameter. (optional)
     * @param allowed Determines if one has permissions to perform action (optional)
     * @param enabled Determines if given action is available considering current object state (locked, deleted, etc) (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Permission>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restPermissionsCommentCommentIdGet(commentId: kotlin.Int, id: kotlin.Int? = null, idColonIn: kotlin.Int? = null, name: kotlin.String? = null, nameColonContains: kotlin.String? = null, allowed: kotlin.Boolean? = null, enabled: kotlin.Boolean? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Permission>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        id?.apply { localVariableQuery["id"] = listOf("$id") }
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        allowed?.apply { localVariableQuery["allowed"] = listOf("$allowed") }
        enabled?.apply { localVariableQuery["enabled"] = listOf("$enabled") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/permissions/comment/{comment_id}".replace("{" + "comment_id" + "}", "$commentId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestPermissionsCommentCommentIdGetResponse>().map { value }
    }

    @Serializable(RestPermissionsCommentCommentIdGetResponse.Companion::class)
    private class RestPermissionsCommentCommentIdGetResponse(val value: List<Permission>) {
        companion object : KSerializer<RestPermissionsCommentCommentIdGetResponse> {
            private val serializer: KSerializer<List<Permission>> = serializer<List<Permission>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestPermissionsCommentCommentIdGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestPermissionsCommentCommentIdGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Return the list of permissions available on a file
     * Return available permissions
     * @param fileId ID of the file
     * @param id Unique action identifier (optional)
     * @param idColonIn Unique action identifier. Search for results that contain any of specified values of this parameter. (optional)
     * @param name Action name (optional)
     * @param nameColonContains Action name. Search for result that contains specified characters in this parameter. (optional)
     * @param allowed Determines if one has permissions to perform action (optional)
     * @param enabled Determines if given action is available considering current object state (locked, deleted, etc) (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Permission>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restPermissionsFileFileIdGet(fileId: kotlin.String, id: kotlin.Int? = null, idColonIn: kotlin.Int? = null, name: kotlin.String? = null, nameColonContains: kotlin.String? = null, allowed: kotlin.Boolean? = null, enabled: kotlin.Boolean? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Permission>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        id?.apply { localVariableQuery["id"] = listOf("$id") }
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        allowed?.apply { localVariableQuery["allowed"] = listOf("$allowed") }
        enabled?.apply { localVariableQuery["enabled"] = listOf("$enabled") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/permissions/file/{file_id}".replace("{" + "file_id" + "}", "$fileId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestPermissionsFileFileIdGetResponse>().map { value }
    }

    @Serializable(RestPermissionsFileFileIdGetResponse.Companion::class)
    private class RestPermissionsFileFileIdGetResponse(val value: List<Permission>) {
        companion object : KSerializer<RestPermissionsFileFileIdGetResponse> {
            private val serializer: KSerializer<List<Permission>> = serializer<List<Permission>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestPermissionsFileFileIdGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestPermissionsFileFileIdGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Return the list of permissions available on a list of files
     * Return available permissions
     * @param idColonIn Search for results that contain any of specified values of this parameter.
     * @param name Action name (optional)
     * @param nameColonContains Action name. Search for result that contains specified characters in this parameter. (optional)
     * @param allowed Determines if one has permissions to perform action (optional)
     * @param enabled Determines if given action is available considering current object state (locked, deleted, etc) (optional)
     * @param actionId Unique action identifier (optional)
     * @param actionIdColonIn Unique action identifier. Search for results that contain any of specified values of this parameter. (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<FilePermissions>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restPermissionsFilesGet(idColonIn: kotlin.String, name: kotlin.String? = null, nameColonContains: kotlin.String? = null, allowed: kotlin.Boolean? = null, enabled: kotlin.Boolean? = null, actionId: kotlin.Int? = null, actionIdColonIn: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<FilePermissions>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        allowed?.apply { localVariableQuery["allowed"] = listOf("$allowed") }
        enabled?.apply { localVariableQuery["enabled"] = listOf("$enabled") }
        actionId?.apply { localVariableQuery["action_id"] = listOf("$actionId") }
        actionIdColonIn?.apply { localVariableQuery["action_id:in"] = listOf("$actionIdColonIn") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/permissions/files",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestPermissionsFilesGetResponse>().map { value }
    }

    @Serializable(RestPermissionsFilesGetResponse.Companion::class)
    private class RestPermissionsFilesGetResponse(val value: List<FilePermissions>) {
        companion object : KSerializer<RestPermissionsFilesGetResponse> {
            private val serializer: KSerializer<List<FilePermissions>> = serializer<List<FilePermissions>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestPermissionsFilesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestPermissionsFilesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Return the list of permissions available on a folder
     * Return available permissions
     * @param folderId ID of the folder
     * @param id Unique action identifier (optional)
     * @param idColonIn Unique action identifier. Search for results that contain any of specified values of this parameter. (optional)
     * @param name Action name (optional)
     * @param nameColonContains Action name. Search for result that contains specified characters in this parameter. (optional)
     * @param allowed Determines if one has permissions to perform action (optional)
     * @param enabled Determines if given action is available considering current object state (locked, deleted, etc) (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Permission>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restPermissionsFolderFolderIdGet(folderId: kotlin.String, id: kotlin.Int? = null, idColonIn: kotlin.Int? = null, name: kotlin.String? = null, nameColonContains: kotlin.String? = null, allowed: kotlin.Boolean? = null, enabled: kotlin.Boolean? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Permission>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        id?.apply { localVariableQuery["id"] = listOf("$id") }
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        allowed?.apply { localVariableQuery["allowed"] = listOf("$allowed") }
        enabled?.apply { localVariableQuery["enabled"] = listOf("$enabled") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/permissions/folder/{folder_id}".replace("{" + "folder_id" + "}", "$folderId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestPermissionsFolderFolderIdGetResponse>().map { value }
    }

    @Serializable(RestPermissionsFolderFolderIdGetResponse.Companion::class)
    private class RestPermissionsFolderFolderIdGetResponse(val value: List<Permission>) {
        companion object : KSerializer<RestPermissionsFolderFolderIdGetResponse> {
            private val serializer: KSerializer<List<Permission>> = serializer<List<Permission>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestPermissionsFolderFolderIdGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestPermissionsFolderFolderIdGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Return the list of permissions available on a task
     * Return available permissions
     * @param taskId Comment Id of the task
     * @param id Unique action identifier (optional)
     * @param idColonIn Unique action identifier. Search for results that contain any of specified values of this parameter. (optional)
     * @param name Action name (optional)
     * @param nameColonContains Action name. Search for result that contains specified characters in this parameter. (optional)
     * @param allowed Determines if one has permissions to perform action (optional)
     * @param enabled Determines if given action is available considering current object state (locked, deleted, etc) (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Permission>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restPermissionsTaskTaskIdGet(taskId: kotlin.Int, id: kotlin.Int? = null, idColonIn: kotlin.Int? = null, name: kotlin.String? = null, nameColonContains: kotlin.String? = null, allowed: kotlin.Boolean? = null, enabled: kotlin.Boolean? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Permission>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        id?.apply { localVariableQuery["id"] = listOf("$id") }
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        allowed?.apply { localVariableQuery["allowed"] = listOf("$allowed") }
        enabled?.apply { localVariableQuery["enabled"] = listOf("$enabled") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/permissions/task/{task_id}".replace("{" + "task_id" + "}", "$taskId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestPermissionsTaskTaskIdGetResponse>().map { value }
    }

    @Serializable(RestPermissionsTaskTaskIdGetResponse.Companion::class)
    private class RestPermissionsTaskTaskIdGetResponse(val value: List<Permission>) {
        companion object : KSerializer<RestPermissionsTaskTaskIdGetResponse> {
            private val serializer: KSerializer<List<Permission>> = serializer<List<Permission>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestPermissionsTaskTaskIdGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestPermissionsTaskTaskIdGetResponse(serializer.deserialize(decoder))
        }
    }

}
