/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.FeaturesListPut
import org.openapitools.client.models.Profile
import org.openapitools.client.models.ProfilePost
import org.openapitools.client.models.RestProfilesGet200Response
import org.openapitools.client.models.User
import org.openapitools.client.models.UserDemoteOptionsPost

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ProfilesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * List user types
     * Returns a list of user types supported by kiteworks
     * @param name Profile name (optional)
     * @param nameColonContains Profile name. Search for result that contains specified characters in this parameter. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return RestProfilesGet200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restProfilesGet(name: kotlin.String? = null, nameColonContains: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<RestProfilesGet200Response> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/profiles",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Return user type details
     * Returns the details of a specified user type. e.g.: Returns user type id and name.
     * @param id ID of the user type to be retrieved
     * @return Profile
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restProfilesIdGet(id: kotlin.Int): HttpResponse<Profile> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/profiles/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update profile
     * Update existing profile, Remove/Retain users data if Profile has no Collaboration Access
     * @param id Id of the profile to be modified
     * @param body Features of the profile
     * @return void
     */
    open suspend fun restProfilesIdPut(id: kotlin.Int, body: FeaturesListPut): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/profiles/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete custom profile and set new profile instead of deleted profile
     * Delete custom profile and set new profile instead of deleted profile
     * @param id Id of the custom profile to be deleted
     * @param newProfile Id of the new profile to be assigned for affected users
     * @param body The demotion options (optional)
     * @return void
     */
    open suspend fun restProfilesIdReplaceNewProfileDelete(id: kotlin.Int, newProfile: kotlin.Int, body: UserDemoteOptionsPost? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/profiles/{id}/replace/{new_profile}".replace("{" + "id" + "}", "$id").replace("{" + "new_profile" + "}", "$newProfile"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Return list of users with the specified type
     * Returns the list of users who have the specified type. e.g.:                   Return me the user names and email addresses of all the Restricted Users.
     * @param id ID of the user type to retrieve users for
     * @param email The user&#39;s email (optional)
     * @param emailColonContains The user&#39;s email. Search for result that contains specified characters in this parameter. (optional)
     * @param name The name of the user (optional)
     * @param nameColonContains The name of the user. Search for result that contains specified characters in this parameter. (optional)
     * @param metadata The metadata of the user (optional)
     * @param metadataContains The metadata of the user. Search for result that contains specified characters in this parameter. (optional)
     * @param deleted Whether the user has been deleted (optional)
     * @param active Whether the user is an actual kitework user (optional)
     * @param verified Whether the user is verified (optional)
     * @param suspended Whether the user is suspended (optional)
     * @param isRecipient Whether user is recipient (optional)
     * @param allowsCollaboration Whether user&#39;s profile allows collaboration access (optional)
     * @param created User creation date (optional)
     * @param createdColonGt User creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param createdColonGte User creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param createdColonLt User creation date. Search for result that has this parameter value less than specified. (optional)
     * @param createdColonLte User creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param locateId If specified, \&quot;offset\&quot; parameter will be ignored                                             and the page containing entity with this Id will be returned. (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<User>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restProfilesIdUsersGet(id: kotlin.Int, email: kotlin.String? = null, emailColonContains: kotlin.String? = null, name: kotlin.String? = null, nameColonContains: kotlin.String? = null, metadata: kotlin.String? = null, metadataContains: kotlin.String? = null, deleted: kotlin.Boolean? = null, active: kotlin.Boolean? = null, verified: kotlin.Boolean? = null, suspended: kotlin.Boolean? = null, isRecipient: kotlin.Boolean? = null, allowsCollaboration: kotlin.Boolean? = null, created: java.time.LocalDate? = null, createdColonGt: java.time.LocalDate? = null, createdColonGte: java.time.LocalDate? = null, createdColonLt: java.time.LocalDate? = null, createdColonLte: java.time.LocalDate? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, locateId: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<User>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        email?.apply { localVariableQuery["email"] = listOf("$email") }
        emailColonContains?.apply { localVariableQuery["email:contains"] = listOf("$emailColonContains") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        metadata?.apply { localVariableQuery["metadata"] = listOf("$metadata") }
        metadataContains?.apply { localVariableQuery["metadataContains"] = listOf("$metadataContains") }
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        active?.apply { localVariableQuery["active"] = listOf("$active") }
        verified?.apply { localVariableQuery["verified"] = listOf("$verified") }
        suspended?.apply { localVariableQuery["suspended"] = listOf("$suspended") }
        isRecipient?.apply { localVariableQuery["isRecipient"] = listOf("$isRecipient") }
        allowsCollaboration?.apply { localVariableQuery["allowsCollaboration"] = listOf("$allowsCollaboration") }
        created?.apply { localVariableQuery["created"] = listOf("$created") }
        createdColonGt?.apply { localVariableQuery["created:gt"] = listOf("$createdColonGt") }
        createdColonGte?.apply { localVariableQuery["created:gte"] = listOf("$createdColonGte") }
        createdColonLt?.apply { localVariableQuery["created:lt"] = listOf("$createdColonLt") }
        createdColonLte?.apply { localVariableQuery["created:lte"] = listOf("$createdColonLte") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        locateId?.apply { localVariableQuery["locate_id"] = listOf("$locateId") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/profiles/{id}/users".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestProfilesIdUsersGetResponse>().map { value }
    }

    @Serializable(RestProfilesIdUsersGetResponse.Companion::class)
    private class RestProfilesIdUsersGetResponse(val value: List<User>) {
        companion object : KSerializer<RestProfilesIdUsersGetResponse> {
            private val serializer: KSerializer<List<User>> = serializer<List<User>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestProfilesIdUsersGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestProfilesIdUsersGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Change user type
     * Change user type for specified user
     * @param id ID of the user type
     * @param idColonIn IDs of users, who are going to be assigned to the user type
     * @param mode Response mode (optional)
     * @param body The users details (optional)
     * @return void
     */
    open suspend fun restProfilesIdUsersPut(id: kotlin.Int, idColonIn: kotlin.String, mode: kotlin.String? = null, body: UserDemoteOptionsPost? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/profiles/{id}/users".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Add custom profile
     * Add new custom profile cloned from built in profile
     * @param body Params for custom profile
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restProfilesPost(body: ProfilePost, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/profiles",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
