/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.CommentPost
import org.openapitools.client.models.Content
import org.openapitools.client.models.Preview
import org.openapitools.client.models.RequestFile
import org.openapitools.client.models.RequestFileReplyPostRequest
import org.openapitools.client.models.RequestFileSource
import org.openapitools.client.models.RequestFileToFolderPostRequest
import org.openapitools.client.models.RequestFileToInboxPostRequest
import org.openapitools.client.models.RequestFileUpload

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class RequestFileApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Send a Request File to Folder
     * Send a Request File to Folder
     * @param id The ID of the entity
     * @param body 
     * @return void
     */
    open suspend fun restFoldersIdActionsRequestFilePost(id: kotlin.String, body: RequestFileToFolderPostRequest): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/folders/{id}/actions/requestFile".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Send a Request File to Inbox
     * Send a Request File to Inbox
     * @param body 
     * @return void
     */
    open suspend fun restMailActionsRequestFilePost(body: RequestFileToInboxPostRequest): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/mail/actions/requestFile",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * upload content
     * uploads file content to a request folder
     * @param ref Request file short link
     * @param body file content
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @param clientCreated Client created field for the file (optional)
     * @param clientModified Client modified field for the file (optional)
     * @return void
     */
    open suspend fun restRequestFileRefActionsFilePost(ref: kotlin.String, body: io.ktor.client.request.forms.InputProvider, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null, clientCreated: java.time.LocalDate? = null, clientModified: java.time.LocalDate? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            formData {
                body?.apply { append("body", body) }
                clientCreated?.apply { append("clientCreated", clientCreated) }
                clientModified?.apply { append("clientModified", clientModified) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/requestFile/{ref}/actions/file".replace("{" + "ref" + "}", "$ref"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Create a Comment on a file
     * Create a Comment on a file.
     * @param ref The request file shortlink
     * @param objectId Object ID of the file being commented on
     * @param body The comment details
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restRequestFileRefCommentObjectIdPost(ref: kotlin.String, objectId: kotlin.String, body: CommentPost, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/requestFile/{ref}/comment/{object_id}".replace("{" + "ref" + "}", "$ref").replace("{" + "object_id" + "}", "$objectId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Expire the request file
     * Expire the request file by setting deleted to true
     * @param ref the shortlink of request file to expire
     * @return RequestFile
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restRequestFileRefDelete(ref: kotlin.String): HttpResponse<RequestFile> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/requestFile/{ref}".replace("{" + "ref" + "}", "$ref"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns Request File Info by ref
     * Returns Request File Info by ref
     * @param ref The ref of the Request File
     * @param read To log view event, default to true (optional)
     * @return RequestFile
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restRequestFileRefGet(ref: kotlin.String, read: kotlin.Boolean? = null): HttpResponse<RequestFile> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        read?.apply { localVariableQuery["read"] = listOf("$read") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/requestFile/{ref}".replace("{" + "ref" + "}", "$ref"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Retrieve information about the file preview.
     * Retrieve information about the file preview.
     * @param ref The request file shortlink
     * @param objectId ID of the file
     * @return Preview
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restRequestFileRefPreviewObjectIdGet(ref: kotlin.String, objectId: kotlin.String): HttpResponse<Preview> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/requestFile/{ref}/preview/{object_id}".replace("{" + "ref" + "}", "$ref").replace("{" + "object_id" + "}", "$objectId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Reply to Request File
     * Reply to Request File
     * @param ref The ref of the Request File
     * @param body 
     * @return void
     */
    open suspend fun restRequestFileRefReplyPost(ref: kotlin.String, body: RequestFileReplyPostRequest): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/requestFile/{ref}/reply".replace("{" + "ref" + "}", "$ref"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Retrieve Request File attached files included by the requester
     * Returns attached files included by the requester.
     * @param ref the shortlink of request file to retrieve for
     * @return RequestFileSource
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restRequestFileRefSourcesGet(ref: kotlin.String): HttpResponse<RequestFileSource> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/requestFile/{ref}/sources".replace("{" + "ref" + "}", "$ref"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Read source file content
     * Read content of a source file
     * @param ref Request file short link
     * @param objectId ID of the file
     * @param range Bytes range to retrieve. Example: bytes&#x3D;0-1024 (optional)
     * @return Content
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restRequestFileRefSourcesObjectIdContentGet(ref: kotlin.String, objectId: kotlin.String, range: kotlin.String? = null): HttpResponse<Content> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        range?.apply { localVariableHeaders["Range"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/requestFile/{ref}/sources/{object_id}/content".replace("{" + "ref" + "}", "$ref").replace("{" + "object_id" + "}", "$objectId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Read file info
     * Read properties of a source file
     * @param ref The shortlink of the request file
     * @param objectId ID of the source file
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return Content
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restRequestFileRefSourcesObjectIdGet(ref: kotlin.String, objectId: kotlin.String, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<Content> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/requestFile/{ref}/sources/{object_id}".replace("{" + "ref" + "}", "$ref").replace("{" + "object_id" + "}", "$objectId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Retrieve Request File uploaded files by the login uploader
     * Returns uploaded files by the login uploader.
     * @param ref the shortlink of request file to retrieve for
     * @return RequestFileUpload
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restRequestFileRefUploadsGet(ref: kotlin.String): HttpResponse<RequestFileUpload> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/requestFile/{ref}/uploads".replace("{" + "ref" + "}", "$ref"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Read source file content
     * Read content of a source file
     * @param ref id
     * @param objectId ID of the file
     * @param range Bytes range to retrieve. Example: bytes&#x3D;0-1024 (optional)
     * @return Content
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restRequestFileRefUploadsObjectIdContentGet(ref: kotlin.String, objectId: kotlin.String, range: kotlin.String? = null): HttpResponse<Content> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        range?.apply { localVariableHeaders["Range"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/requestFile/{ref}/uploads/{object_id}/content".replace("{" + "ref" + "}", "$ref").replace("{" + "object_id" + "}", "$objectId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete uploaded file
     * Delete an uploaded file
     * @param ref weblink
     * @param objectId ID of the uploaded file
     * @return Content
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restRequestFileRefUploadsObjectIdDelete(ref: kotlin.String, objectId: kotlin.String): HttpResponse<Content> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/requestFile/{ref}/uploads/{object_id}".replace("{" + "ref" + "}", "$ref").replace("{" + "object_id" + "}", "$objectId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Read uploaded file info
     * Read properties of a uploaded file
     * @param ref weblink
     * @param objectId ID of the uploaded file
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return Content
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restRequestFileRefUploadsObjectIdGet(ref: kotlin.String, objectId: kotlin.String, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<Content> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/requestFile/{ref}/uploads/{object_id}".replace("{" + "ref" + "}", "$ref").replace("{" + "object_id" + "}", "$objectId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete request files sent by the the specified user
     * Delete request files sent by the the specified user
     * @param userId The user ID of request file
     * @param requestFileIdColonIn Search for results that contain any of specified values of this parameter. (optional)
     * @param mode Response mode (optional)
     * @return RequestFile
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restRequestFileUsersUserIdDelete(userId: kotlin.String, requestFileIdColonIn: kotlin.Int? = null, mode: kotlin.String? = null): HttpResponse<RequestFile> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        requestFileIdColonIn?.apply { localVariableQuery["requestFileId:in"] = listOf("$requestFileIdColonIn") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/requestFile/users/{userId}".replace("{" + "userId" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
