/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.Role

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class RolesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * List user roles
     * Returns a list of available user roles. e.g.:                    kiteworks default roles are Manager, Collaborator, Downloader, Viewer, Uploader.
     * @param name Role name (optional)
     * @param nameColonContains Role name. Search for result that contains specified characters in this parameter. (optional)
     * @param disabled Whether Role is disabled (optional)
     * @param type Type of role (optional)
     * @param orderBy Sorting options (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Role>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restRolesGet(name: kotlin.String? = null, nameColonContains: kotlin.String? = null, disabled: kotlin.Boolean? = null, type: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Role>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        disabled?.apply { localVariableQuery["disabled"] = listOf("$disabled") }
        type?.apply { localVariableQuery["type"] = listOf("$type") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/roles",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestRolesGetResponse>().map { value }
    }

    @Serializable(RestRolesGetResponse.Companion::class)
    private class RestRolesGetResponse(val value: List<Role>) {
        companion object : KSerializer<RestRolesGetResponse> {
            private val serializer: KSerializer<List<Role>> = serializer<List<Role>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestRolesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestRolesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get a role
     * Returns the details of a specified role including the mask that indicates                   what functionality this role is allowed to do.
     * @param id ID of the role to be retrieved
     * @return Role
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restRolesIdGet(id: kotlin.Int): HttpResponse<Role> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/roles/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
