/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.MailCountersList
import org.openapitools.client.models.SharedMailbox
import org.openapitools.client.models.SharedMailboxList
import org.openapitools.client.models.SharedMailboxPatchRequest
import org.openapitools.client.models.SharedMailboxPostRequest
import org.openapitools.client.models.SharedMailboxSetting
import org.openapitools.client.models.SharedMailboxStatusPatchRequest
import org.openapitools.client.models.WebFormList

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class SharedMailboxApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Delete shared mailboxes
     * Delete shared mailboxes
     * @param idColonIn Shared mailbox user id list recommended request size &lt;&#x3D; 100 (optional)
     * @return void
     */
    open suspend fun restAdminSharedMailboxesDelete(idColonIn: kotlin.collections.List<kotlin.String>? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = toMultiValue(this, "csv") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/admin/sharedMailboxes",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get shared mailbox list by user id list
     * Get shared mailbox list by user id list
     * @param active  (optional)
     * @param limit  (optional)
     * @param idColonIn Shared mailbox user id list recommended request size &lt;&#x3D; 100 (optional)
     * @param orderBy  (optional)
     * @param offset  (optional)
     * @return SharedMailboxList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminSharedMailboxesGet(active: kotlin.Boolean? = null, limit: kotlin.Int? = null, idColonIn: kotlin.collections.List<kotlin.String>? = null, orderBy: kotlin.String? = null, offset: kotlin.Int? = null): HttpResponse<SharedMailboxList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        active?.apply { localVariableQuery["active"] = listOf("$active") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        idColonIn?.apply { localVariableQuery["id:in"] = toMultiValue(this, "csv") }
        orderBy?.apply { localVariableQuery["orderBy"] = listOf("$orderBy") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/admin/sharedMailboxes",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update shared mailbox members
     * Update shared mailbox members
     * @param id User ID
     * @param body 
     * @return SharedMailbox
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminSharedMailboxesIdPatch(id: kotlin.String, body: SharedMailboxPatchRequest): HttpResponse<SharedMailbox> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/rest/admin/sharedMailboxes/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Add shared mailbox record
     * Add shared mailbox
     * @param body 
     * @return SharedMailbox
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminSharedMailboxesPost(body: SharedMailboxPostRequest): HttpResponse<SharedMailbox> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/admin/sharedMailboxes",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get current user&#39;s shared mailboxes
     * Get current user&#39;s shared mailboxes
     * @param active  (optional)
     * @param limit  (optional)
     * @param idColonIn Shared mailbox user id list recommended request size &lt;&#x3D; 100 (optional)
     * @param orderBy  (optional)
     * @param offset  (optional)
     * @return SharedMailboxList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restSharedMailboxesGet(active: kotlin.Boolean? = null, limit: kotlin.Int? = null, idColonIn: kotlin.collections.List<kotlin.String>? = null, orderBy: kotlin.String? = null, offset: kotlin.Int? = null): HttpResponse<SharedMailboxList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        active?.apply { localVariableQuery["active"] = listOf("$active") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        idColonIn?.apply { localVariableQuery["id:in"] = toMultiValue(this, "csv") }
        orderBy?.apply { localVariableQuery["orderBy"] = listOf("$orderBy") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/sharedMailboxes",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get current user&#39;s shared mailboxes setting
     * Get current user&#39;s shared mailboxes setting
     * @param id User ID
     * @return SharedMailboxSetting
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restSharedMailboxesIdSettingsGet(id: kotlin.String): HttpResponse<SharedMailboxSetting> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/sharedMailboxes/{id}/settings".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List web forms available to shared mailboxes
     * Returns a list of web forms available to shared mailboxes
     * @param id User ID
     * @param mode  (optional)
     * @param with  (optional)
     * @param returnEntity  (optional)
     * @return WebFormList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restSharedMailboxesIdWebFormsGet(id: kotlin.String, mode: kotlin.String? = null, with: kotlin.String? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<WebFormList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/sharedMailboxes/{id}/webForms".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get current user&#39;s shared mailboxes counters
     * Get current user&#39;s shared mailboxes counters
     * @param idColonIn Shared mailbox user id list recommended request size &lt;&#x3D; 100 (optional)
     * @return MailCountersList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restSharedMailboxesMailActionsCountersGet(idColonIn: kotlin.collections.List<kotlin.String>? = null): HttpResponse<MailCountersList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = toMultiValue(this, "csv") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/sharedMailboxes/mail/actions/counters",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update current user&#39;s shared mailbox active status
     * Update current user&#39;s shared mailbox active status
     * @param body 
     * @return SharedMailboxList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restSharedMailboxesPatch(body: SharedMailboxStatusPatchRequest): HttpResponse<SharedMailboxList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/rest/sharedMailboxes",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
