/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.CloudSourceLoginPost
import org.openapitools.client.models.EcmAuth
import org.openapitools.client.models.KPTransferStatus
import org.openapitools.client.models.KitepointPreview
import org.openapitools.client.models.OnPremiseSourceLoginPost
import org.openapitools.client.models.RefreshToken
import org.openapitools.client.models.Source
import org.openapitools.client.models.SourceContent
import org.openapitools.client.models.SourceFile
import org.openapitools.client.models.SourceFolder
import org.openapitools.client.models.SourcePost
import org.openapitools.client.models.Sources

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class SourcesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Lock EC files
     * Lock EC files
     * @param idColonIn Array of values which are going to be changed.
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restSourcesActionsLockPatch(idColonIn: kotlin.Int, partialSuccess: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/rest/sources/actions/lock",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Unlock EC files
     * Unlock EC files
     * @param idColonIn Array of values which are going to be changed.
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restSourcesActionsUnlockPatch(idColonIn: kotlin.Int, partialSuccess: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/rest/sources/actions/unlock",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Login to cloud source
     * Get tokens after ECM auth
     * @param body Login params
     * @return void
     */
    open suspend fun restSourcesAuthPost(body: CloudSourceLoginPost): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/sources/auth",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get kp transfer status.
     * Get status of transfer to EC
     * @param transactionId Transaction ID of download (optional)
     * @param transactionIdColonIn Transaction ID of download. Search for results that contain any of specified values of this parameter. (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<KPTransferStatus>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restSourcesFilesActionsTransferStatusGet(transactionId: kotlin.Int? = null, transactionIdColonIn: kotlin.Int? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<KPTransferStatus>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        transactionId?.apply { localVariableQuery["transactionId"] = listOf("$transactionId") }
        transactionIdColonIn?.apply { localVariableQuery["transactionId:in"] = listOf("$transactionIdColonIn") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/sources/files/actions/transferStatus",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestSourcesFilesActionsTransferStatusGetResponse>().map { value }
    }

    @Serializable(RestSourcesFilesActionsTransferStatusGetResponse.Companion::class)
    private class RestSourcesFilesActionsTransferStatusGetResponse(val value: List<KPTransferStatus>) {
        companion object : KSerializer<RestSourcesFilesActionsTransferStatusGetResponse> {
            private val serializer: KSerializer<List<KPTransferStatus>> = serializer<List<KPTransferStatus>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestSourcesFilesActionsTransferStatusGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestSourcesFilesActionsTransferStatusGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Delete an EC file.
     * Delete an EC file.
     * @param id ID of EC file
     * @param forceDelete If set to True user can delete file which only in his use (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restSourcesFilesIdDelete(id: kotlin.String, forceDelete: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        forceDelete?.apply { localVariableQuery["forceDelete"] = listOf("$forceDelete") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/sources/files/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get info of an EC file.
     * Get info of an EC file.
     * @param id ID of EC file
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return SourceFile
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restSourcesFilesIdGet(id: kotlin.String, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<SourceFile> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/sources/files/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete an EC folder.
     * Delete an EC folder.
     * @param id ID of EC folder
     * @return void
     */
    open suspend fun restSourcesFoldersIdDelete(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/sources/folders/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get info of an EC folder.
     * Get info of an EC folder.
     * @param id ID of EC folder
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return SourceFolder
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restSourcesFoldersIdGet(id: kotlin.String, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<SourceFolder> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/sources/folders/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Return user&#39;s sources
     * Return user&#39;s sources
     * @param includeKw  (optional)
     * @param searchType  (optional)
     * @param limit  (optional)
     * @param query  (optional)
     * @param includeContainer  (optional)
     * @param offset  (optional)
     * @return Sources
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restSourcesGet(includeKw: kotlin.Boolean? = null, searchType: kotlin.String? = null, limit: kotlin.Int? = null, query: kotlin.String? = null, includeContainer: kotlin.Boolean? = null, offset: kotlin.Int? = null): HttpResponse<Sources> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        includeKw?.apply { localVariableQuery["include_kw"] = listOf("$includeKw") }
        searchType?.apply { localVariableQuery["search_type"] = listOf("$searchType") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        query?.apply { localVariableQuery["query"] = listOf("$query") }
        includeContainer?.apply { localVariableQuery["include_container"] = listOf("$includeContainer") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/sources",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get url with redirect to cloud ECM auth
     * Get url with redirect to cloud ECM auth
     * @param id The source ID
     * @return EcmAuth
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restSourcesIdAuthGet(id: kotlin.Int): HttpResponse<EcmAuth> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/sources/{id}/auth".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Login to on-premise source
     * Login to on-premise source
     * @param id The source ID
     * @param body Login params
     * @return void
     */
    open suspend fun restSourcesIdAuthPost(id: kotlin.String, body: OnPremiseSourceLoginPost): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/sources/{id}/auth".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get cloud ECM auth status
     * Get cloud ECM auth status
     * @param id The source ID
     * @return void
     */
    open suspend fun restSourcesIdAuthStatusGet(id: kotlin.Int): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/sources/{id}/authStatus".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns the content of the specified ECM source
     * Returns the content of the requested source.
     * @param id ID of the source folder to be retrieved
     * @param name Object name (optional)
     * @param nameColonContains Object name. Search for result that contains specified characters in this parameter. (optional)
     * @param description Object description (optional)
     * @param descriptionColonContains Object description. Search for result that contains specified characters in this parameter. (optional)
     * @param created Object creation date (optional)
     * @param createdColonGt Object creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param createdColonGte Object creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param createdColonLt Object creation date. Search for result that has this parameter value less than specified. (optional)
     * @param createdColonLte Object creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param modified Object modification date (optional)
     * @param modifiedColonGt Object modification date. Search for result that has this parameter value greater than specified. (optional)
     * @param modifiedColonGte Object modification date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param modifiedColonLt Object modification date. Search for result that has this parameter value less than specified. (optional)
     * @param modifiedColonLte Object modification date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param deleted Indicates that object is deleted (optional)
     * @param type Object type to return (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<SourceContent>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restSourcesIdChildrenGet(id: kotlin.String, name: kotlin.String? = null, nameColonContains: kotlin.String? = null, description: kotlin.String? = null, descriptionColonContains: kotlin.String? = null, created: java.time.LocalDate? = null, createdColonGt: java.time.LocalDate? = null, createdColonGte: java.time.LocalDate? = null, createdColonLt: java.time.LocalDate? = null, createdColonLte: java.time.LocalDate? = null, modified: java.time.LocalDate? = null, modifiedColonGt: java.time.LocalDate? = null, modifiedColonGte: java.time.LocalDate? = null, modifiedColonLt: java.time.LocalDate? = null, modifiedColonLte: java.time.LocalDate? = null, deleted: kotlin.Boolean? = null, type: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<SourceContent>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        description?.apply { localVariableQuery["description"] = listOf("$description") }
        descriptionColonContains?.apply { localVariableQuery["description:contains"] = listOf("$descriptionColonContains") }
        created?.apply { localVariableQuery["created"] = listOf("$created") }
        createdColonGt?.apply { localVariableQuery["created:gt"] = listOf("$createdColonGt") }
        createdColonGte?.apply { localVariableQuery["created:gte"] = listOf("$createdColonGte") }
        createdColonLt?.apply { localVariableQuery["created:lt"] = listOf("$createdColonLt") }
        createdColonLte?.apply { localVariableQuery["created:lte"] = listOf("$createdColonLte") }
        modified?.apply { localVariableQuery["modified"] = listOf("$modified") }
        modifiedColonGt?.apply { localVariableQuery["modified:gt"] = listOf("$modifiedColonGt") }
        modifiedColonGte?.apply { localVariableQuery["modified:gte"] = listOf("$modifiedColonGte") }
        modifiedColonLt?.apply { localVariableQuery["modified:lt"] = listOf("$modifiedColonLt") }
        modifiedColonLte?.apply { localVariableQuery["modified:lte"] = listOf("$modifiedColonLte") }
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        type?.apply { localVariableQuery["type"] = listOf("$type") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/sources/{id}/children".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestSourcesIdChildrenGetResponse>().map { value }
    }

    @Serializable(RestSourcesIdChildrenGetResponse.Companion::class)
    private class RestSourcesIdChildrenGetResponse(val value: List<SourceContent>) {
        companion object : KSerializer<RestSourcesIdChildrenGetResponse> {
            private val serializer: KSerializer<List<SourceContent>> = serializer<List<SourceContent>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestSourcesIdChildrenGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestSourcesIdChildrenGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Deletes specified source
     * Deletes specified source.
     * @param id ID of the source to be deleted.
     * @return void
     */
    open suspend fun restSourcesIdDelete(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/sources/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get access token for external file edit.
     * Retrieve refresh token for external file edit.
     * @param id ID of the file
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return RefreshToken
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restSourcesIdExternalEditGet(id: kotlin.Int, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<RefreshToken> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/sources/{id}/externalEdit".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns the list of folders of the specified ECM folder
     * Returns the content of the requested source.
     * @param id ID of the source folder to be retrieved
     * @param name Object name (optional)
     * @param nameColonContains Object name. Search for result that contains specified characters in this parameter. (optional)
     * @param description Object description (optional)
     * @param descriptionColonContains Object description. Search for result that contains specified characters in this parameter. (optional)
     * @param created Object creation date (optional)
     * @param createdColonGt Object creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param createdColonGte Object creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param createdColonLt Object creation date. Search for result that has this parameter value less than specified. (optional)
     * @param createdColonLte Object creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param modified Object modification date (optional)
     * @param modifiedColonGt Object modification date. Search for result that has this parameter value greater than specified. (optional)
     * @param modifiedColonGte Object modification date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param modifiedColonLt Object modification date. Search for result that has this parameter value less than specified. (optional)
     * @param modifiedColonLte Object modification date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param deleted Indicates that object is deleted (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<SourceContent>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restSourcesIdFoldersGet(id: kotlin.String, name: kotlin.String? = null, nameColonContains: kotlin.String? = null, description: kotlin.String? = null, descriptionColonContains: kotlin.String? = null, created: java.time.LocalDate? = null, createdColonGt: java.time.LocalDate? = null, createdColonGte: java.time.LocalDate? = null, createdColonLt: java.time.LocalDate? = null, createdColonLte: java.time.LocalDate? = null, modified: java.time.LocalDate? = null, modifiedColonGt: java.time.LocalDate? = null, modifiedColonGte: java.time.LocalDate? = null, modifiedColonLt: java.time.LocalDate? = null, modifiedColonLte: java.time.LocalDate? = null, deleted: kotlin.Boolean? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<SourceContent>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        description?.apply { localVariableQuery["description"] = listOf("$description") }
        descriptionColonContains?.apply { localVariableQuery["description:contains"] = listOf("$descriptionColonContains") }
        created?.apply { localVariableQuery["created"] = listOf("$created") }
        createdColonGt?.apply { localVariableQuery["created:gt"] = listOf("$createdColonGt") }
        createdColonGte?.apply { localVariableQuery["created:gte"] = listOf("$createdColonGte") }
        createdColonLt?.apply { localVariableQuery["created:lt"] = listOf("$createdColonLt") }
        createdColonLte?.apply { localVariableQuery["created:lte"] = listOf("$createdColonLte") }
        modified?.apply { localVariableQuery["modified"] = listOf("$modified") }
        modifiedColonGt?.apply { localVariableQuery["modified:gt"] = listOf("$modifiedColonGt") }
        modifiedColonGte?.apply { localVariableQuery["modified:gte"] = listOf("$modifiedColonGte") }
        modifiedColonLt?.apply { localVariableQuery["modified:lt"] = listOf("$modifiedColonLt") }
        modifiedColonLte?.apply { localVariableQuery["modified:lte"] = listOf("$modifiedColonLte") }
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/sources/{id}/folders".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestSourcesIdFoldersGetResponse>().map { value }
    }

    @Serializable(RestSourcesIdFoldersGetResponse.Companion::class)
    private class RestSourcesIdFoldersGetResponse(val value: List<SourceContent>) {
        companion object : KSerializer<RestSourcesIdFoldersGetResponse> {
            private val serializer: KSerializer<List<SourceContent>> = serializer<List<SourceContent>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestSourcesIdFoldersGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestSourcesIdFoldersGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Returns requested ECM source
     * Returns requested source.
     * @param id ID of the source to be retrieved
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return Source
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restSourcesIdGet(id: kotlin.String, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<Source> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/sources/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Retrieve information about the kitepoint file preview.
     * Retrieve information about the kitepoint file preview.
     * @param id ID of the kitepoint file
     * @return KitepointPreview
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restSourcesIdPreviewGet(id: kotlin.Int): HttpResponse<KitepointPreview> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/sources/{id}/preview".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Returns the list of files of the specified ECM folder
     * Returns the list of files of the requested ECM folder.
     * @param parent ID of the source folder to be retrieved
     * @param name Object name (optional)
     * @param nameColonContains Object name. Search for result that contains specified characters in this parameter. (optional)
     * @param description Object description (optional)
     * @param descriptionColonContains Object description. Search for result that contains specified characters in this parameter. (optional)
     * @param created Object creation date (optional)
     * @param createdColonGt Object creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param createdColonGte Object creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param createdColonLt Object creation date. Search for result that has this parameter value less than specified. (optional)
     * @param createdColonLte Object creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param modified Object modification date (optional)
     * @param modifiedColonGt Object modification date. Search for result that has this parameter value greater than specified. (optional)
     * @param modifiedColonGte Object modification date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param modifiedColonLt Object modification date. Search for result that has this parameter value less than specified. (optional)
     * @param modifiedColonLte Object modification date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param deleted Indicates that object is deleted (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<SourceContent>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restSourcesParentFilesGet(parent: kotlin.String, name: kotlin.String? = null, nameColonContains: kotlin.String? = null, description: kotlin.String? = null, descriptionColonContains: kotlin.String? = null, created: java.time.LocalDate? = null, createdColonGt: java.time.LocalDate? = null, createdColonGte: java.time.LocalDate? = null, createdColonLt: java.time.LocalDate? = null, createdColonLte: java.time.LocalDate? = null, modified: java.time.LocalDate? = null, modifiedColonGt: java.time.LocalDate? = null, modifiedColonGte: java.time.LocalDate? = null, modifiedColonLt: java.time.LocalDate? = null, modifiedColonLte: java.time.LocalDate? = null, deleted: kotlin.Boolean? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<SourceContent>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        description?.apply { localVariableQuery["description"] = listOf("$description") }
        descriptionColonContains?.apply { localVariableQuery["description:contains"] = listOf("$descriptionColonContains") }
        created?.apply { localVariableQuery["created"] = listOf("$created") }
        createdColonGt?.apply { localVariableQuery["created:gt"] = listOf("$createdColonGt") }
        createdColonGte?.apply { localVariableQuery["created:gte"] = listOf("$createdColonGte") }
        createdColonLt?.apply { localVariableQuery["created:lt"] = listOf("$createdColonLt") }
        createdColonLte?.apply { localVariableQuery["created:lte"] = listOf("$createdColonLte") }
        modified?.apply { localVariableQuery["modified"] = listOf("$modified") }
        modifiedColonGt?.apply { localVariableQuery["modified:gt"] = listOf("$modifiedColonGt") }
        modifiedColonGte?.apply { localVariableQuery["modified:gte"] = listOf("$modifiedColonGte") }
        modifiedColonLt?.apply { localVariableQuery["modified:lt"] = listOf("$modifiedColonLt") }
        modifiedColonLte?.apply { localVariableQuery["modified:lte"] = listOf("$modifiedColonLte") }
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/sources/{parent}/files".replace("{" + "parent" + "}", "$parent"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestSourcesParentFilesGetResponse>().map { value }
    }

    @Serializable(RestSourcesParentFilesGetResponse.Companion::class)
    private class RestSourcesParentFilesGetResponse(val value: List<SourceContent>) {
        companion object : KSerializer<RestSourcesParentFilesGetResponse> {
            private val serializer: KSerializer<List<SourceContent>> = serializer<List<SourceContent>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestSourcesParentFilesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestSourcesParentFilesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Add user ECM source
     * Add user source.
     * @param body source details
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restSourcesPost(body: SourcePost, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/sources",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
