/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.SourceType

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class SourceTypesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * List all ECM source types
     * Returns a list of available ECM source types.
     * @param mode Mode (optional)
     * @param orderBy Sorting options (optional)
     * @return kotlin.collections.List<SourceType>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restSourceTypesGet(mode: kotlin.Boolean? = null, orderBy: kotlin.collections.List<kotlin.String>? = null): HttpResponse<kotlin.collections.List<SourceType>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/sourceTypes",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestSourceTypesGetResponse>().map { value }
    }

    @Serializable(RestSourceTypesGetResponse.Companion::class)
    private class RestSourceTypesGetResponse(val value: List<SourceType>) {
        companion object : KSerializer<RestSourceTypesGetResponse> {
            private val serializer: KSerializer<List<SourceType>> = serializer<List<SourceType>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestSourceTypesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestSourceTypesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Returns requested ECM source type
     * Returns requested source type.
     * @param id ID of the sourceType to be retrieved
     * @return SourceType
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restSourceTypesIdGet(id: kotlin.Int): HttpResponse<SourceType> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/sourceTypes/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
