/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.AcfsConfig
import org.openapitools.client.models.InitiateUploadPostRequest
import org.openapitools.client.models.Upload

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class UploadsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * uploads chunk endpoint
     * uploads chunk to the upload entity
     * @param id The ID of the upload
     * @param hostName Upload host name, can be obtained from GET /uploads/{id} or initiateUpload response
     * @param compressionMode The compression mode. Available option \\\&quot;NORMAL\\\&quot;, \\\&quot;GZIP\\\&quot; and \\\&quot;ZLIB\\\&quot;
     * @param compressionSize The upload content size after compression
     * @param originalSize The original upload content size before compression
     * @param content The upload content.
     * @param index The chunk index. Starts from 1 (optional)
     * @param lastChunk Indicate if this upload is the last chunk of the file. (optional)
     * @return Upload
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostNameRestUploadsIdPost(id: kotlin.Int, hostName: kotlin.String, compressionMode: kotlin.String, compressionSize: kotlin.Int, originalSize: kotlin.Int, content: io.ktor.client.request.forms.InputProvider, index: kotlin.Int? = null, lastChunk: kotlin.Int? = null): HttpResponse<Upload> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            formData {
                compressionMode?.apply { append("compressionMode", compressionMode) }
                compressionSize?.apply { append("compressionSize", compressionSize) }
                originalSize?.apply { append("originalSize", originalSize) }
                content?.apply { append("content", content) }
                index?.apply { append("index", index) }
                lastChunk?.apply { append("lastChunk", lastChunk) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/{host_name}/rest/uploads/{id}".replace("{" + "id" + "}", "$id").replace("{" + "host_name" + "}", "$hostName"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * initiates file chunk upload session endpoint
     * initiates file chunk upload session
     * @param id The ID of the entity
     * @param body 
     * @return Upload
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFilesIdActionsInitiateUploadPost(id: kotlin.String, body: InitiateUploadPostRequest): HttpResponse<Upload> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/files/{id}/actions/initiateUpload".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * initiates file chunk upload session endpoint
     * initiates file chunk upload session
     * @param id The ID of the entity
     * @param body 
     * @return Upload
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersIdActionsInitiateUploadPost(id: kotlin.String, body: InitiateUploadPostRequest): HttpResponse<Upload> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/folders/{id}/actions/initiateUpload".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * initiates archive file chunk upload session endpoint
     * initiates archive file chunk upload session
     * @param id The ID of the entity
     * @param body 
     * @return Upload
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restFoldersIdActionsInitiateUploadZipPost(id: kotlin.String, body: InitiateUploadPostRequest): HttpResponse<Upload> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/folders/{id}/actions/initiateUpload/zip".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * initiates file chunk upload session endpoint
     * initiates file chunk upload session
     * @param id The ID of the entity
     * @param body 
     * @return Upload
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restMailIdActionsInitiateUploadPost(id: kotlin.String, body: InitiateUploadPostRequest): HttpResponse<Upload> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/mail/{id}/actions/initiateUpload".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * initiates file chunk upload session endpoint
     * initiates file chunk upload session
     * @param id The ID of the entity
     * @param body 
     * @return Upload
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restPublicMailIdActionsInitiateUploadPost(id: kotlin.String, body: InitiateUploadPostRequest): HttpResponse<Upload> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/public/mail/{id}/actions/initiateUpload".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * initiates file chunk upload session endpoint
     * initiates file chunk upload session
     * @param ref The ref of the Request File
     * @param body 
     * @return Upload
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restRequestFileRefActionsInitiateUploadPost(ref: kotlin.String, body: InitiateUploadPostRequest): HttpResponse<Upload> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/requestFile/{ref}/actions/initiateUpload".replace("{" + "ref" + "}", "$ref"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get upload server configuration
     * Returns the details of the upload server configuration
     * @return AcfsConfig
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restUploadsConfigGet(): HttpResponse<AcfsConfig> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/uploads/config",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Fetch all paused user&#39;s upload sessions
     * Returns all paused user&#39;s upload sessions
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param locateId If specified, \&quot;offset\&quot; parameter will be ignored                                             and the page containing entity with this Id will be returned. (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<Upload>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restUploadsGet(offset: kotlin.Int? = null, limit: kotlin.Int? = null, locateId: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<Upload>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        locateId?.apply { localVariableQuery["locate_id"] = listOf("$locateId") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/uploads",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestUploadsGetResponse>().map { value }
    }

    @Serializable(RestUploadsGetResponse.Companion::class)
    private class RestUploadsGetResponse(val value: List<Upload>) {
        companion object : KSerializer<RestUploadsGetResponse> {
            private val serializer: KSerializer<List<Upload>> = serializer<List<Upload>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestUploadsGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestUploadsGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Terminate chunk upload session
     * Terminates chunk upload session
     * @param id upload id
     * @return void
     */
    open suspend fun restUploadsIdDelete(id: kotlin.Int): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/uploads/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Upload
     * Returns the details of the specified upload
     * @param id ID of the upload to retrieve
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return Upload
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restUploadsIdGet(id: kotlin.Int, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<Upload> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/uploads/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
