/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.AdminRole
import org.openapitools.client.models.AdminUserImport
import org.openapitools.client.models.Folder
import org.openapitools.client.models.LdapSearchResults
import org.openapitools.client.models.RecentObjectsPostRequest
import org.openapitools.client.models.Settings
import org.openapitools.client.models.SettingsPut
import org.openapitools.client.models.User
import org.openapitools.client.models.UserDistributionList
import org.openapitools.client.models.UserForcedPasswordChangePut
import org.openapitools.client.models.UserLoginPost
import org.openapitools.client.models.UserMe
import org.openapitools.client.models.UserMePinsPostRequest
import org.openapitools.client.models.UserMobileNumberPasswordPut
import org.openapitools.client.models.UserNamePasswordPut
import org.openapitools.client.models.UserPost
import org.openapitools.client.models.UserPreauthPost
import org.openapitools.client.models.UserQuota
import org.openapitools.client.models.UserRegisterPost
import org.openapitools.client.models.UserRequestPasswordResetPost
import org.openapitools.client.models.UserResetPasswordPost
import org.openapitools.client.models.UserTfaPost
import org.openapitools.client.models.UserTfaPut
import org.openapitools.client.models.UserTfaTotpResetSecretPost
import org.openapitools.client.models.UserTfaTotpVerifySecretPost
import org.openapitools.client.models.UserTosPost

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class UsersApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * imports users endpoint
     * bulk imports users and optionally update existing users
     * @param content The file containing the users to be imported.
     * @param updateIfExists If user exists, update user&#39;s settings (optional)
     * @param sendNotification If true, a notification email will be sent to each newly created users (optional)
     * @param partialSuccess If true, partial processing will be performed, i.e., only validated users are imported, while others are rejected (optional)
     * @return AdminUserImport
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restAdminUsersActionsImportPost(content: io.ktor.client.request.forms.InputProvider, updateIfExists: kotlin.Boolean? = null, sendNotification: kotlin.Boolean? = null, partialSuccess: kotlin.Boolean? = null): HttpResponse<AdminUserImport> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            formData {
                content?.apply { append("content", content) }
                updateIfExists?.apply { append("updateIfExists", updateIfExists) }
                sendNotification?.apply { append("sendNotification", sendNotification) }
                partialSuccess?.apply { append("partialSuccess", partialSuccess) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/admin/users/actions/import",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Return user which is LDAP distribution list
     * Return user which is LDAP distribution list
     * @param emailColonIn 
     * @return UserDistributionList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restUsersActionsGetDistributionListGet(emailColonIn: kotlin.collections.List<kotlin.String>): HttpResponse<UserDistributionList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        emailColonIn?.apply { localVariableQuery["email:in"] = toMultiValue(this, "csv") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/users/actions/getDistributionList",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * User login
     * User login.
     * @param body User Login
     * @return void
     */
    open suspend fun restUsersActionsLoginPost(body: UserLoginPost): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/users/actions/login",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Updates token state
     * Updates current session state to be not outdated any more
     * @return void
     */
    open suspend fun restUsersAliveTokenPut(): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/users/aliveToken",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Deletes Users
     * Mark the specified users as deleted. The size of request User UUID is limited (recommend &lt;&#x3D; 100)
     * @param idColonIn List of the users id which will be deleted
     * @param retainToUser New owner id to re-assign data to (required if retainData or retainPermissionToSharedData is True) (optional)
     * @param remoteWipe Remote wipe data on desktop and mobile devices (optional)
     * @param deleteUnsharedData Delete all data owned by the user (required and must be True if retainData is False and vice versa) (optional)
     * @param retainData Retain users data (required and must be True if deleteUnsharedData is False and vice versa) (optional)
     * @param retainPermissionToSharedData Retain permissions to shared data (optional)
     * @param withdrawFileLinks Delete attached files in emails sent by deleted/demoted users (optional)
     * @param withdrawRequestFiles Delete request files emails sent by deleted/demoted users (optional)
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restUsersDelete(idColonIn: kotlin.String, retainToUser: kotlin.String? = null, remoteWipe: kotlin.Boolean? = null, deleteUnsharedData: kotlin.Boolean? = null, retainData: kotlin.Boolean? = null, retainPermissionToSharedData: kotlin.Boolean? = null, withdrawFileLinks: kotlin.Boolean? = null, withdrawRequestFiles: kotlin.Boolean? = null, partialSuccess: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        idColonIn?.apply { localVariableQuery["id:in"] = listOf("$idColonIn") }
        retainToUser?.apply { localVariableQuery["retainToUser"] = listOf("$retainToUser") }
        remoteWipe?.apply { localVariableQuery["remoteWipe"] = listOf("$remoteWipe") }
        deleteUnsharedData?.apply { localVariableQuery["deleteUnsharedData"] = listOf("$deleteUnsharedData") }
        retainData?.apply { localVariableQuery["retainData"] = listOf("$retainData") }
        retainPermissionToSharedData?.apply { localVariableQuery["retainPermissionToSharedData"] = listOf("$retainPermissionToSharedData") }
        withdrawFileLinks?.apply { localVariableQuery["withdrawFileLinks"] = listOf("$withdrawFileLinks") }
        withdrawRequestFiles?.apply { localVariableQuery["withdrawRequestFiles"] = listOf("$withdrawRequestFiles") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/users",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get a list of Users
     * Returns a list of Users in the system.                   This call will only work for users with admin access.
     * @param email The user&#39;s email (optional)
     * @param emailColonContains The user&#39;s email. Search for result that contains specified characters in this parameter. (optional)
     * @param name The name of the user (optional)
     * @param nameColonContains The name of the user. Search for result that contains specified characters in this parameter. (optional)
     * @param metadata The metadata of the user (optional)
     * @param metadataContains The metadata of the user. Search for result that contains specified characters in this parameter. (optional)
     * @param deleted Whether the user has been deleted (optional)
     * @param active Whether the user is an actual kitework user (optional)
     * @param verified Whether the user is verified (optional)
     * @param suspended Whether the user is suspended (optional)
     * @param isRecipient Whether user is recipient (optional)
     * @param allowsCollaboration Whether user&#39;s profile allows collaboration access (optional)
     * @param created User creation date (optional)
     * @param createdColonGt User creation date. Search for result that has this parameter value greater than specified. (optional)
     * @param createdColonGte User creation date. Search for result that has this parameter value greater or equal to the specified. (optional)
     * @param createdColonLt User creation date. Search for result that has this parameter value less than specified. (optional)
     * @param createdColonLte User creation date. Search for result that has this parameter value less or equal to the specified. (optional)
     * @param orderBy Sorting options (optional)
     * @param offset Offset (optional)
     * @param limit Limit (optional)
     * @param locateId If specified, \&quot;offset\&quot; parameter will be ignored                                             and the page containing entity with this Id will be returned. (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<User>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restUsersGet(email: kotlin.String? = null, emailColonContains: kotlin.String? = null, name: kotlin.String? = null, nameColonContains: kotlin.String? = null, metadata: kotlin.String? = null, metadataContains: kotlin.String? = null, deleted: kotlin.Boolean? = null, active: kotlin.Boolean? = null, verified: kotlin.Boolean? = null, suspended: kotlin.Boolean? = null, isRecipient: kotlin.Boolean? = null, allowsCollaboration: kotlin.Boolean? = null, created: kotlin.String? = null, createdColonGt: kotlin.String? = null, createdColonGte: kotlin.String? = null, createdColonLt: kotlin.String? = null, createdColonLte: kotlin.String? = null, orderBy: kotlin.collections.List<kotlin.String>? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null, locateId: kotlin.Int? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<User>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        email?.apply { localVariableQuery["email"] = listOf("$email") }
        emailColonContains?.apply { localVariableQuery["email:contains"] = listOf("$emailColonContains") }
        name?.apply { localVariableQuery["name"] = listOf("$name") }
        nameColonContains?.apply { localVariableQuery["name:contains"] = listOf("$nameColonContains") }
        metadata?.apply { localVariableQuery["metadata"] = listOf("$metadata") }
        metadataContains?.apply { localVariableQuery["metadataContains"] = listOf("$metadataContains") }
        deleted?.apply { localVariableQuery["deleted"] = listOf("$deleted") }
        active?.apply { localVariableQuery["active"] = listOf("$active") }
        verified?.apply { localVariableQuery["verified"] = listOf("$verified") }
        suspended?.apply { localVariableQuery["suspended"] = listOf("$suspended") }
        isRecipient?.apply { localVariableQuery["isRecipient"] = listOf("$isRecipient") }
        allowsCollaboration?.apply { localVariableQuery["allowsCollaboration"] = listOf("$allowsCollaboration") }
        created?.apply { localVariableQuery["created"] = listOf("$created") }
        createdColonGt?.apply { localVariableQuery["created:gt"] = listOf("$createdColonGt") }
        createdColonGte?.apply { localVariableQuery["created:gte"] = listOf("$createdColonGte") }
        createdColonLt?.apply { localVariableQuery["created:lt"] = listOf("$createdColonLt") }
        createdColonLte?.apply { localVariableQuery["created:lte"] = listOf("$createdColonLte") }
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        locateId?.apply { localVariableQuery["locate_id"] = listOf("$locateId") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/users",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestUsersGetResponse>().map { value }
    }

    @Serializable(RestUsersGetResponse.Companion::class)
    private class RestUsersGetResponse(val value: List<User>) {
        companion object : KSerializer<RestUsersGetResponse> {
            private val serializer: KSerializer<List<User>> = serializer<List<User>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestUsersGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestUsersGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Return admin roles of the specified user id.
     * Returns the details of all adminroles                   (active and deleted users) with the specified user id.
     * @param id ID of the user to retrieve admin role
     * @param orderBy Sorting options (optional)
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return kotlin.collections.List<AdminRole>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restUsersIdAdminRolesGet(id: kotlin.String, orderBy: kotlin.collections.List<kotlin.String>? = null, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<kotlin.collections.List<AdminRole>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        orderBy?.apply { localVariableQuery["orderBy"] = toMultiValue(this, "csv") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/users/{id}/adminRoles".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestUsersIdAdminRolesGetResponse>().map { value }
    }

    @Serializable(RestUsersIdAdminRolesGetResponse.Companion::class)
    private class RestUsersIdAdminRolesGetResponse(val value: List<AdminRole>) {
        companion object : KSerializer<RestUsersIdAdminRolesGetResponse> {
            private val serializer: KSerializer<List<AdminRole>> = serializer<List<AdminRole>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestUsersIdAdminRolesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestUsersIdAdminRolesGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Deletes a User
     * Mark the specified user as deleted. This user will still be returned in the GET Users query.
     * @param id ID of the user to delete
     * @param retainToUser New owner id to re-assign data to (required if retainData or retainPermissionToSharedData is True) (optional)
     * @param remoteWipe Remote wipe data on desktop and mobile devices (optional)
     * @param deleteUnsharedData Delete all data owned by the user (required and must be True if retainData is False and vice versa) (optional)
     * @param retainData Retain users data (required and must be True if deleteUnsharedData is False and vice versa) (optional)
     * @param retainPermissionToSharedData Retain permissions to shared data (optional)
     * @param withdrawFileLinks Delete attached files in emails sent by deleted/demoted users (optional)
     * @param withdrawRequestFiles Delete request files emails sent by deleted/demoted users (optional)
     * @param partialSuccess Whether to perform action on valid items even if some ones fail (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restUsersIdDelete(id: kotlin.String, retainToUser: kotlin.String? = null, remoteWipe: kotlin.Boolean? = null, deleteUnsharedData: kotlin.Boolean? = null, retainData: kotlin.Boolean? = null, retainPermissionToSharedData: kotlin.Boolean? = null, withdrawFileLinks: kotlin.Boolean? = null, withdrawRequestFiles: kotlin.Boolean? = null, partialSuccess: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        retainToUser?.apply { localVariableQuery["retainToUser"] = listOf("$retainToUser") }
        remoteWipe?.apply { localVariableQuery["remoteWipe"] = listOf("$remoteWipe") }
        deleteUnsharedData?.apply { localVariableQuery["deleteUnsharedData"] = listOf("$deleteUnsharedData") }
        retainData?.apply { localVariableQuery["retainData"] = listOf("$retainData") }
        retainPermissionToSharedData?.apply { localVariableQuery["retainPermissionToSharedData"] = listOf("$retainPermissionToSharedData") }
        withdrawFileLinks?.apply { localVariableQuery["withdrawFileLinks"] = listOf("$withdrawFileLinks") }
        withdrawRequestFiles?.apply { localVariableQuery["withdrawRequestFiles"] = listOf("$withdrawRequestFiles") }
        partialSuccess?.apply { localVariableQuery["partialSuccess"] = listOf("$partialSuccess") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/users/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get User
     * Returns the details of the specified user (this includes email address and name)
     * @param id ID of the user to retrieve
     * @return User
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restUsersIdGet(id: kotlin.String): HttpResponse<User> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/users/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Deletes a profile image
     * Deletes an image file to use as profile image
     * @param id user id
     * @return void
     */
    open suspend fun restUsersIdProfileImageDelete(id: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/users/{id}/profileImage".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Uploads a profile image
     * Uploads an image file to use as profile image
     * @param id user id
     * @param body file content
     * @return void
     */
    open suspend fun restUsersIdProfileImagePost(id: kotlin.String, body: io.ktor.client.request.forms.InputProvider): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            formData {
                body?.apply { append("body", body) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/users/{id}/profileImage".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get User Settings
     * Returns the user settings
     * @param id ID of the user to retrieve settings for
     * @return Settings
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restUsersIdSettingsGet(id: kotlin.String): HttpResponse<Settings> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/users/{id}/settings".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update User Settings
     * Updates the settings for the specified user
     * @param id ID of the user to update settings for
     * @param body The Settings details
     * @return void
     */
    open suspend fun restUsersIdSettingsPut(id: kotlin.String, body: SettingsPut): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/users/{id}/settings".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Find users in LDAP by input supplied
     * Returns a list of Users in LDAP by the input supplied.
     * @param `value` The user&#39;s email or name
     * @param with With parameters (optional)
     * @param mode Response mode (optional)
     * @return LdapSearchResults
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restUsersLdapSearchGet(`value`: kotlin.String, with: kotlin.String? = null, mode: kotlin.String? = null): HttpResponse<LdapSearchResults> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        `value`?.apply { localVariableQuery["value"] = listOf("$`value`") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/users/ldapSearch",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Change the password for current user after expired
     * Change the password for current user after password expired
     * @param body Password and previous password
     * @return void
     */
    open suspend fun restUsersMeForcedPasswordChangePost(body: UserForcedPasswordChangePut): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/users/me/forcedPasswordChange",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get current logged in User
     * Returns the details of the current user (this includes email address and name)
     * @return UserMe
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restUsersMeGet(): HttpResponse<UserMe> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/users/me",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update mobile number of the current user
     * Update mobile number of the current user
     * @param body The user&#39;s mobile number update details
     * @return void
     */
    open suspend fun restUsersMeMobileNumberPut(body: UserMobileNumberPasswordPut): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/users/me/mobileNumber",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete user pin
     * Delete user pin
     * @param body 
     * @return void
     */
    open suspend fun restUsersMePinsDelete(body: UserMePinsPostRequest): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/users/me/pins",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Add item to user pin
     * Add item to user pin
     * @param body 
     * @return void
     */
    open suspend fun restUsersMePinsPost(body: UserMePinsPostRequest): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/users/me/pins",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Update current user
     * Updates the details of current user. e.g.: Change their name or password
     * @param body The user details
     * @return void
     */
    open suspend fun restUsersMePut(body: UserNamePasswordPut): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/users/me",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Return user&#39;s quota
     * Return user&#39;s quota
     * @param filter  (optional)
     * @return UserQuota
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restUsersMeQuotaGet(filter: kotlin.String? = null): HttpResponse<UserQuota> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        filter?.apply { localVariableQuery["filter"] = listOf("$filter") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/users/me/quota",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Return user&#39;s recent items
     * Return user&#39;s recent items
     * @param mode  (optional)
     * @param with  (optional)
     * @param type  (optional)
     * @param returnEntity  (optional)
     * @return kotlin.collections.List<Folder>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun restUsersMeRecentGet(mode: kotlin.String? = null, with: kotlin.String? = null, type: kotlin.collections.List<kotlin.String>? = null, returnEntity: kotlin.Boolean? = null): HttpResponse<kotlin.collections.List<Folder>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        with?.apply { localVariableQuery["with"] = listOf("$with") }
        type?.apply { localVariableQuery["type"] = toMultiValue(this, "csv") }
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/users/me/recent",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<RestUsersMeRecentGetResponse>().map { value }
    }

    @Serializable(RestUsersMeRecentGetResponse.Companion::class)
    private class RestUsersMeRecentGetResponse(val value: List<Folder>) {
        companion object : KSerializer<RestUsersMeRecentGetResponse> {
            private val serializer: KSerializer<List<Folder>> = serializer<List<Folder>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: RestUsersMeRecentGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = RestUsersMeRecentGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Delete user&#39;s recent item
     * Delete user&#39;s recent item
     * @param id The ID of the entity
     * @return void
     */
    open suspend fun restUsersMeRecentIdDelete(id: kotlin.Int): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/rest/users/me/recent/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Adding objects to user&#39;s recent items
     * Adding objects to user&#39;s recent items
     * @param body 
     * @return void
     */
    open suspend fun restUsersMeRecentPost(body: RecentObjectsPostRequest): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/users/me/recent",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Two Factor Authentication
     * Two Factor Authentication
     * @param body TFA
     * @return void
     */
    open suspend fun restUsersMeTfaAuthPost(body: UserTfaPost): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/users/me/tfa/auth",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Two Factor Authentication
     * Two Factor Authentication
     * @param referral Referral URL (optional)
     * @return void
     */
    open suspend fun restUsersMeTfaChallengePost(referral: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        referral?.apply { localVariableQuery["referral"] = listOf("$referral") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/users/me/tfa/challenge",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Two Factor Authentication
     * Two Factor Authentication
     * @return void
     */
    open suspend fun restUsersMeTfaConfigGet(): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/users/me/tfa/config",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Reset secret key for time-based OTP of the current user
     * Reset secret key for time-based OTP of the current user
     * @param body The user&#39;s credential to reset TOTP secret
     * @return void
     */
    open suspend fun restUsersMeTfaResetTotpSecretPost(body: UserTfaTotpResetSecretPost): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/users/me/tfa/resetTotpSecret",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Setup 2FA settings
     * Updates the 2FA settings for the current user
     * @param body The Settings details
     * @return void
     */
    open suspend fun restUsersMeTfaSetupPut(body: UserTfaPut): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/rest/users/me/tfaSetup",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Setup secret key for Time-based OTP of the current user
     * Setup secret key for Time-based OTP of the current user
     * @return void
     */
    open suspend fun restUsersMeTfaSetupTotpSecretGet(): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/users/me/tfa/setupTotpSecret",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Verify code for finalising secret key for timed-based OTP
     * Verify code for finalising secret key for timed-based OTP
     * @param body OTP
     * @return void
     */
    open suspend fun restUsersMeTfaVerifyTotpSecretPost(body: UserTfaTotpVerifySecretPost): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/users/me/tfa/verifyTotpSecret",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Terms of Service
     * Terms of Service
     * @return void
     */
    open suspend fun restUsersMeTosGet(): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/rest/users/me/tos",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Terms of Service
     * Terms of Service
     * @param body TOS acceptance
     * @return void
     */
    open suspend fun restUsersMeTosPost(body: UserTosPost): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/users/me/tos",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Create a User
     * Creates a new User in the system by specifying an email address and name.
     * @param body The user details
     * @param returnEntity Return information about newly created entity (optional)
     * @param mode Response mode (optional)
     * @return void
     */
    open suspend fun restUsersPost(body: UserPost, returnEntity: kotlin.Boolean? = null, mode: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        returnEntity?.apply { localVariableQuery["returnEntity"] = listOf("$returnEntity") }
        mode?.apply { localVariableQuery["mode"] = listOf("$mode") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/users",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * User login preauth
     * User login preauth.
     * @param body User preauth
     * @return void
     */
    open suspend fun restUsersPreauthPost(body: UserPreauthPost): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/users/preauth",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Register a User
     * Registers a new User in the system by specifying an email address and password.
     * @param body The user details
     * @return void
     */
    open suspend fun restUsersRegisterPost(body: UserRegisterPost): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/users/register",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Request for password reset
     * Request for password reset of existing user
     * @param body The user email
     * @return void
     */
    open suspend fun restUsersRequestPasswordResetPost(body: UserRequestPasswordResetPost): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/users/requestPasswordReset",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Reset password
     * Reset password of an existing user
     * @param body The password reset data
     * @return void
     */
    open suspend fun restUsersResetPasswordPost(body: UserResetPasswordPost): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = body

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/rest/users/resetPassword",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
